mat-list.mat-list.mat-list-base.mat-card-premission-list {
  display: flex;
  float: right;
  padding: 0;
}

mat-list.mat-list.mat-list-base.mat-card-premission-list .mat-list-item ::ng-deep .mat-list-item-content {
  padding: 1px;
}
