<div fxLayout='row' fxLayoutGap="20px">
    <div fxFlex="70%">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Prescriptions</mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onOpenForm()">
                    <mat-icon>input</mat-icon>
                    <span>{{panelOpenState ? 'Close' : 'Open'}} Form</span>
                </button>
                <button mat-menu-item (click)="onOpenList()"> <!--disabled-->
                    <mat-icon>list</mat-icon>
                    <span>{{listOpenState ? 'Close' : 'Open'}} List</span>
                </button>
            </mat-menu>
          </mat-card-header>
          <ng-container *ngIf="panelOpenState">
            <form [formGroup]="form" class="normal-form" (submit)="onSave()">
              <mat-form-field class="record-date">
                  <input matInput readonly [matDatepicker]="picker" formControlName="record_date" [max]="currentDate" placeholder="Date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker color="primary"></mat-datepicker>
              </mat-form-field>
              <ng-container formArrayName="prescriptions">
                <div *ngFor="let group of prescriptionArray.controls; let i = index;" [formGroupName]="i">
                    <div class="form-field-block">
                        <mat-checkbox formControlName="maintenableFlg">Maintenable</mat-checkbox>
                        <div class="action-btn">
                            <button mat-icon-button (click)="addPrescription()" type="button"><mat-icon>add</mat-icon></button>
                            <button mat-icon-button color="warn" *ngIf="prescriptionArray.controls.length > 1" (click)="removePrescription(i)" type="button"><mat-icon>delete_outline</mat-icon></button>
                        </div>
                    </div>
                    <div class="form-field-block">
                        <mat-form-field>
                            <input matInput type="text" formControlName="medicine" placeholder="Medicine">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="text" formControlName="preparation" placeholder="Preparation">
                        </mat-form-field>
                    </div>
                    <div class="form-field-block">
                        <mat-form-field>
                            <input matInput type="text" formControlName="sig" placeholder="Sig">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="number" formControlName="quantity" placeholder="Quantity">
                        </mat-form-field>
                    </div>


                </div>

              </ng-container>

              <button mat-raised-button color="primary" type="submit">Submit</button>
            </form>
          </ng-container>

          <ng-container *ngIf="listOpenState">
                <app-prescription-list></app-prescription-list>
          </ng-container>
      </mat-card>

    </div>
    <div fxFlex="30%">

        <mat-card class="allergy-card">
          <mat-card-header>
            <mat-card-title>Allergies</mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onOpenAllergyForm()">
                    <mat-icon>input</mat-icon>
                    <span>{{panelOpenState ? 'Close' : 'Open'}} Form</span>
                </button>
            </mat-menu>
          </mat-card-header>
          <ng-container *ngIf="allergyFormOpenState">
            <app-allergy-edit></app-allergy-edit>
          </ng-container>
          <app-allergy-list></app-allergy-list>

        </mat-card>
        <div class="tips">
          <p>difference between prescription drugs and OTC drugs</p>
              <h3 matSubheader>Prescription drugs are:</h3>
              <ul>
                  <li>Prescribed by a doctor</li>
                    <li>Bought at a pharmacy</li>
                      <li>Prescribed for and intended to be used by one person</li>
                        <li>Regulated by FDA through the New Drug Application (NDA) process.
                    This is the formal step a drug sponsor takes to ask that the FDA consider approving a new drug for marketing in the United States.
                    An NDA includes all animal and human data and analyses of the data, as well as information about how the drug behaves in the body and how it is manufactured.</li>
              </ul>

              <h3 matSubheader>OTC drugs are:</h3>
              <ul>
                  <li>Drugs that do NOT require a doctor's prescription</li>
                    <li>Bought off-the-shelf in stores</li>
                      <li>Regulated by FDA through OTC Drug monographs. OTC drug monographs are a kind of "recipe book" covering acceptable ingredients, doses, formulations,
                        and labeling. Monographs will continually be updated adding additional ingredients and labeling as needed.
                        Products conforming to a monograph may be marketed without further FDA clearance, while those that do not,
                        must undergo separate review and approval through the "New Drug Approval System."</li>
              </ul>
          </div>

    </div>
</div>
<!-- <router-outlet></router-outlet> -->
