<mat-nav-list>
    <div class="profile-card" (click)="onOpenProfile()">
        <img [src]="imagePath ? imagePath : defaultImage" alt="Soufiane FADIL">
        <div class="info">
            <h2>{{user?.name.firstname}} {{user?.name.midlename}} {{user?.name.lastname}}</h2>
            <h4>{{email}}</h4>
        </div>
    </div>
    <button mat-stroked-button style="margin: 0 10px 10px; width: 94%; border-radius: 20px;" (click)="onDialogOpen()">Create patient</button>
    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/secure/dashboard">
        <mat-icon>dashboard</mat-icon>
        Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/secure/users">
        <mat-icon>assignment_ind</mat-icon>
        My Patients
    </a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a> -->
    <!--
    <mat-divider></mat-divider>
    <h2 matSubheader>Tools</h2> -->
    <!-- <a mat-list-item (click)="onImportOpen()">
        <mat-icon>cloud_upload</mat-icon>
        Import
    </a>

    <a mat-list-item>
        <mat-icon>cloud_download</mat-icon>
        Export
    </a>

    <a mat-list-item disabled>
        <mat-icon>print</mat-icon>
        Print
    </a> -->
    <mat-divider></mat-divider>
    <h2 matSubheader>More</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/secure/users/patients/all">
        <mat-icon>supervisor_account</mat-icon>
        All patients
    </a>
</mat-nav-list>