:host {
    .mat-icon {
        vertical-align: middle;
        margin-right: 20px;
    }
    .profile-card {
        padding: 0 20px 10px 20px;
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
        }
        .info {
            padding-left: 1em;
            h2 {
                margin: 0;
                font-size: 20px;
                font-weight: 100;
            }
            h4 {
                margin: 0;
                font-weight: 500;
            }
        }
    }
}

.arrow-up mat-icon {
    transform: rotateZ(-180deg);
}

mat-icon {
    transition: .15s transform;
}

a.mat-list-item span {
    flex-grow: 2;
}

.action {
    flex-grow: 1;
    text-align: right;
}

.loading {
    animation: progress 2s ease-in-out infinite;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .2), transparent);
}

@keyframes progress {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: calc(200px + 100%) 0;
    }
}