<div class="profile-card" *ngIf="isLoading">
    <svg height="50" width="20%" class="loading">
    <circle cx="25" cy="25" r="25" fill="#d8d5d1" />
  </svg>
    <div class="info">
        <h2>
            <svg height="23px" width="100%" class="loading">
          <rect width="100%" height="100%" rx="5px" ry="5px" style="fill:#d8d5d1;" />
        </svg>
        </h2>
        <h4>
            <svg height="18px" width="100%" class="loading">
          <rect width="80%" height="100%" rx="5px" ry="5px" style="fill:#d8d5d1;" />
        </svg>
        </h4>
    </div>
</div>
<div class="profile-card" (click)="onOpenProfile()" *ngIf="!isLoading">
    <img [src]="imagePreview ? imagePreview : defaultImage" [alt]="fullname">
    <div class="info">
        <h2>{{fullname | titlecase}}</h2>
        <h4>{{email}}</h4>
    </div>
</div>

<button mat-raised-button color="accent" style="margin: 0 10px 10px; width: 94%; border-radius: 20px;" (click)="onDialogOpen()">{{ 'repairs.create-repairs' | translate }}</button>
<mat-divider></mat-divider>
<mat-nav-list>

    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/secure/dashboard">
        <mat-icon>dashboard</mat-icon>
        {{ 'dashboard.title' | translate }}
    </a> -->
    <a mat-list-item routerLinkActive="active" routerLink="/secure/repairs/list">
        <mat-icon>handyman</mat-icon>
        {{ 'repairs.my-repairs' | translate }}
    </a>

    <a mat-list-item routerLinkActive="active" routerLink="/secure/users/customers">
        <mat-icon>supervisor_account</mat-icon>
        Customers
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="/secure/users/technicians">
        <mat-icon>supervised_user_circle</mat-icon>
        Technicians
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item (click)="onToogleLabel()" [ngClass]="{'arrow-up': showLabel==true}">
        <mat-icon>keyboard_arrow_down</mat-icon>
        {{ 'labels.title' | translate }}
    </a>
    <ng-container *ngIf="showLabel">
        <a mat-list-item *ngFor="let label of labels">
            <mat-icon>label</mat-icon>
            <span (click)="onFilterLabel(label.id)">{{label.label}}</span>
            <div class="action">
                <button mat-icon-button (click)="onCreateLabel(label.id)" matTooltip="{{ 'common.edit' | translate }}">
                <mat-icon style="margin: unset;">create</mat-icon>
              </button>
                <button mat-icon-button (click)="onDeleteLabel(label.id)" matTooltip="{{ 'common.delete' | translate }}">
                <mat-icon style="margin: unset;">delete_outline</mat-icon>
              </button>
            </div>
        </a>
        <a mat-list-item (click)="onCreateLabel()">
            <mat-icon>add</mat-icon>
            {{ 'labels.create-labels' | translate }}
        </a>
    </ng-container>

    <mat-divider></mat-divider>
    <!-- <h2 matSubheader>Tools</h2> -->
    <!-- <a mat-list-item (click)="onImportOpen()">
        <mat-icon>cloud_upload</mat-icon>
        {{ 'common.import' | translate }}
    </a> -->

    <a mat-list-item (click)="onExportOpen()">
        <mat-icon>cloud_download</mat-icon>
        {{ 'common.export' | translate }}
    </a>

    <a mat-list-item (click)="onPrintOpen()">
        <mat-icon>print</mat-icon>
        {{ 'common.print' | translate }}
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="active" routerLink="/secure/repairs/all">
        <mat-icon>handyman</mat-icon>
        {{ 'repairs.all-repairs' | translate }}
    </a>
</mat-nav-list>