<h2 mat-dialog-title>
    {{ dialogTitle }}
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</h2>
<mat-dialog-content class="mat-typography">
    <!-- <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)"
        (initError)="handleInitError($event)"></webcam>

    <div class="snapshot" *ngIf="webcamImage">
        <img [src]="webcamImage.imageAsDataUrl" />
    </div> 
    <h4 *ngIf="errors.length > 0">Messages:</h4>
    <ul *ngFor="let error of errors">
        <li>{{error | json}}</li>
    </ul>
    -->
    <!-- <button mat-flat-button (click)="triggerSnapshot();" *ngIf="showWebcam">Take A Snapshot</button> -->
    <input style="display: none" type="file" (change)="fileChangeEvent($event)" #filePicker>

    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [resizeToWidth]="128" [onlyScaleDown]="true" [roundCropper]="false" format="png" outputType="base64" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()" [style.display]="showCropper ? null : 'none'" [alignImage]="'left'">
    </image-cropper>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onUpload()" *ngIf="isSelected">{{btnLabel}}</button>
    <button mat-raised-button type="button" color="accent" (click)="filePicker.click()" aria-label="Select picture">
        {{isSelected ? 'Change image' : 'Select image'}}
    </button>
</mat-dialog-actions>