<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="onToggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span *ngIf="!isLoading"> {{appTitle}} </span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li *ngIf="!isLoading">
                    <button mat-button matTooltip="{{ 'settings.language-tip' | translate }}">{{ 'settings.language-option.' + appLang | translate }}</button>
                </li>
                <li>
                    <button mat-icon-button matTooltip="{{ 'notifications.title' | translate }}">
                      <mat-icon matBadge="0" [matBadgeHidden]="!showBadge" matBadgePosition="above after" matBadgeColor="warn">notifications_none</mat-icon>
                  </button>
                </li>
                <li>
                    <button mat-icon-button matTooltip="{{ 'settings.title' | translate }}" (click)="onOpenSetting()">
                      <mat-icon>settings</mat-icon>
                  </button>
                </li>
                <li>
                    <button mat-icon-button matTooltip="{{ 'authentication.logout' | translate }}" (click)="onLogout()">
                    <mat-icon>exit_to_app</mat-icon>
                  </button>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>