<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span> {{config.title}} </span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button matTooltip="Help" (click)="onOpenDialog('help')">
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button matTooltip="Settings" (click)="onOpenDialog('setting')">
                      <mat-icon>settings</mat-icon>
                  </button>
                </li>
                <li>
                    <button mat-icon-button matTooltip="Logout" (click)="onLogout()">
                    <mat-icon>exit_to_app</mat-icon>
                  </button>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
