<div fxLayout='row' fxLayoutGap="20px">
    <div fxFlex="70%">
      <div class="button-row">
          <a mat-stroked-button routerLink="./present-illness" routerLinkActive="warn">Present Illness</a>
          <a mat-stroked-button routerLink="./past-medical" routerLinkActive="warn">Past Medical</a>
          <a mat-stroked-button routerLink="./social" routerLinkActive="warn">Social</a>
          <a mat-stroked-button routerLink="./family" routerLinkActive="warn">Family</a>
        </div>
        <router-outlet></router-outlet>
    </div>
    <div fxFlex="30%">
        <mat-list dense>
          <h3 matSubheader>News</h3>
          <mat-list-item> updating... </mat-list-item>
        </mat-list>
    </div>
</div>

