<mat-table [dataSource]="dataSource" matSort>
   <!-- Image Column -->
   <ng-container matColumnDef="img" cdkColumnDef="userImg">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let row">
          <div *ngIf="row.avatar; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
              <img [src]="row.avatar" [alt]="row.firstname" style="width:40px; height:40px; vertical-align: middle;border-radius: 100%;" />
          </ng-template>
          <ng-template #elseBlock>
              <img src="assets/images/blank.png" [alt]="row.firstname" style="width:40px; height:40px; vertical-align: middle;border-radius: 100%;" />
          </ng-template>
      </mat-cell>
  </ng-container>
  <!-- Fullname Column -->
  <ng-container matColumnDef="fullname">
      <mat-header-cell *matHeaderCellDef> Fullname </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.fullname }} </mat-cell>
  </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
    </ng-container>

    <!-- Start Column -->
    <ng-container matColumnDef="start">
        <mat-header-cell *matHeaderCellDef> Start </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.start | date }} </mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <ng-template [ngIf]="row.status === 0"><span style="color:#ff4081;font-weight: bold;">Pending</span></ng-template>
            <ng-template [ngIf]="row.status === 1"><span style="color:#3f51b5;font-weight: bold;">Confirmed</span></ng-template>
            <ng-template [ngIf]="row.status === 2"><span style="color:#f44336;font-weight: bold;">Canceled</span></ng-template>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef style="text-align: right;">
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
          <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="viewEvent(row.id)">
                      <mat-icon>launch</mat-icon>
                      <span>Edit</span>
                  </button>
              <button mat-menu-item (click)="onDelete(row.id)"> <!--disabled-->
                      <mat-icon>delete_outline</mat-icon>
                      <span>Delete</span>
                  </button>
          </mat-menu>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="3">
            <p class="mat-body">Loading data...</p>
        </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="3" id="no-data">
            <p class="mat-body">No appointment data.</p>
        </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': dataSource!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
</mat-table>
<mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="perPage"></mat-paginator>
