.component-page-header {
    padding: 2em 0 0;
}
table {
  width: 100%;
}

td.mat-cell.cdk-column-action.mat-column-action {
  text-align: right;
}

.hide {
  display: none;
}

#no-data {
  width: 100%;
  text-align: center;
}

.mat-paginator {
  background: transparent;
}

mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}

table.mat-table tbody tr td:last-child {
  width: 10%;
}

td.mat-cell.cdk-column-action.mat-column-action {
  text-align: right;
}

td.mat-cell.cdk-column-action.mat-column-action button {
  visibility: hidden;
}

tr:hover td.mat-cell.cdk-column-action.mat-column-action button {
  visibility: visible;
}

p.mat-body a {
  cursor: pointer;
}

