
<mat-card class="{{this.formProperties.slug}}-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{this.formProperties.name}}</mat-card-title>
    <mat-card-subtitle>{{patientId}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" class="normal-form" (submit)="onSubmit()">
      <h4 subheading-1>Basic Information</h4>
        <ng-container *ngFor="let formInput of this.formProperties.formInputs">
          {{formInput.type}}
            <ng-container [ngSwitch]="formInput.type">
                <!-- the same view can be shown in more than one case -->
                <ng-container *ngSwitchCase="date">
                    <mat-form-field>
                        <input matInput type="date" [formControlName]="this.formProperties.slug" placeholder="date">
                    </mat-form-field>
                </ng-container>
                <!--default case when there are no matches -->
                <ng-container *ngSwitchDefault>
                    <mat-form-field>
                        <input matInput type="text" [formControlName]="this.formProperties.slug" placeholder="text">
                    </mat-form-field>
                </ng-container>



            </ng-container>
        </ng-container>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onSubmit()">Submit</button>
    <button mat-button (click)="onViewAll()">View all</button>
  </mat-card-actions>
</mat-card>
