<h2 mat-dialog-title style="display: flex;justify-content: space-between;">{{title}}
    <button mat-icon-button mat-dialog-close align="end">
        <mat-icon>close</mat-icon>
    </button>
</h2>
<mat-dialog-content class="mat-typography">
  <div class="scanner-shell" [hidden]="!hasDevices">
  <mat-form-field appearance="fill">
    <select matNativeControl matInput (change)="onDeviceSelectChange($event.target.value)">
      <option value="" [selected]="!currentDevice">{{ 'qrcode.no-device-selected' | translate }}</option>
      <option *ngFor="let device of availableDevices" [value]="device.deviceId"
        [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
    </select>
  </mat-form-field>
    <div class="qr-scan-area">
        <!-- This is the npm package in-charge of scanning the QR -->
        <zxing-scanner [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
    [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
    (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>
    </div>


  </div>
    <ng-container *ngIf="hasPermission === undefined">
      <div [innerHTML]="'qrcode.permission-waiting' | translate"></div>
    </ng-container>

    <ng-container *ngIf="hasPermission === false">
      <div [innerHTML]="'qrcode.permission-denied' | translate"></div>
    </ng-container>

    <ng-container *ngIf="hasDevices === undefined">
      <div [innerHTML]="'qrcode.device-check-fail' | translate"></div>
    </ng-container>

    <ng-container *ngIf="hasDevices === false">
      <div [innerHTML]="'qrcode.no-device-found' | translate"></div>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="qrResultString">
  <div>
      <small>{{ 'qrcode.result' | translate }}</small>
      <strong>{{ patient.userId.name.firstname }}, {{ patient.userId.name.lastname }}</strong>
      <button mat-icon-button (click)="clearResult()">
        <mat-icon>close</mat-icon>
      </button>
  </div>

  <button mat-button (click)="onViewRecord(patient)" cdkFocusInitial>{{ 'qrcode.view-record' | translate }}</button>
</mat-dialog-actions>
