<form [formGroup]="form" class="normal-form" (submit)="onSave()">
  <mat-form-field class="record-date">
      <input matInput readonly [matDatepicker]="picker" formControlName="record_date" [max]="currentDate" placeholder="Date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker color="primary"></mat-datepicker>
  </mat-form-field>
  <editor formControlName="social" [init]="{plugins: 'link'}" [apiKey]="'6pnq043thyrdl0xy2pebscsxociv79cmgecrs7erj64buw5o'"></editor>
  <br/>
  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
