<nav>
  <mat-toolbar color="primary">
      <mat-toolbar-row>
          <button mat-button [routerLink]="['/']" routerLinkActive="accent">Clinicplus</button>
          <span class="example-spacer"></span>
          <button mat-button [routerLink]="['/page/about']" routerLinkActive="accent">
              About
          </button>
          <button mat-button [routerLink]="['/page/contact']" routerLinkActive="accent">
              Contact
          </button>
          <button mat-button [routerLink]="['/auth']" routerLinkActive="accent">
            Login
          </button>

      </mat-toolbar-row>
  </mat-toolbar>
</nav>
<main>

  <router-outlet></router-outlet>
</main>
