<div fxLayout='row wrap' fxLayoutGap="10px">
    <div fxFlex="15%" fxFlex.xs="100%" fxFlex.sm="15%" fxFlex.md="100%" style="position: relative;">
        <div *ngIf="isLoading" class="loading">
            <mat-spinner [diameter]="25"></mat-spinner>
        </div>
        <form [formGroup]="logoForm" (submit)="onSavePicture()" *ngIf="!isLoading">
            <input style="display: none" type="file" (change)="onFileChanged($event)" #filePicker>
            <div class="image-preview">
                <div *ngIf="isLoadingPic" class="loading">
                    <mat-spinner [diameter]="25"></mat-spinner>
                </div>
                <button mat-icon-button type="button" color="primary" (click)="filePicker.click()" aria-label="Change Logo">
                    <mat-icon>create</mat-icon>
                </button>
                <div *ngIf="imagePreview; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <img [src]="imagePreview">
                </ng-template>
                <ng-template #elseBlock>
                    <img src="assets/images/dummy_hospital.png" alt="" />
                </ng-template>
            </div>
            <p>Clinic Logo (200x200) pixels</p>
        </form>
    </div>
    <div fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="75%" fxFlex.md="100%" style="position: relative;">
        <div *ngIf="isLoading" class="loading">
            <mat-spinner [diameter]="25"></mat-spinner>
        </div>
        <form [formGroup]="form" class="normal-form" (submit)="onSaveGenSetting()" *ngIf="!isLoading">
            <h4 subheading-1>Clinic Information</h4>
            <div class="form-field-block">
                <mat-form-field>
                    <input matInput type="text" formControlName="clinicName" placeholder="Clinic Name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" formControlName="clinicOwner" placeholder="Clinic Owner">
                </mat-form-field>
            </div>

            <ng-container formArrayName="addresses" *ngIf="addressArray.length > 0">
                <div *ngFor="let address of addressArray.controls; let i = index;" [formGroupName]="i" class="addressGroup">

                    <div class="form-field-block">
                        <mat-form-field>
                            <input matInput type="text" formControlName="address1" placeholder="Street Address">
                        </mat-form-field>
                    </div>
                    <div class="form-field-block">
                        <mat-form-field>
                            <input matInput type="text" formControlName="address2" placeholder="Street Address Line 2">
                        </mat-form-field>
                    </div>
                    <div class="form-field-block">
                        <mat-form-field>
                            <input matInput type="text" formControlName="city" placeholder="City">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="text" formControlName="province" placeholder="Province">
                        </mat-form-field>
                    </div>
                    <div class="form-field-block">
                        <mat-form-field>
                            <input matInput type="text" formControlName="postalCode" placeholder="Postal Code">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="text" formControlName="country" placeholder="Country">
                        </mat-form-field>
                    </div>
                </div>
            </ng-container>

            <div class="form-field-block">
                <mat-form-field>
                    <input matInput type="text" formControlName="clinicEmail" placeholder="Clinic Email">
                </mat-form-field>
            </div>
            <div class="form-field-block">
                <mat-form-field>
                    <input matInput type="text" formControlName="prc" placeholder="PRC">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" formControlName="ptr" placeholder="PTR">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" formControlName="s2" placeholder="S2">
                </mat-form-field>
            </div>
            <ng-container formArrayName="clinicPhone" *ngIf="contactArray.length > 0">
                <div class="form-field-block form-field-contact" *ngFor="let contact of contactArray.controls; let i = index;" [formGroupName]="i" class="arrayGroup">
                    <mat-form-field class="contact">
                        <input matInput type="text" formControlName="contact" placeholder="Contact {{i+1}}">
                    </mat-form-field>
                    <div class="action-button">
                        <button mat-icon-button *ngIf="contactArray.controls.length < 3" (click)="addContact()" type="button"><mat-icon>add</mat-icon></button>
                        <!-- row delete button, hidden if there is just one row -->
                        <button mat-icon-button color="warn" *ngIf="contactArray.controls.length > 1" (click)="removeContact(i)" type="button"><mat-icon>delete_outline</mat-icon></button>
                    </div>
                </div>
            </ng-container>
            <ng-container formArrayName="clinicHours">
                <div class="form-field-block form-field-hour" *ngFor="let hour of hourArray.controls; let i = index;" [formGroupName]="i" class="arrayGroup">
                    <mat-form-field class="time">
                        <input matInput type="text" formControlName="morningOpen" placeholder="opening hour" aria-label="opening hour" [ngxTimepicker]="morningopenpicker" readonly>
                        <ngx-material-timepicker #morningopenpicker></ngx-material-timepicker>
                    </mat-form-field>
                    <mat-form-field class="time">
                        <input matInput type="text" formControlName="afternoonClose" placeholder="closing hour" aria-label="closing hour" [ngxTimepicker]="afternoonclosepicker" readonly>
                        <ngx-material-timepicker #afternoonclosepicker></ngx-material-timepicker>
                    </mat-form-field>
                    <div class="action-button">
                        <button mat-icon-button *ngIf="hourArray.controls.length < 3" (click)="addHour()" type="button"><mat-icon>add</mat-icon></button>
                        <button mat-icon-button color="warn" *ngIf="hourArray.controls.length > 1" (click)="removeHour(i)" type="button"><mat-icon>delete_outline</mat-icon></button>
                    </div>
                </div>
            </ng-container>
            <div class="form-field-block">
                <mat-checkbox formControlName="nobreak"> No Noon Break </mat-checkbox>
            </div>
            <br/>
            <button mat-raised-button color="primary" type="submit">Update</button>
        </form>
    </div>
</div>