<div fxLayout='row wrap' fxLayoutGap="10px">
    <div fxFlex="15%" fxFlex.xs="100%" fxFlex.sm="15%" fxFlex.md="100%" style="position: relative;">
      <h4>Latest Products</h4>
    </div>
    <div fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="75%" fxFlex.md="100%" style="position: relative;">

                <h4 subheading-1>Starter Plan</h4>
                <p>Details</p>
                <button mat-flat-button type="button" color="primary">Change plan</button>
                  <div fxLayout='row wrap' fxLayoutGap="10px">
                    <div fxFlex="48%" fxFlex.xs="100%" fxFlex.sm="47.9%" fxFlex.md="100%">

                    </div>
                    <div fxFlex="48%" fxFlex.xs="100%" fxFlex.sm="47.9%" fxFlex.md="100%">
                    </div>
                    <div fxFlex="48%" fxFlex.xs="100%" fxFlex.sm="47.9%" fxFlex.md="100%">
                    </div>
                  </div>

                <h4 subheading-1>Next charge details</h4>
                  <p>Next charge will be on Nov 20, 2019.</p>
                  <table>
                    <tr>
                      <th></th>
                      <th>Qty</th>
                      <th>Unit Price</th>
                    </tr>
                    <tr>
                      <td></td>
                      <td>1 set pc</td>
                      <td>35,000.00</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>1 printer</td>
                      <td>8,000.00</td>
                    </tr>
                  </table>
                <h4 subheading-1>Upgrade plan</h4>
                  <div fxLayout='row wrap' fxLayoutGap="10px">
                    <div fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="47.9%" fxFlex.md="100%">
                        <mat-card class="plan-card">
                            <mat-card-header>
                              <mat-card-title>Basic</mat-card-title>
                              <mat-card-subtitle>Monthly payment</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <mat-list>
                                  <mat-list-item><i class="material-icons">
                                      check_circle_outline
                                      </i> 1 set pc </mat-list-item>
                                  <mat-list-item><i class="material-icons">
                                      check_circle_outline
                                      </i> 1 printer </mat-list-item>
                                  <mat-list-item><i class="material-icons">
                                      check_circle_outline
                                      </i> Free Updates </mat-list-item>
                                  <mat-list-item><i class="material-icons">
                                      check_circle_outline
                                      </i> Lifetime Support </mat-list-item>
                                </mat-list>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-flat-button type="button">Change</button>
                            </mat-card-actions>
                          </mat-card>
                    </div>
                    <div fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="47.9%" fxFlex.md="100%">
                        <mat-card class="plan-card">
                            <mat-card-header>
                              <mat-card-title>Expanded</mat-card-title>
                              <mat-card-subtitle>Monthly payment</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <mat-list>
                                    <mat-list-item><i class="material-icons">
                                        check_circle_outline
                                        </i> 1 set pc setup</mat-list-item>
                                    <mat-list-item><i class="material-icons">
                                        check_circle_outline
                                      </i> 1 ipad</mat-list-item>
                                    <mat-list-item><i class="material-icons">
                                        check_circle_outline
                                        </i> 1 printer </mat-list-item>
                                    <mat-list-item><i class="material-icons">
                                        check_circle_outline
                                        </i> providers </mat-list-item>
                                    <mat-list-item><i class="material-icons">
                                        check_circle_outline
                                        </i> Free Updates </mat-list-item>
                                    <mat-list-item><i class="material-icons">
                                        check_circle_outline
                                        </i> Lifetime Support </mat-list-item>
                                  </mat-list>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-flat-button type="button">Change</button>
                            </mat-card-actions>
                          </mat-card>
                    </div>
                    <div fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="47.9%" fxFlex.md="100%">
                        <mat-card class="plan-card">
                            <mat-card-header>
                              <mat-card-title>Enterprise</mat-card-title>
                              <mat-card-subtitle>Pricing</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <mat-list>
                                    <mat-list-item><i class="material-icons">
                                        check_circle_outline
                                        </i> multi set pc setup</mat-list-item>
                                    <mat-list-item><i class="material-icons">
                                        check_circle_outline
                                      </i> 1 ipad</mat-list-item>
                                    <mat-list-item><i class="material-icons">
                                        check_circle_outline
                                        </i> multi printer </mat-list-item>
                                    <mat-list-item><i class="material-icons">
                                        check_circle_outline
                                        </i> multi providers connection</mat-list-item>
                                    <mat-list-item><i class="material-icons">
                                        check_circle_outline
                                        </i> multi clinic branching </mat-list-item>
                                    <mat-list-item><i class="material-icons">
                                        check_circle_outline
                                        </i> Free Updates </mat-list-item>
                                    <mat-list-item><i class="material-icons">
                                        check_circle_outline
                                        </i> Lifetime Support </mat-list-item>
                                  </mat-list>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-flat-button type="button">Change</button>
                            </mat-card-actions>
                          </mat-card>
                    </div>
                  </div>

    </div>
</div>


