<h2 mat-dialog-title>Request Access</h2>
<mat-dialog-content class="mat-typography">
  <mat-radio-group [(ngModel)]="optionPicked" (change)="onChangeOption($event);" aria-label="Select record" class="radio-group">
    <mat-radio-button value="all" class="radio-button">All records({{blocks.length}})</mat-radio-button>
    <mat-radio-button value="select" class="radio-button">
      <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="selectedOption" (ngModelChange)="filterBlock($event)" (selectionChange)="filterBlock($event)">
          <mat-option *ngFor="let block of blocks" [value]="block._id">
            {{block.timestamp | date:'medium'}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-radio-button>
  </mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="onRequest()" cdkFocusInitial [disabled]="canRequest">Request</button>
</mat-dialog-actions>
