<div fxLayout='row' fxLayoutGap="20px">
    <div fxFlex="70%">
        <nav mat-tab-nav-bar>
            <a mat-tab-link routerLink="./height" routerLinkActive #rlaHeight="routerLinkActive" [active]="rlaHeight.isActive">Height</a>
            <a mat-tab-link routerLink="./weight" routerLinkActive #rlaWeight="routerLinkActive" [active]="rlaWeight.isActive">Weight</a>
            <a mat-tab-link routerLink="./temperature" routerLinkActive #rlaTemperature="routerLinkActive" [active]="rlaTemperature.isActive">Temperature</a>
            <a mat-tab-link routerLink="./blood-pressure" routerLinkActive #rlaBloodPressure="routerLinkActive" [active]="rlaBloodPressure.isActive">Blood pressure</a>
            <a mat-tab-link routerLink="./respiratory-rate" routerLinkActive #rlaRespiratoryRate="routerLinkActive" [active]="rlaRespiratoryRate.isActive">Respiratory rate</a>
        </nav>
        <div class="physical-exam-wrap">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div fxFlex="30%">
        <div class="tips">
        <mat-list dense>
          <h3 matSubheader>7 Tips for a Successful Medical Exam</h3>
          <mat-list-item> Get a good night’s sleep</mat-list-item>
          <mat-list-item> Avoid salty or fatty foods </mat-list-item>
          <mat-list-item> Avoid exercise </mat-list-item>
          <mat-list-item> Don’t drink coffee or any caffeinated products </mat-list-item>
          <mat-list-item> Fasting </mat-list-item>
          <mat-list-item> Drink water </mat-list-item>
          <mat-list-item> Know your meds </mat-list-item>
        </mat-list>
        </div>
    </div>
</div>



