<h4>Adds</h4>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>you adds here</mat-card-title>
    <mat-card-subtitle>Author: john Doe</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      this will be the content of your adds.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>

    <!-- <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="onShare('fb')">Facebook</button>
      <button mat-menu-item (click)="onShare('twitter')">Twitter</button>
      <button mat-menu-item (click)="onShare('linkedin')">Linkedin</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      SHARE
    </button> -->
  </mat-card-actions>
</mat-card>
<!-- <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>myclinicsoft</mat-card-title>
    <mat-card-subtitle>Author: Randy Rebucas</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Myclinicsoft with blockchain technology.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="onShare('fb')">Facebook</button>
      <button mat-menu-item (click)="onShare('twitter')">Twitter</button>
      <button mat-menu-item (click)="onShare('linkedin')">Linkedin</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      SHARE
    </button>
  </mat-card-actions>
</mat-card> -->

