<div fxLayout='row' fxLayoutGap="20px">
    <div fxFlex="70%">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Progress Notes</mat-card-title>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onOpenForm()">
                    <mat-icon>input</mat-icon>
                    <span>{{panelOpenState ? 'Close' : 'Open'}} Form</span>
                </button>
                <button mat-menu-item (click)="onOpenList()"> <!--disabled-->
                    <mat-icon>list</mat-icon>
                    <span>{{listOpenState ? 'Close' : 'Open'}} List</span>
                </button>
            </mat-menu>
          </mat-card-header>
          <ng-container *ngIf="panelOpenState">
            <app-progress-note-edit></app-progress-note-edit>
          </ng-container>

          <ng-container *ngIf="listOpenState">
                <app-progress-note-list></app-progress-note-list>
          </ng-container>
      </mat-card>

    </div>
    <div fxFlex="30%">
        <div class="tips">
          <mat-list dense>
            <h3 matSubheader>Tips on make great progress notes</h3>
            <mat-list-item> Write a story.</mat-list-item>
            <mat-list-item> Remember that a diagnosis is a label.</mat-list-item>
            <mat-list-item> Write a specific plan. </mat-list-item>
          </mat-list>
        </div>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->
