<div gdAreas="header header | side content | footer footer" gdGap="16px" gdRows="auto auto auto" gdColumns="250px auto" gdAreas.lt-md="header | side | content | footer" gdRows.lt-md="auto auto auto auto" gdColumns.lt-md="auto">
    <div class="area header" gdArea="header">
        <div class="action-button">
            <button class="mat-raised-button mat-accent" (click)="onCancelVisit(patientId)">Cancel Visit</button>
        </div>
    </div>
    <div class="area side" gdArea="side">
        <div fxLayout='row wrap' fxLayoutGap="10px">
            <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="47.9%" fxFlex.md="100%" class="fxRecord">
                <div style="min-height: 184px;">
                    <div *ngIf="isLoading" class="loading">
                        <mat-spinner [diameter]="25"></mat-spinner>
                    </div>
                    <div *ngIf="!isLoading">
                        <form [formGroup]="profileForm" (submit)="onSavePicture()">
                            <input style="display: none" type="file" (change)="onFileChanged($event)" #filePicker>
                            <div class="image-preview">
                                <button mat-icon-button type="button" color="primary" (click)="filePicker.click()" aria-label="Change Profile Picture">
                                  <mat-icon>create</mat-icon>
                              </button>
                                <div *ngIf="avatar; then thenBlock else elseBlock"></div>
                                <ng-template #thenBlock>
                                    <img [src]="avatar" alt="{{firstname + ' ' + midlename + ' ' + lastname}}" style="width: 180px;" />
                                </ng-template>
                                <ng-template #elseBlock>
                                    <img src="assets/images/blank.png" alt="{{firstname + ' ' + midlename + ' ' + lastname}}" style="width: 180px;" />
                                </ng-template>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="47.9%" fxFlex.md="100%" class="fxRecord">
                <div style="padding: 0 15px;">
                    <h2 class="mat-h2">{{firstname + ' ' + midlename + ' ' + lastname}} </h2>
                    <h4 class="mat-h4">Created: {{created | date }}</h4>
                </div>
                <mat-list>
                    <h3 mat-subheader>Address</h3>
                    <ng-container *ngFor="let address of addresses; let i = index;" class="address">
                        <!-- <ng-container *ngIf="address.current">
                            <span id="current" title="current">&nbsp;</span>
                        </ng-container> -->
                        <mat-list-item> <p mat-line>{{address.address1}}</p> </mat-list-item>
                        <ng-container *ngIf="address.address2">
                            <mat-list-item><p mat-line>{{address.address2}}</p></mat-list-item>
                        </ng-container>
                        <mat-list-item> <p mat-line>{{address.postalCode}} {{address.province}}, {{address.city}} </p></mat-list-item>
                        <mat-list-item> {{address.country}} </mat-list-item>
                    </ng-container>
                    <h3 mat-subheader>Personal Information</h3>
                    <mat-list-item><i class="material-icons">phone</i> &nbsp;{{contact}} </mat-list-item>
                    <mat-list-item><i class="material-icons">email</i> &nbsp;<a href="mailto:{{email}}" class="mat-line">{{email}}</a></mat-list-item>
                    <mat-list-item><i class="material-icons">wc</i> &nbsp;{{gender}} </mat-list-item>
                    <mat-list-item><i class="material-icons">calendar_today</i> &nbsp;{{birthdate | date}} </mat-list-item>

                    <h3 mat-subheader>Metadata</h3>
                    <ng-container *ngIf="metas.length != 0">
                        <mat-list-item *ngFor="let meta of metas; let m = index;">
                            <i class="material-icons">label</i> &nbsp;
                            <abbr title="{{meta.label}}">{{meta.value}}</abbr>
                        </mat-list-item>
                    </ng-container>
                </mat-list>

            </div>
            <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="47.9%" fxFlex.md="100%" class="fxRecord">
                <mat-list>
                    <h3 mat-subheader>Quick Actions</h3>
                    <mat-list-item [routerLink]="['/messages']"><i class="material-icons">
                      message
                      </i> &nbsp; Message </mat-list-item>
                    <mat-list-item [routerLink]="['/appointments']"><i class="material-icons">
                  calendar_today
                  </i> &nbsp; Appointment </mat-list-item>
                    <mat-list-item (click)="viewChart(patientId)"><i class="material-icons">
                remove_red_eye
                      </i> &nbsp; View Chart </mat-list-item>
                    <mat-list-item (click)="generateQrCode(patientId)"><i class="material-icons">
                      fingerprint
                      </i> &nbsp; Generate QR Code </mat-list-item>
                    <!-- <mat-list-item (click)="addToNetwork(personId)"><i class="material-icons">
                      group
                              </i> &nbsp; Network Request </mat-list-item> -->
                </mat-list>
            </div>
        </div>
    </div>
    <div class="area content" gdArea="content">
        <nav mat-tab-nav-bar>
            <a mat-tab-link routerLink="./chief-complaints" routerLinkActive #rlaChiefComplaint="routerLinkActive" [active]="rlaChiefComplaint.isActive">Chief complaints</a>
            <a mat-tab-link routerLink="./histories" routerLinkActive #rlaHistories="routerLinkActive" [active]="rlaHistories.isActive">Histories</a>
            <a mat-tab-link routerLink="./physical-exams" routerLinkActive #rlaPhysicalExams="routerLinkActive" [active]="rlaPhysicalExams.isActive">Physical exams</a>
            <a mat-tab-link routerLink="./orders" routerLinkActive #rlaOrders="routerLinkActive" [active]="rlaOrders.isActive">Orders</a>
            <a mat-tab-link routerLink="./prescriptions" routerLinkActive #rlaPrescriptions="routerLinkActive" [active]="rlaPrescriptions.isActive">Prescriptions</a>
            <a mat-tab-link routerLink="./test-results" routerLinkActive #rlaTestResult="routerLinkActive" [active]="rlaTestResult.isActive">Test Results</a>
            <a mat-tab-link routerLink="./progress-notes" routerLinkActive #rlaProgressNotes="routerLinkActive" [active]="rlaProgressNotes.isActive">Progress Notes</a>
            <a mat-tab-link routerLink="./assessments" routerLinkActive #rlaAssessments="routerLinkActive" [active]="rlaAssessments.isActive">Assessments</a>
            <a mat-tab-link routerLinkActive #rlaMore="routerLinkActive" [active]="rlaMore.isActive" [matMenuTriggerFor]="menu" class="more">
                <mat-icon>more_horiz</mat-icon>
            </a>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['./immunizations']" routerLinkActive="active">
                <span>Immunizations</span>
              </button>
            </mat-menu>
        </nav>
        <div style="margin-top: 1em;">

                  <router-outlet></router-outlet>

        </div>

    </div>
    <div class="area footer" gdArea="footer">
        <!-- Footer -->
    </div>
</div>
