<div fxLayout='row wrap' fxLayout.lt-md="column" fxLayoutGap="20px">
    <div fxFlex fxFlex.xs="100%"  fxFlex.sm="47.9%" fxFlex.md="100%" class="appointment-form">

        <mat-card class="appointment-form-card">
            <mat-card-header>
              <mat-card-title>Create Appointments</mat-card-title>
            </mat-card-header>
            <app-appointment-edit></app-appointment-edit>
        </mat-card>

        <mat-card class="holiday-card">
            <mat-card-header>
              <mat-card-title>Holiday's</mat-card-title>
            </mat-card-header>
            <perfect-scrollbar style="max-height: 400px;">
            <mat-list dense>
              <h3 mat-subheader> Regular Holidays </h3>
              <mat-list-item> <span class="holiday-name">Tuesday - New Year's Day</span> <span class="holiday-date">Jan 1, 2019</span></mat-list-item>
              <mat-list-item> <span class="holiday-name">Tuesday - Araw ng Kagitingan</span> <span class="holiday-date">Apr 9, 2019</span></mat-list-item>
              <mat-list-item> <span class="holiday-name">Maundy Thursday</span> <span class="holiday-date">Apr 18, 2019</span></mat-list-item>
              <mat-list-item> <span class="holiday-name">Good Friday</span> <span class="holiday-date">Apr 19, 2019</span></mat-list-item>
              <mat-list-item> <span class="holiday-name">Wednesday - Labor Day</span> <span class="holiday-date">May 1, 2019</span></mat-list-item>
              <mat-list-item> <span class="holiday-name">Wednesday - Independence Day</span> <span class="holiday-date">Jun 12, 2019</span></mat-list-item>
              <mat-list-item> <span class="holiday-name">Monday - Eid'l Adha</span> <span class="holiday-date">Aug 12, 2019</span></mat-list-item>
              <mat-list-item> <span class="holiday-name">last Monday of August - National Heroes' Day</span> <span class="holiday-date">Aug 26, 2019</span></mat-list-item>
              <mat-list-item> <span class="holiday-name">Saturday - Bonifacio Day</span> <span class="holiday-date">Nov 30, 2019</span></mat-list-item>
              <mat-list-item> <span class="holiday-name">Wednesday - Christmas Day</span> <span class="holiday-date">Dec 25, 2019</span></mat-list-item>
              <mat-list-item> <span class="holiday-name">Monday - Rizal Day</span> <span class="holiday-date">Dec 30, 2019</span></mat-list-item>

              <h3 mat-subheader> Special non-working days </h3>
              <mat-list-item> <span class="holiday-name">Tuesday - Chinese New Year</span> <span class="holiday-date">Feb 5, 2019</span></mat-list-item>
              <mat-list-item> <span class="holiday-name">Monday - EDSA Revolution Anniversary</span> <span class="holiday-date">Feb 25, 2019</span></mat-list-item>
              <mat-list-item> <span class="holiday-name">Black Saturday</span> <span class="holiday-date">Apr 20, 2019</span></mat-list-item>
              <mat-list-item> <span class="holiday-name">Wednesday - Ninoy Aquino Day</span> <span class="holiday-date">Aug 21, 2019</span></mat-list-item>
              <mat-list-item> <span class="holiday-name">Friday - All Saints' Day</span> <span class="holiday-date">Nov 1, 2019</span></mat-list-item>
              <mat-list-item> <span class="holiday-name">Sunday - Feast of the Immaculate Conception of Mary</span> <span class="holiday-date">Dec 8, 2019</span></mat-list-item>
              <mat-list-item> <span class="holiday-name">Tuesday - last day of the year</span> <span class="holiday-date">Dec 31, 2019</span></mat-list-item>

              <h3 mat-subheader> Additional special non-working holidays </h3>
              <mat-list-item> <span class="holiday-name">Saturday</span> <span class="holiday-date">Nov 2, 2019</span></mat-list-item>
              <mat-list-item> <span class="holiday-name">Tuesday</span> <span class="holiday-date">Dec 24, 2019</span></mat-list-item>
            </mat-list>
          </perfect-scrollbar>
        </mat-card>

    </div>
    <div fxFlex fxFlex.xs="100%"  fxFlex.sm="47.9%" fxFlex.md="100%" class="appointment-outlet">
        <div class="action-button">
          <button mat-menu-item (click)="onCalendarView()">
              <mat-icon>{{isCalendarView ? 'list' : 'calendar_today'}}</mat-icon>
              <span>view {{isCalendarView ? 'list' : 'calendar'}}</span>
          </button>
        </div>
        <ng-container *ngIf="!isCalendarView">
            <app-appointment-list></app-appointment-list>
        </ng-container>
        <ng-container *ngIf="isCalendarView">
          <app-appointment-calendar></app-appointment-calendar>
        </ng-container>
    </div>
</div>
