<header class="header-background">
    <div class="header-section">
        <div class="header-headline">
            <h1 class="mat-h1">{{ 'app.welcome' | translate:{'app':'shop-inventory'} }}</h1>
            <h2> {{ 'home.tag' | translate }}</h2>
        </div>
        <div class="header-start">

            <a mat-raised-button="" routerlink="/guide/getting-started" class="button mat-raised-button mat-button-base" tabindex="0" aria-disabled="false" href="/guide/getting-started">{{ 'home.get-started'  | translate }}</a>
        </div>
    </div>
</header>
