.mat-card-title {
  font-size: 14px;
}
.mat-list-inner-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mat-list-inner-data > div {
  min-width: 200px;
  align-items: stretch;
  align-self: center;
  justify-content: space-between;
}
.mat-list-inner-data > div:last-child {
  flex-grow: 1;
}
.mat-list-inner-data > div:first-child {
  flex-grow: 1;
}
mat-card.hasMinHeight {
  min-height: 228px;
}
mat-card-title.mat-card-title > button {
  position: absolute;
  right: 0;
  top: 0;
}
