<mat-card [ngClass]="{'hasMinHeight': widget != 'blocks'}" id="{{type}}">
    <mat-card-header>
        <mat-card-title>
          {{ type | replace : '-' : ' ' | titlecase }}
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onViewAll(type)">
                  <mat-icon>input</mat-icon>
                  <span>View All</span>
              </button>
              <!-- <button mat-menu-item (click)="onOpenList()">
                  <mat-icon>list</mat-icon>
                  <span>{{listOpenState ? 'Close' : 'Open'}} List</span>
              </button> -->
            </mat-menu>
        </mat-card-title>
        <mat-card-subtitle *ngIf="showDate">{{ latestRecordDate | date}}</mat-card-subtitle>
    </mat-card-header>
    <ng-container *ngIf="widget === 'blocks'">
        <h1>{{ latestRecord ? latestRecord : '--' }}
            <ng-container *ngIf="hasPrefix">{{prefix}}</ng-container>
        </h1>
    </ng-container>
    <ng-container *ngIf="widget === 'list'">
        <ng-container [ngSwitch]="type">
            <ng-container *ngSwitchCase="'chief-complaint'">
                <mat-list dense>
                  <mat-list-item matRipple *ngFor="let record of recordData;">
                      <div class="mat-list-inner-data">
                          <div [innerHTML]="record.complaints"></div>
                          <div *ngIf="showDate">{{record.created | date}}</div>
                      </div>
                  </mat-list-item>
                  <mat-list-item *ngIf="recordData == null">
                      No complaints record!
                  </mat-list-item>
                </mat-list>
            </ng-container>
            <ng-container *ngSwitchCase="'endorsements'">
                <mat-list dense>
                    <mat-list-item matRipple *ngFor="let record of recordData;">
                        <div class="mat-list-inner-data">
                            <div [innerHTML]="record.endorsement"></div>
                            <div *ngIf="showDate">{{record.created | date}}</div>
                        </div>
                    </mat-list-item>
                    <mat-list-item *ngIf="recordData == null">
                        No endorsements record!
                    </mat-list-item>
                  </mat-list>
            </ng-container>
            <ng-container *ngSwitchCase="'present-illness-history'">
                <mat-list dense>
                    <mat-list-item matRipple *ngFor="let record of recordData;">
                        <div class="mat-list-inner-data">
                            <div [innerHTML]="record.presentIllnesses"></div>
                            <div *ngIf="showDate">{{record.created | date}}</div>
                        </div>
                    </mat-list-item>
                    <mat-list-item *ngIf="recordData == null">
                        No present illness record!
                    </mat-list-item>
                  </mat-list>
            </ng-container>
            <ng-container *ngSwitchCase="'past-medical-history'">
                <mat-list dense>
                    <mat-list-item matRipple *ngFor="let record of recordData;">
                        <div class="mat-list-inner-data">
                            <div [innerHTML]="record.pastMedicals"></div>
                            <div *ngIf="showDate">{{record.created | date}}</div>
                        </div>
                    </mat-list-item>
                    <mat-list-item *ngIf="recordData == null">
                        No past medical record!
                    </mat-list-item>
                  </mat-list>
            </ng-container>
            <ng-container *ngSwitchCase="'social-history'">
                <mat-list dense>
                    <mat-list-item matRipple *ngFor="let record of recordData;">
                        <div class="mat-list-inner-data">
                            <div [innerHTML]="record.socials"></div>
                            <div *ngIf="showDate">{{record.created | date}}</div>
                        </div>
                    </mat-list-item>
                    <mat-list-item *ngIf="recordData == null">
                        No social record!
                    </mat-list-item>
                  </mat-list>
            </ng-container>
            <ng-container *ngSwitchCase="'family-history'">
                <mat-list dense>
                    <mat-list-item matRipple *ngFor="let record of recordData;">
                        <div class="mat-list-inner-data">
                            <div [innerHTML]="record.familyHistories"></div>
                            <div *ngIf="showDate">{{record.created | date}}</div>
                        </div>
                    </mat-list-item>
                    <mat-list-item *ngIf="recordData == null">
                        No family history record!
                    </mat-list-item>
                  </mat-list>
            </ng-container>
            <ng-container *ngSwitchCase="'order'">
              <mat-list dense>
                  <mat-list-item matRipple *ngFor="let record of recordData;">
                      <div class="mat-list-inner-data">
                          <div [innerHTML]="record.order"></div>
                          <div *ngIf="showDate">{{record.created | date}}</div>
                      </div>
                  </mat-list-item>
                  <mat-list-item *ngIf="recordData == null">
                      No order record!
                  </mat-list-item>
                </mat-list>
            </ng-container>
            <ng-container *ngSwitchCase="'progress-notes'">
                <mat-list dense>
                  <mat-list-item matRipple *ngFor="let record of recordData;">
                      <div class="mat-list-inner-data">
                          <div [innerHTML]="record.note"></div>
                          <div *ngIf="showDate">{{record.created | date}}</div>
                      </div>
                  </mat-list-item>
                  <mat-list-item *ngIf="recordData == null">
                      No note record!
                  </mat-list-item>
                </mat-list>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <mat-list dense>
                  <mat-list-item matRipple *ngFor="let record of recordData;">
                      <div class="mat-list-inner-data">
                          <div>{{record.vaccines}}</div>
                          <div>{{record.doses}}</div>
                          <div *ngIf="showDate">{{record.created | date}}</div>
                      </div>
                  </mat-list-item>
                  <mat-list-item *ngIf="recordData == null">
                      No immunization record!
                  </mat-list-item>
                </mat-list>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="widget === 'grid'">
        <p>grid</p>
        <!-- <div [innerHTML]="complaints"></div>
      <span *ngIf="complaints == null"><p class="mat-body-1">No complaints record!</p></span> -->
    </ng-container>
    <ng-container *ngIf="widget === 'file'">
        <p>file</p>
        <!-- <div [innerHTML]="complaints"></div>
      <span *ngIf="complaints == null"><p class="mat-body-1">No complaints record!</p></span> -->
    </ng-container>
    <ng-container *ngIf="widget === 'table'">
        <p>table</p>
        <!--
      <mat-table [dataSource]="prescriptions">
          <ng-container matColumnDef="maintenable">
            <mat-header-cell *matHeaderCellDef> isMaintenable </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.maintenableFlg ? 'Yes' : 'No'}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="medicine">
            <mat-header-cell *matHeaderCellDef> Medicine </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.medicine}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="preparation">
            <mat-header-cell *matHeaderCellDef> Preparation </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.preparation}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="sig">
            <mat-header-cell *matHeaderCellDef> Sig </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.sig}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="qty">
              <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="3" id="no-data">
                    <p class="mat-body">No prescription data.</p>
                </mat-footer-cell>
            </ng-container>

          <mat-header-row *matHeaderRowDef="perscriptionColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: perscriptionColumns;"></mat-row>
          <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': (prescriptions.length != 0)}"></mat-footer-row>
        </mat-table>
    -->
    </ng-container>

    <mat-card-content *ngIf="showPrevious">
        <p>Previous record: {{ lastRecord ? lastRecord : '--' }}
            <ng-container *ngIf="hasPrefix">{{prefix}}</ng-container>
        </p>
    </mat-card-content>
</mat-card>
