<mat-card [ngClass]="{'hasMinHeight': widget != 'blocks'}" id="{{type}}">
    <mat-card-header>
        <mat-card-title>
          {{ type | replace : '-' : ' ' | titlecase }}
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onViewAll(type)">
                  <mat-icon>input</mat-icon>
                  <span>View All</span>
              </button>
              <!-- <button mat-menu-item (click)="onOpenList()">
                  <mat-icon>list</mat-icon>
                  <span>{{listOpenState ? 'Close' : 'Open'}} List</span>
              </button> -->
            </mat-menu>
        </mat-card-title>
        <mat-card-subtitle *ngIf="showDate">{{ latestRecordDate | date}}</mat-card-subtitle>
    </mat-card-header>
    <ng-container *ngIf="widget === 'blocks'">
        <h1>{{ latestRecord ? latestRecord : '--' }}
            <ng-container *ngIf="hasPrefix">{{prefix}}</ng-container>
        </h1>
    </ng-container>
    <ng-container *ngIf="widget === 'list'">
        <ng-container [ngSwitch]="type">
            <ng-container *ngSwitchCase="'chief-complaint'">
                <mat-list dense>
                  <mat-list-item matRipple *ngFor="let record of recordData;">
                      <div class="mat-list-inner-data">
                          <div [innerHTML]="record.complaints"></div>
                          <div *ngIf="showDate">{{record.created | date}}</div>
                      </div>
                  </mat-list-item>
                  <mat-list-item *ngIf="recordData.length === 0">
                      No complaints record!
                  </mat-list-item>
                </mat-list>
            </ng-container>
            <ng-container *ngSwitchCase="'endorsements'">
                <mat-list dense>
                    <mat-list-item matRipple *ngFor="let record of recordData;">
                        <div class="mat-list-inner-data">
                            <div [innerHTML]="record.endorsement"></div>
                            <div *ngIf="showDate">{{record.created | date}}</div>
                        </div>
                    </mat-list-item>
                    <mat-list-item *ngIf="recordData.length === 0">
                        No endorsements record!
                    </mat-list-item>
                  </mat-list>
            </ng-container>
            <ng-container *ngSwitchCase="'present-illness-history'">
                <mat-list dense>
                    <mat-list-item matRipple *ngFor="let record of recordData;">
                        <div class="mat-list-inner-data">
                            <div [innerHTML]="record.presentIllnesses"></div>
                            <div *ngIf="showDate">{{record.created | date}}</div>
                        </div>
                    </mat-list-item>
                    <mat-list-item *ngIf="recordData.length === 0">
                        No present illness record!
                    </mat-list-item>
                  </mat-list>
            </ng-container>
            <ng-container *ngSwitchCase="'past-medical-history'">
                <mat-list dense>
                    <mat-list-item matRipple *ngFor="let record of recordData;">
                        <div class="mat-list-inner-data">
                            <div [innerHTML]="record.pastMedicals"></div>
                            <div *ngIf="showDate">{{record.created | date}}</div>
                        </div>
                    </mat-list-item>
                    <mat-list-item *ngIf="recordData.length === 0">
                        No past medical record!
                    </mat-list-item>
                  </mat-list>
            </ng-container>
            <ng-container *ngSwitchCase="'social-history'">
                <mat-list dense>
                    <mat-list-item matRipple *ngFor="let record of recordData;">
                        <div class="mat-list-inner-data">
                            <div [innerHTML]="record.socials"></div>
                            <div *ngIf="showDate">{{record.created | date}}</div>
                        </div>
                    </mat-list-item>
                    <mat-list-item *ngIf="recordData.length === 0">
                        No social record!
                    </mat-list-item>
                  </mat-list>
            </ng-container>
            <ng-container *ngSwitchCase="'family-history'">
                <mat-list dense>
                    <mat-list-item matRipple *ngFor="let record of recordData;">
                        <div class="mat-list-inner-data">
                            <div [innerHTML]="record.familyHistories"></div>
                            <div *ngIf="showDate">{{record.created | date}}</div>
                        </div>
                    </mat-list-item>
                    <mat-list-item *ngIf="recordData.length === 0">
                        No family history record!
                    </mat-list-item>
                  </mat-list>
            </ng-container>
            <ng-container *ngSwitchCase="'order'">
              <mat-list dense>
                  <mat-list-item matRipple *ngFor="let record of recordData;">
                      <div class="mat-list-inner-data">
                          <div [innerHTML]="record.order"></div>
                          <div *ngIf="showDate">{{record.created | date}}</div>
                      </div>
                  </mat-list-item>
                  <mat-list-item *ngIf="recordData.length === 0">
                      No order record!
                  </mat-list-item>
                </mat-list>
            </ng-container>
            <ng-container *ngSwitchCase="'progress-notes'">
                <mat-list dense>
                  <mat-list-item matRipple *ngFor="let record of recordData;">
                      <div class="mat-list-inner-data">
                          <div [innerHTML]="record.note"></div>
                          <div *ngIf="showDate">{{record.created | date}}</div>
                      </div>
                  </mat-list-item>
                  <mat-list-item *ngIf="recordData.length === 0">
                      No note record!
                  </mat-list-item>
                </mat-list>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <mat-list dense>
                  <mat-list-item matRipple *ngFor="let record of recordData;">
                      <div class="mat-list-inner-data">
                          <div>{{record.vaccines}}</div>
                          <div>{{record.doses}}</div>
                          <div *ngIf="showDate">{{record.created | date}}</div>
                      </div>
                  </mat-list-item>
                  <mat-list-item *ngIf="recordData.length === 0">
                      No immunization record!
                  </mat-list-item>
                </mat-list>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="widget === 'default'">
        <mat-list>
            <mat-list-item matRipple *ngFor="let record of recordData">
              {{record.allergy}}
            </mat-list-item>
            <ng-container *ngIf="recordData.length === 0">
              <p class="mat-body">no allergy listed!</p>
            </ng-container>
          </mat-list>
    </ng-container>
    <ng-container *ngIf="widget === 'file'">
        <!-- <mat-card class="attachment-card" fxFlex="15%" fxFlex.xs="100%"  fxFlex.sm="25%" fxFlex.md="100%" *ngFor="let record of recordData">
            <img mat-card-image [src]="record.path" [alt]="record.name">
            <mat-card-content>
              <p>{{ record.name.length > 20 ? record.name.substring(0, 20)+"..." : record.name }}</p>
            </mat-card-content>
        </mat-card> -->
        <div *ngFor="let record of recordData; let i=index" fxFlex="15%" fxFlex.xs="100%"  fxFlex.sm="25%" fxFlex.md="100%">
            <img [src]="record.src" [alt]="record.name" (click)="open(i)" />
        </div>
        <ng-container *ngIf="recordData.length === 0">
          <p>No test result data!</p>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="widget === 'table'">
        <mat-table [dataSource]="dataSource" multiTemplateDataRows style="width: 100%;">

            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <mat-header-cell *matHeaderCellDef> {{column | titlecase}} </mat-header-cell>
                <div *ngIf="column === 'created'; then thenBlockDate else elseBlockDate"></div>
                <ng-template #thenBlockDate>
                    <mat-cell *matCellDef="let element"> {{element[column] | date}}</mat-cell>
                </ng-template>
                <ng-template #elseBlockDate>
                    <mat-cell *matCellDef="let element"> {{element[column]}}</mat-cell>
                </ng-template>
            </ng-container>

            <!-- Expanded Content Column - The detail element is made up of this one column -->
            <ng-container matColumnDef="expandedDetail">
                <mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="example-element-description">
                            <ng-container [ngSwitch]="type">
                                <ng-container *ngSwitchCase="'prescription'">
                                    <table id="prescriptions">
                                      <tr *ngFor="let prescription of element.prescriptions; let i = index;">
                                          <td>{{i+1}}</td>
                                          <td> {{prescription.medicine}} {{prescription.preparation}} <br/>
                                              <span>sig: {{prescription.sig}} {{prescription.maintenableFlg ? '- [maintainable]' : ''}}</span></td>
                                          <td> # {{prescription.quantity}}</td>
                                      </tr>
                                    </table>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <h4 subheading-1>Diagnoses</h4>
                                    <div [innerHTML]="element.diagnosis"></div>
                                    <h4 subheading-1>Treatments</h4>
                                    <div [innerHTML]="element.treatments"></div>
                              </ng-container>
                            </ng-container>

                        </div>
                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
            <mat-row matRipple
            *matRowDef="let element; columns: columnsToDisplay;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
            </mat-row>
            <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row>

            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="8">
                    <p class="mat-body">Loading data...</p>
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="8">
                    <p class="mat-body">No record data.</p>
                </mat-footer-cell>
            </ng-container>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': dataSource!=null}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="perPage" showFirstLastButtons></mat-paginator>
    </ng-container>

    <mat-card-content *ngIf="showPrevious">
        <p>Previous record: {{ lastRecord ? lastRecord : '--' }}
            <ng-container *ngIf="hasPrefix">{{prefix}}</ng-container>
        </p>
    </mat-card-content>
</mat-card>
