<div fxLayout='row' fxLayoutGap="20px">
  <div fxFlex="70%">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Assessments</mat-card-title>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onOpenForm()">
                  <mat-icon>input</mat-icon>
                  <span>{{panelOpenState ? 'Close' : 'Open'}} Form</span>
              </button>
              <button mat-menu-item (click)="onOpenList()"> <!--disabled-->
                  <mat-icon>list</mat-icon>
                  <span>{{listOpenState ? 'Close' : 'Open'}} List</span>
              </button>
          </mat-menu>

        </mat-card-header>
        <ng-container *ngIf="panelOpenState">
          <app-assessment-edit></app-assessment-edit>
        </ng-container>

        <ng-container *ngIf="listOpenState">
            <app-assessment-list></app-assessment-list>
        </ng-container>
    </mat-card>

  </div>
  <div fxFlex="30%">
      <div class="tips">

          <h3 matSubheader>8 Tips to Patient Assessment</h3>
          <ol>
            <li>Start the assessment as soon as you arrive on scene. Take in the patient’s immediate environment, and look for signs that can be impacting their health, such as poor air flow or a dirty or cluttered room.</li>
            <li>Check the radial pulse. Introduce yourself to the patient, and check his/her radial pulse. A radial pulse can tell you three things very quickly: the status of a patient’s airway, breathing, and circulation. You can also feel the temperature and moisture of the patient’s skin; and if they are able to respond verbally to your introduction, you can assess their alertness and breathing.</li>
            <li>Develop your own patient assessment routine. Textbooks and lectures can teach you the steps of patient assessment, but as you enter field work, you will want to develop a routine that works for you. Developing muscle memory starts in simulation training, and will improve with experience.</li>
            <li>First impressions are important. As you start to work with real patients, learn to trust your instincts. You will start to recognize what a normal presentation is, and abnormal things will jump out at you. Don’t be afraid to expedite treatment and transportation when you feel it’s appropriate.</li>
            <li>Take a thorough history. When a patient is conscious and responsive, this is a simple interviewing process between you and the patient. In the case of an unconscious or unresponsive patient, a family member or bystander can answer questions as a physical assessment is performed. Sometimes, though, all you have are the patient surroundings and the physical assessment. You will have to look for on-scene clues to give you insight into the current problem.</li>
            <li>The AVPU scale is part of the ongoing assessment. “Alert, Voice, Pain, Unconscious” (AVPU) provides a lot of information upfront, but be sure to continue to ask questions to make sure a patient is staying alert and oriented.</li>
            <li>Go ahead and diagnose. An EMT’s or paramedic’s initial diagnosis is not the final say, but assessing a patient accurately and forming an initial diagnosis will help you learn. After a call, doing some research into symptoms and talking to ER personnel will increase your knowledge and help you be a better provider.</li>
            <li>Learn to adapt. Be smart and stay flexible on a call. Not everything is going to go according to the book! Thinking critically, developing a routine, and adapting to the situation will serve your patients best. Patient assessment is a baseline, critical skill for EMS providers; it informs treatment decisions. You’ll always be learning, so stay open to the process.</li>
          </ol>
      </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->

