<div class="calendar-form">
  <form [formGroup]="form" class="normal-form" (submit)="onSave()">
      <mat-list dense>
          <mat-list-item> <span class="pending"></span> Pending </mat-list-item>
          <mat-list-item> <span class="confirmed"></span> Confirmed </mat-list-item>
          <mat-list-item> <span class="canceled"></span> Canceled </mat-list-item>
         </mat-list>
      <table>
        <tr>
          <td colspan="2">
            <mat-form-field>
                <input type="text" placeholder="Type a name or multiple names" aria-label="Patient" matInput formControlName='userInput' [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
                  <ng-container *ngIf="!isLoading">
                    <mat-option *ngFor="let user of filteredUsers" [value]="user">
                      <span>{{ user.name }}</span>
                    </mat-option>
                  </ng-container>
                </mat-autocomplete>
              </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-form-field>
              <input matInput formControlName="title" placeholder="Title">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput readonly [matDatepicker]="startPicker" formControlName="start" [min]="currentDate" placeholder="Start">
              <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
              <mat-datepicker #startPicker color="primary"></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <!-- <mat-form-field>
                <input matInput type="text" [ngxTimepicker]="morningopenpicker" formControlName="morningOpen" placeholder="hour" [disableClick]="true" readonly>
                <ngx-material-timepicker-toggle [for]="morningopenpicker"></ngx-material-timepicker-toggle>
                <ngx-material-timepicker #morningopenpicker></ngx-material-timepicker>
            </mat-form-field> -->
          </td>
        </tr>
        <!-- <mat-form-field>
            <input matInput readonly [matDatepicker]="endPicker" formControlName="end" [min]="currentDate" placeholder="End">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker color="primary"></mat-datepicker>
          </mat-form-field> -->
      </table>

    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>

