.profile-wrapper {
    display: flex;
    flex-flow: row;
}

.profile-wrapper .profile-picture {
    margin-right: 1em;
}

.form-field-block {
    display: flex;
}

mat-form-field {
    width: 100%;
}

.addressGroup {
    position: relative;
}

.action {
    position: absolute;
    top: 0;
    right: 0;
}

mat-form-field.mat-form-field.custom-width {
    width: 90%;
}

.btn-action {
    position: absolute;
    right: -50px;
    top: -12px;
    background: #fff;
    z-index: 999;
}

mat-spinner {
    margin: 16% auto;
}

.auth-form {
  background: #e6e6e6;
  padding: 1em;
}
