mat-dialog-content {
    .profile-wrapper {
        display: flex;
        flex-flow: row;
        .profile-picture {
            margin-right: 1em;
        }
        .profile-detail {
            mat-form-field {
                width: 100%;
            }
            form.profile-form {
                h2 {
                    margin: 0 0 16px;
                }
                .form-field-block {
                    display: flex;
                    mat-form-field {
                        width: 100%;
                    }
                }
                .addressGroup {
                    position: relative;
                    .form-field-block-custom {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
    &::-webkit-scrollbar {
        height: 4px;
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, .26);
    }
}

mat-spinner {
    margin: 16% auto;
}

.auth-form {
    background: #e6e6e6;
    padding: 1em;
}