<div class="primary-header">
  <h1>Not Activated</h1>
</div>
<div class="content">
  <div>
      <h3>Your account is not yet Activated!</h3>
      <p>Please have time to complete your profile. Thank you!</p>
      <div class="homepage-bottom-start">
          <button mat-raised-button [routerLink]="['/setup']" routerLinkActive="router-link-active" color="accent">Setup</button>
          &nbsp;
          <button mat-raised-button [routerLink]="['/dashboard']" routerLinkActive="router-link-active" color="primary">Dashboard</button>
      </div>
  </div>
</div>
