<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography" id="content">
    <table id="rxpad">
        <thead>
            <tr *ngIf="setting?.rxHeaderOption">
                <th colspan="4">
                    <h2>{{setting?.prescription.rxTitle}}</h2>
                </th>
            </tr>
            <tr *ngIf="setting?.rxHeaderOption">
                <th colspan="4">
                    <h5>{{setting?.prescription.rxSubTitle}}</h5>
                </th>
            </tr>
            <tr *ngIf="setting?.rxHeaderOption">
                <th rowspan="4" colspan="2">
                    <ng-container *ngFor="let address of setting?.prescription.rxAddresses; let i = index;">
                        {{address.address1}}<br/>
                        <ng-container *ngIf="address.address2">
                            {{address.address2}} <br/>
                        </ng-container>
                        {{address.postalCode}} {{address.province}}, {{address.city}}<br/> {{address.country}}
                    </ng-container>
                </th>
                <th colspan="2">{{ 'settings.clinic-hours' | translate }}:</th>
            </tr>
            <tr *ngIf="setting?.rxHeaderOption">
                <th colspan="2"><span *ngFor="let hour of setting?.prescription.rxHours; let o = index;">{{hour.morningOpen}} - {{hour.afternoonClose}}</span></th>
            </tr>
            <tr *ngIf="setting?.rxHeaderOption">
                <th colspan="2">{{ 'basic.contact' | translate }} <span *ngFor="let phone of setting?.prescription.rxPhones; let i = index;">{{phone.contact}} <span *ngIf="i < 1">/</span> </span>
                </th>
            </tr>
            <tr *ngIf="setting?.rxHeaderOption">
                <th colspan="2"><span *ngIf="setting?.prescription.rxNoNoonBreak">{{ 'settings.no-noon-break' | translate }}</span></th>
            </tr>
            <tr>
                <th colspan="4">
                    <hr/>
                </th>
            </tr>
            <tr>
                <th>{{ 'basic.name' | translate }}: </th>
                <th>
                    {{user?.name.firstname}} {{user?.name.midlename}} {{user?.name.lastname}}
                </th>
                <th>{{ 'basic.birthdate' | translate }}:</th>
                <th> {{user?.birthdate | date}}</th>
            </tr>
            <tr>
                <th>{{ 'basic.age' | translate }}: </th>
                <th>{{this.getAge(user?.birthdate)}}</th>
                <th>{{ 'basic.gender' | translate }}: </th>
                <th>{{user?.gender}}</th>
            </tr>
            <tr class="address">
                <th>{{ 'basic.address' | translate }}:</th>
                <th colspan="3">
                    <ng-container *ngFor="let address of user?.addresses; let i = index;">
                        <ng-container *ngIf="address.current">
                            {{address.address1}}<br/>
                            <ng-container *ngIf="address.address2">
                                {{address.address2}} <br/>
                            </ng-container>
                            {{address.postalCode}} {{address.province}}, {{address.city}}<br/> {{address.country}}
                        </ng-container>
                    </ng-container>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4">
                    <img src="../../../../assets/images/rx.png" alt="rx" style="width: 100px;" />
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <table id="prescriptions">
                        <tr *ngFor="let prescription of prescriptions; let i = index;">
                            <td>{{i+1}}</td>
                            <td> {{prescription.medicine}} {{prescription.preparation}} <br/>
                                <span>sig: {{prescription.sig}}</span></td>
                            <td> # {{prescription.quantity}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td rowspan="4">

                </td>
                <td colspan="3">
                    {{user?.name.firstname}} {{user?.name.midlename}} {{user?.name.lastname}} M.D
                </td>
            </tr>
            <tr>
                <td colspan="2">
                  {{ 'physicians.prc' | translate }} :
                </td>
                <td>
                    {{setting?.prc}}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                  {{ 'physicians.ptr' | translate }} :
                </td>
                <td>
                    {{setting?.ptr}}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                  {{ 'physicians.s2' | translate }} :
                </td>
                <td>
                    {{setting?.s2}}
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <hr/>
                </td>
            </tr>
            <tr *ngIf="setting?.rxFooterOption">
                <td colspan="4" style="text-align: left;">
                    https://www.linkedin.com/in/randy-rebucas-1a896943/
                </td>
            </tr>
        </tfoot>
    </table>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{ 'common.close' | translate }}</button>
    <button mat-button (click)="onPrint()" cdkFocusInitial>{{ 'common.print' | translate }}</button>
</mat-dialog-actions>
