.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}


/**/

:host {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

.nav-brand {
    width: 215px;
    text-align: center;
}

.topnav-icon {
    text-decoration: none;
    display: flex;
    color: #fff;
}

span.nav-spacer {
    flex: 1 1 auto;
}

.visible-md {
    display: none;
}

.visible-sm {
    display: none;
}

@media screen and (max-width: 992px) {
    .visible-md {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .visible-sm {
        display: block;
    }
    .nav-brand {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .hidden-sm {
        display: none;
    }
}


/* @media screen and (max-width: 992px) {
    .visible-md {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .visible-sm {
        display: block;
    }
    .nav-brand {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .hidden-sm {
        display: none;
    }
} */


/* .sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.spacer {
    flex: 1 1 auto;
}

.mat-toolbar span a span {
    font-size: 12px;
    font-weight: 100;
}

main {
    margin-top: 1rem;
    width: 80%;
    margin: auto;
}
/*

/**/


/* :host {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

.nav-brand {
    width: 215px;
    text-align: center;
}

.topnav-icon {
    text-decoration: none;
    display: flex;
    color: #fff;
}

.nav-spacer {
    flex: 1 1 auto;
}

.visible-md {
    display: none;
}

.visible-sm {
    display: none;
} */