<div class="component-page-header">
    <h1 class="mat-headline"> Patients</h1>
</div>
<div id="datable-wrapper">
    <div class="search-div">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" autocomplete="off">
        </mat-form-field>
        <div (click)="onScan()">
            <img src="https://img.icons8.com/material/24/000000/qr-code--v1.png">
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows style="width: 100%;">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
            <div *ngIf="column === 'image'">
                <th mat-header-cell *matHeaderCellDef> {{column | titlecase}} </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.imagePath; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <img [src]="element.imagePath" [alt]="element.firstname" style="width:40px; height:auto; vertical-align: middle;" />
                    </ng-template>
                    <ng-template #elseBlock>
                        <img src="assets/images/blank.png" [alt]="element.firstname" style="width:40px; height:auto; vertical-align: middle;" />
                    </ng-template>
                </td>
            </div>
            <div *ngIf="column === 'action'; then thenBlockRow else elseBlockRow"></div>
            <ng-template #thenBlockRow>
                <th mat-header-cell *matHeaderCellDef style="text-align: right;">
                    <button mat-mini-fab color="primary" (click)="onCreate()">
                        <mat-icon>add</mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="onEdit(element.id)" title="Update"><mat-icon>launch</mat-icon></button>
                    <button mat-icon-button color="warn" (click)="onDelete(element.id)" title="Delete"><mat-icon>delete_outline</mat-icon></button>
                    <button mat-icon-button [routerLink]="['./', element.id, 'record']" title="View Record"><mat-icon>assignment</mat-icon></button>
                </td>
            </ng-template>
            <ng-template #elseBlockRow>
                <th mat-header-cell *matHeaderCellDef> {{column | titlecase}} </th>
                <div *ngIf="column === 'birthdate'; then thenBlockDate else elseBlockDate"></div>
                <ng-template #thenBlockDate>
                    <td mat-cell *matCellDef="let element"> {{element[column] | date}}</td>
                </ng-template>
                <ng-template #elseBlockDate>
                    <td mat-cell *matCellDef="let element"> {{element[column]}}</td>
                </ng-template>
            </ng-template>
        </ng-container>

        <!-- Expanded Content Column - The detail element is made up of this one column -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <button mat-button [routerLink]="['./', element.id]" class="view" title="View Detail">[view detail]</button>
                    <div class="example-element-description">
                        <dl *ngFor="let address of element.address; let i = index;">
                            <dt>Address {{i+1}}:<br/>
                                <ng-container *ngIf="address.current">
                                    Current
                                </ng-container>
                            </dt>
                            <dd>
                                {{address.address1}}<br/>
                                <ng-container *ngIf="address.address2">
                                    {{address.address2}} <br/>
                                </ng-container>
                                {{address.postalCode}} {{address.province}}, {{address.city}}<br/> {{address.country}}
                            </dd>
                        </dl>
                    </div>
                    <div class="element-metadata">
                        <dl *ngFor="let meta of element.meta; let m = index;">
                            <dt>{{meta.label}}:</dt>
                            <dd>{{meta.value}}</dd>
                        </dl>
                    </div>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row" [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="8">
                <p class="mat-body">Loading data...</p>
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="8">
                <p class="mat-body">No patient data.</p>
            </mat-footer-cell>
        </ng-container>
        <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': dataSource!=null}"></tr>
        <tr mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(dataSource!=null && dataSource.data.length==0)}"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="perPage" showFirstLastButtons></mat-paginator>
</div>