<div class="forget-page">
  <div class="content">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <form (submit)="onForget(forgetForm)" #forgetForm="ngForm" *ngIf="!isLoading" class="forget-form" fxFlex>
          <div class="text-center">
              <h2 class="app-name">Recover my password</h2>
              <p class="subheading">We will send your new password.</p>
          </div>
          <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
              <div fxFlexFill>
                  <mat-form-field class="w-100">
                      <input matInput name="email" type="email" ngModel placeholder="Email" #emailInput="ngModel" required email>
                      <mat-error *ngIf="emailInput.invalid">Please enter valid email</mat-error>
                  </mat-form-field>
              </div>
          </div>

          <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
              <div fxFlexFill>
                  <button mat-raised-button color="primary" class="w-100" type="submit">Reset Password</button>
              </div>
          </div>
          <div fxFlex  fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
            <div>
                <a (click)="onSignup()" style="cursor: pointer;">Signup</a>
            </div>
            <div style="margin: 0 5px;">or</div>
            <div>
                <a (click)="onLogin()" style="cursor: pointer;">Login</a>
            </div>
        </div>
      </form>
  </div>
</div>
