<div fxLayout='row' fxLayoutGap="20px">
  <div fxFlex="60%">
    <mat-vertical-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="chiefComplaintFormGroup">
        <form [formGroup]="chiefComplaintFormGroup">
          <ng-template matStepLabel>Chief complaint</ng-template>
          <!-- textbox -->
          <mat-form-field>
            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="presentIllnessFormGroup">
        <form [formGroup]="presentIllnessFormGroup">
          <ng-template matStepLabel>History of present illness</ng-template>
          <!-- tinymci -->
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="secondCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="medicalHistoryFormGroup">
        <form [formGroup]="medicalHistoryFormGroup">
          <ng-template matStepLabel>Past Medical History</ng-template>
          <!-- tinymci -->
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="secondCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="familyHistoryFormGroup">
        <form [formGroup]="familyHistoryFormGroup">
          <ng-template matStepLabel>Family History</ng-template>
          <!-- tinymci -->
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="secondCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="socialHistoryFormGroup">
        <form [formGroup]="socialHistoryFormGroup">
          <ng-template matStepLabel>Social History</ng-template>
          <!-- tinymci -->
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="secondCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="physicalExamFormGroup">
        <form [formGroup]="physicalExamFormGroup">
          <ng-template matStepLabel>Physical exam</ng-template>
          <!-- Vitals from ED admission
          Temperature : 36.3
          Pulse : 79
          Respiratory Rate : 16
          Blood Pressure : 116/82
          Oxygen Saturation%: 97% on RA
          Pain Score : 10/10  -->
          <!-- multi [dynamic{same on patient meta}] -->
          <mat-form-field>
              <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="orderFormGroup">
        <form [formGroup]="orderFormGroup">
          <ng-template matStepLabel>Orders</ng-template>
          <!-- (lab, radiological, etc.) -->
          <mat-form-field>
              <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="prescriptionFormGroup">
        <form [formGroup]="prescriptionFormGroup">
          <!-- medication, preparation, sig, qty [view allergies] -->
          <ng-template matStepLabel>Prescriptions</ng-template>
          <mat-form-field>
              <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="testResultsFormGroup">
        <form [formGroup]="testResultsFormGroup">
          <ng-template matStepLabel>Test results</ng-template>
          <!-- (lab testing, imaging results, etc.) -->
          <mat-form-field>
              <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="progressNotesFormGroup">
        <form [formGroup]="progressNotesFormGroup">
          <ng-template matStepLabel>Progress notes</ng-template>
          <!-- tinymci -->
          <mat-form-field>
              <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="assessmentFormGroup">
        <form [formGroup]="assessmentFormGroup">
          <ng-template matStepLabel>Assessment and plan</ng-template>
          <!-- multi [title, description[tinymce]] -->
          <mat-form-field>
              <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
  <div fxFlex="40%">
    News
  </div>
</div>
