form {
    padding: 0 6em 3em 6em;
}

mat-form-field {
    width: 100%;
}

.form-field-block {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-basis: auto;
}

textarea {
    width: 100%;
}

mat-spinner {
    margin: 16% auto;
}

.form-field-block.user-type {
    width: 32%;
}

.form-field-block mat-form-field:not(:first-child) {
    margin-left: 10px;
}