<div class="wrapper">
    <div gdAreas="header header | content side | footer footer" gdGap="10px" gdRows="auto auto auto" gdColumns="auto 350px" gdAreas.lt-md="header | content | side  | footer" gdRows.lt-md="auto auto auto auto" gdColumns.lt-md="auto">
        <div class="area header" gdArea="header">
            <h2 class="mat-title">Notification</h2>
        </div>
        <div class="area content" gdArea="content">
            <form [formGroup]="form" class="normal-form" (submit)="onSubmit()">
                <h2 class="mat-subheading-2">Alerts<br/>
                  <small class="mat-caption">Email me when:</small>
                </h2>
                <div class="form-field-block">
                    <mat-checkbox formControlName="deletedPatient"> Someone deleted patient record </mat-checkbox>
                </div>
                <div class="form-field-block">
                    <mat-checkbox formControlName="createdAppointment"> Someone create an appointment </mat-checkbox>
                </div>
                <div class="form-field-block">
                    <mat-checkbox formControlName="cancelAppointment"> Someone cancel an appointment </mat-checkbox>
                </div>
                <div class="form-field-block">
                    <mat-checkbox formControlName="sentMessage"> Someone sent a message </mat-checkbox>
                </div>
                <br/>
                <h2 class="mat-subheading-2">News<br/>
                  <small class="mat-caption">Email me about:</small>
                </h2>
                <div class="form-field-block">
                    <mat-checkbox formControlName="newFeatures"> New features </mat-checkbox>
                </div>
                <div class="form-field-block">
                    <mat-checkbox formControlName="newUpdates"> New updates </mat-checkbox>
                </div>
                <div class="form-field-block">
                    <mat-checkbox formControlName="subscriptionPlan"> Tips for clinicplus subscriptions plan</mat-checkbox>
                </div>
                <br/>
                <button mat-raised-button color="primary" type="submit">Update</button>
            </form>
        </div>
        <div class="area side" gdArea="side">
            <app-ads></app-ads>
        </div>
        <div class="area footer" gdArea="footer">
            <!-- footer -->
        </div>
    </div>
</div>
