<div class="wrapper">
    <div gdAreas="header header header | side1 content side2 | footer footer footer" gdGap="10px" gdRows="auto auto auto" gdColumns="350px auto auto" gdAreas.lt-md="header | side1 | content | side2 | footer" gdRows.lt-md="auto auto auto auto" gdColumns.lt-md="auto">
        <div class="area header" gdArea="header">
            <h2 class="mat-title">Billing</h2>
        </div>
        <div class="area content" gdArea="content">
              <h2 class="mat-subheading-2">Upgrade plan<br/>
                <small class="mat-caption">Select a plan that sutes to your business.</small>
              </h2>
              <div class="plans">
                <mat-card class="plan-card" *ngFor="let plan of plans" [ngClass]="{'active': package === plan.name}">
                    <mat-card-header>
                        <mat-card-title>{{plan.name}}</mat-card-title>
                        <mat-card-subtitle *ngIf="plan.slug != 'enterprise'">Monthly payment</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <ng-container *ngIf="plan.slug === 'enterprise'">
                            <mat-list>
                            <mat-list-item *ngFor="let package of plan.packages"><i class="material-icons">
                                check_circle_outline
                              </i> {{package.title}}
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>Please contact us:</mat-list-item>
                            <mat-list-item><i class="material-icons">
                                local_phone
                            </i> 09179157515</mat-list-item>
                          </mat-list>
                        </ng-container>
                        <mat-list *ngIf="plan.slug != 'enterprise'">
                            <mat-list-item *ngFor="let package of plan.packages"><i class="material-icons">
                              check_circle_outline
                            </i> {{package.title}}</mat-list-item>
                        </mat-list>
                        <p  class="note" *ngIf="plan.slug === 'expanded'"><strong>Note:</strong> You are not allowed to downgrade your plan after this upgrade.</p>
                    </mat-card-content>
                    <mat-card-actions  *ngIf="plan.slug != 'enterprise'">
                      <!-- if package is equal to expanded -->
                      <ng-container *ngIf="package != 'Expanded'">
                          <button mat-flat-button type="button" (click)="onUpdatePlan(plan._id)" *ngIf="package != plan.name">Select</button>
                      </ng-container>

                    </mat-card-actions>
                </mat-card>
              </div>
        </div>
        <div class="area side" gdArea="side1">
            <h2 class="mat-subheading-2" *ngIf="!subscription">You are using demo.<br/>
              <small class="mat-caption">Demo plan are only allowed to view some modules that are permitted.</small>
            </h2>
            <ng-container *ngIf="subscription">
              <h2 class="mat-subheading-2">Active plan: <strong>{{package}}</strong> <br/>
                <small class="mat-caption">Subscription Date: {{subscriptionDate | date}}</small></h2>
              <mat-list>
                <mat-list-item *ngFor="let package of packages"> {{package.title}} </mat-list-item>
               </mat-list>
              <!-- <br/>

              <h2 class="mat-subheading-2">Next charge will be on<br/>
                <small class="mat-caption">Dec 23, 2019.</small>
              </h2> -->
            </ng-container>
        </div>
        <div class="area side" gdArea="side2">
          <app-ads></app-ads>
        </div>
        <div class="area footer" gdArea="footer">
            <!-- footer -->
        </div>
    </div>
</div>
