<mat-card class="birthday-card">
    <mat-card-header>
        <mat-card-title>Birthdays</mat-card-title>
    </mat-card-header>
    <mat-list *ngIf="!isLoading">
        <mat-list-item *ngFor="let birthday of birthdays" class="birthday-list">
            <div *ngIf="birthday.avatar; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <img [src]="birthday.avatar" [alt]="birthday.fullname" style="width:42px; height:42px; vertical-align: middle;border-radius: 100%;" />
            </ng-template>
            <ng-template #elseBlock>
                <app-avatar [fullname]="birthday.fullname" [isFullname]="true" [size]="'50'"></app-avatar>
            </ng-template>
            <div class="birthday-user">
                <h4 mat-line>{{ birthday.fullname }} <small mat-line> {{ birthday.birthdate | date}} </small></h4>
                <p mat-line> {{ birthday.contact }} <span>Age: {{ birthday.age }}</span></p>
            </div>
        </mat-list-item>
        <mat-list-item *ngIf="birthdays.length === 0">No birthday's available.</mat-list-item>
    </mat-list>
</mat-card>