<mat-card class="birthday-card">
    <mat-card-header>
        <mat-card-title>Birthdays</mat-card-title>
    </mat-card-header>
    <mat-list>
      <mat-list-item *ngFor="let birthday of birthdays">
        <div *ngIf="birthday.avatar; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <img matListAvatar [src]="birthday.avatar" [alt]="birthday.fullname" style="width:42px; height:42px; vertical-align: middle;border-radius: 100%;" />
        </ng-template>
        <ng-template #elseBlock>
            <app-avatar [fullname]="birthday.fullname" [isFullname]="true" [size]="'50'"></app-avatar>
        </ng-template>
        <h3 matLine> {{birthday.fullname}} </h3>
        <p matLine>
          <span> {{ birthday.birthdate | date}} </span>
          <span class="demo-2"> [ Age: {{ birthday.age }} ]</span>
        </p>
      </mat-list-item>
      <mat-list-item *ngIf="birthdays.length === 0">No birthday's available.</mat-list-item>
    </mat-list>

</mat-card>
