:host ::ng-deep .mat-list-item-content {
    /* CSS styles go here */
    margin: 0px;
    padding: 0 !important;
    max-height: 42px;
}

mat-list-item {
    max-height: 42px;
    margin-bottom: 1em;
    border-top: 1px solid #bdbdbd;
    padding-top: 10px !important;
}

.birthday-user {
    width: 100%;
    padding-left: 1em;
}

.birthday-user p {
    padding: 0;
    margin: 0;
}

.birthday-user h4 {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.birthday-user p span {
    float: right;
}