.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    padding: 1em 0;
}
mat-card {
    margin-bottom: 1em;
}
mat-card ::ng-deep .mat-card-header-text {
    /* CSS styles go here */
    margin: 0px; // for example to remove the margin
}
mat-list-item ::ng-deep .mat-list-item-content {
    padding: unset !important;
    span {
        flex: 1;
        text-align: right;
    }
}
