<h2 mat-dialog-title>
    {{ title }}
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</h2>
<mat-dialog-content class="mat-typography" style="min-height: 300px;">
    <div *ngIf="isLoading" class="loading">
        <mat-spinner [diameter]="25"></mat-spinner>
    </div>
    <div *ngIf="!isLoading" id="content">
        <table id="prescription-heading" style="width: 100%;">
          <tr>
            <td colspan="4"><h2>{{clinicOwner}}</h2></td>
          </tr>
          <tr>
            <td colspan="4"><h5>{{clinicName}}</h5></td>
          </tr>
          <tr>
            <td colspan="2">{{clinicAddress}} <br/>
              Tel no <span *ngFor="let phone of clinicPhone; let i = index;">{{phone.contact}} <span *ngIf="i < 1">/</span> </span>
            </td>
            <td colspan="2">Clinic Hours:<br/>
              <span *ngFor="let hour of clinicHours; let o = index;">{{hour.morningOpen}} - {{hour.afternoonClose}}</span>
            </td>
          </tr>
        </table>
        <!--Your html stuff that you want to print-->
        <table id="rxpad">
            <thead>
                <tr>
                    <th>Name: </th>
                    <th>
                        {{firstname}} {{midlename}} {{lastname}}
                    </th>
                    <th>Birthdate:</th>
                    <th> {{birthdate | date}}</th>
                </tr>
                <tr>
                    <th>Age: </th>
                    <th>{{myAge}}</th>
                    <th>Gender: </th>
                    <th>{{gender}}</th>
                </tr>
                <tr>
                    <th>Address:</th>
                    <th colspan="3"> {{address}}</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="4">
                    <img src="assets/images/rx.png" alt="rx" style="width: 100px;" />
                </td>
              </tr>
                <tr>
                    <td colspan="4">
                        <table id="prescriptions">
                            <tr *ngFor="let prescription of prescriptions; let i = index;">
                                <td>{{i+1}}</td>
                                <td> {{prescription.medicine}} {{prescription.preparation}} <br/>
                                    <span>sig: {{prescription.sig}}</span></td>
                                <td> # {{prescription.quantity}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td rowspan="4" #content>
                        <qrcode [qrdata]="patientId" [size]="100" [level]="'H'"></qrcode>
                    </td>
                    <td colspan="3">
                        {{clinicOwner}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        License No :
                    </td>
                    <td>
                        {{prc}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        PTR No :
                    </td>
                    <td>
                        {{ptr}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        S2 No :
                    </td>
                    <td>
                        {{s2}}
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button mat-primary" (click)="printrx()"><mat-icon>print</mat-icon> Print</button>
    <!-- <button class="mat-raised-button mat-primary" printTitle="PatientName" [useExistingCss]="true" printSectionId="content" ngxPrint><mat-icon>print</mat-icon> Print</button> -->
    <!--Your relevant print button-->
</mat-dialog-actions>
