<div class="wrapper">
    <div gdAreas="header header | content side | footer footer" gdGap="10px" gdRows="auto auto auto" gdColumns="auto 350px" gdAreas.lt-md="header | content | side | footer" gdRows.lt-md="auto auto auto auto" gdColumns.lt-md="auto">
        <div class="area header" gdArea="header">
            <h3 class="mat-subheading-2"></h3>
        </div>
        <div class="area" gdArea="content">
            <p>payment-works</p>
        </div>
        <div class="area side" gdArea="side">
            <p>side</p>
        </div>
        <div class="area footer" gdArea="footer">
            <!-- footer -->
        </div>
    </div>
</div>