<div class="wrapper">
    <div gdAreas="header header | content side | footer footer" gdGap="10px" gdRows="auto auto auto" gdColumns="auto 700px" gdAreas.lt-md="header | content | side | footer" gdRows.lt-md="auto auto auto auto" gdColumns.lt-md="auto">
        <div class="area header" gdArea="header">
            <h2 class="mat-title">Payment</h2>
        </div>
        <div class="area" gdArea="content">
            <h2 class="mat-subheading-2">Payment history
            </h2>
            <mat-table [dataSource]="paymentSource" class="mat-elevation-z8">

                <!-- Date Column -->
                <ng-container matColumnDef="date">
                  <mat-header-cell *matHeaderCellDef> Date. </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.date | date }} </mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
                </ng-container>

                <!-- Amount Column -->
                <ng-container matColumnDef="amount">
                  <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.amount | currency:'PHP':'symbol-narrow' }} </mat-cell>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <button mat-button >Download Invoice</button> </mat-cell>
                  </ng-container>

                <mat-header-row *matHeaderRowDef="paymentHistoryColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: paymentHistoryColumns;"></mat-row>
              </mat-table>
        </div>
        <div class="area side" gdArea="side">
            <p>side</p>
        </div>
        <div class="area footer" gdArea="footer">
            <!-- footer -->
        </div>
    </div>
</div>
