<div fxLayout='row wrap' fxLayoutGap="10px">
    <div fxFlex="15%" fxFlex.xs="100%" fxFlex.sm="15%" fxFlex.md="100%" style="position: relative;">
      <p>We charge and instantly refund $1 to verify your </p>
        paypal-logo
    </div>
    <div fxFlex="75%" fxFlex.xs="100%" fxFlex.sm="75%" fxFlex.md="100%" style="position: relative;">

        <h4 subheading-1>Payment</h4>
        <p>This payment is powered by paypal and we do not store sensitive payment information on our servers.</p>
        <button mat-flat-button type="button" color="primary">Add Card</button>
        <hr/>
        <h4 subheading-1>History</h4>
        <table>
          <tr>
            <th>
date
            </th>
            <th>
            status
              </th>
              <th>
              amount
                </th>
                <th></th>
          </tr>
          <tr>
            <td>2019-20-10</td>
            <td>Pending</td>
            <td>$24.00</td>
            <td>Download Invoice</td>
          </tr>
        </table>
    </div>
</div>


