#datable-wrapper {
    margin: 2em auto;
}
/**/

table {
    width: 100%;
}

tr.example-detail-row {
    height: 0 !important;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}


/* .mat-form-field {
    font-size: 14px;
    width: 100%;
} */


/*
td.mat-cell.cdk-column-action.mat-column-action {
    text-align: right;
} */


/* .hide {
    display: none;
} */


/* .mat-paginator {
    background: transparent;
} */


/* mat-footer-row mat-footer-cell {
    justify-content: center;
    font-style: italic;
} */

.hide {
    display: none;
}

.component-page-header {
    padding: 2em 0 0;
}


/* table.mat-table tbody tr td:last-child {
    width: 10%;
} */

table.mat-table tbody tr td img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

td.mat-cell.cdk-column-action.mat-column-action {
    text-align: right;
}

td.mat-cell.cdk-column-action.mat-column-action button {
    visibility: hidden;
}

tr:hover td.mat-cell.cdk-column-action.mat-column-action button {
    visibility: visible;
}


/*
tr.mat-footer-row,
tr.mat-row {
    height: 48px;
    cursor: pointer;
} */
