<h2 mat-dialog-title>{{ title | translate }}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field>
      <mat-label>{{ 'authentication.email' | translate }}</mat-label>
        <input matInput formControlName="email" [readonly]="status">
        <mat-error *ngIf="formCtrls.email.errors">
          <div *ngIf="formCtrls.email.errors.required">
              {{ 'validation.required' | translate:{'s':'email'} }}
          </div>
          <div *ngIf="formCtrls.email.errors.maxlength">
              {{ 'validation.maxLength' | translate:{'s':'50', 'ctrl': 'email'} }}
          </div>
          <div *ngIf="formCtrls.email.errors.email">
            {{ 'validation.invalid' | translate:{'s':'email'} }}
          </div>
        </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="!status">
      <mat-label>{{ 'authentication.password' | translate }}</mat-label>
        <input matInput type="{{isVisible ? 'text' : 'password'}}" name="password" formControlName="password">
        <button type="button" mat-icon-button matSuffix matTooltip="view" (click)="onView()">
          <mat-icon>{{isVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
        <mat-error *ngIf="formCtrls.password.errors">
          <div *ngIf="formCtrls.password.errors.required">
              {{ 'validation.required' | translate:{'s':'password'} }}
          </div>
          <div *ngIf="formCtrls.password.errors.maxlength">
              {{ 'validation.maxLength' | translate:{'s':'12', 'ctrl': 'password'} }}
          </div>
        </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'common.close' | translate }}</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial [disabled]="status">Submit</button>
</mat-dialog-actions>
