.wrapper {
  flex-grow: 1;
  margin: 1em 2em;
}
.plans {
  display: flex;
}

.plans mat-card {
  flex: 1 1 auto;
}

.plans mat-card:not(:first-child) {
  margin-left: 10px;
}

mat-card {
  border: 1px solid gainsboro;
  border-radius: 0 !important;
}

mat-card.mat-card.plan-card.active {
  position: relative;
}

mat-card.mat-card.plan-card.active:before {
  content: "Current";
  position: absolute;
  top: 0;
  right: 0;
  background: #3f51b5;
  padding: 10px;
  color: #fff;
}

p.note {
  background: #e84287;
  color: #fff;
  padding: 1em;
}
