mat-form-field {
    width: 23%;
}

.form-field-block {
    display: flex;
    flex-direction: row;
    .action-btn {
        float: right;
        display: flex;
        align-items: center;
        height: 75%;
    }
}

.blocks {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    div {
        flex: 1 1 auto;
    }
    div:first-child {
        margin-right: 10px;
    }
}

mat-tab-group ::ng-deep .mat-tab-body-wrapper {
    margin-top: 1em;
}

.form-group {
    position: relative;
    display: flex;
    justify-content: space-around;
    mat-form-field {
        width: 20%;
    }
}

.filter-full-width {
    width: 100%;
}

.error .mat-list-item.mat-list-item-with-avatar {
    height: 26px !important;
}

mat-vertical-stepper {
  padding-bottom: 5em;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.overlay{
  height:100vh;
  width:100%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
}
