<ng-container *ngIf="isLoading">
  <div class="overlay">
    <div class="center">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</ng-container>
<form [formGroup]="form" (submit)="onSave()">
    <mat-vertical-stepper [linear]="true">
        <mat-step formGroupName="vitalSign" [stepControl]="form.get('vitalSign')">
            <ng-template matStepLabel>{{ 'records.vital-sign' | translate }}</ng-template>
            <div class="form-field-block" style="justify-content: space-around;">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'records.vital-sign-obj.temperature' | translate }}</mat-label>
                    <input matInput formControlName="temperature">
                    <span matSuffix>°C</span>
                    <mat-error *ngIf="form.get('vitalSign').get('temperature').errors">
                      <div *ngIf="form.get('vitalSign').get('temperature').errors.required">
                          {{ 'validation.required' | translate:{'s':'temperature'} }}
                      </div>
                      <div *ngIf="form.get('vitalSign').get('temperature').errors.maxlength">
                          {{ 'validation.maxLength' | translate:{'s':'6', 'ctrl': 'temperature'} }}
                      </div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'records.vital-sign-obj.blood-pressure' | translate }}</mat-label>
                    <input matInput formControlName="bloodPressure">
                    <span matSuffix>mmHg</span>
                    <mat-error *ngIf="form.get('vitalSign').get('bloodPressure').errors">
                      <div *ngIf="form.get('vitalSign').get('bloodPressure').errors.required">
                          {{ 'validation.required' | translate:{'s':'blood pressure'} }}
                      </div>
                      <div *ngIf="form.get('vitalSign').get('bloodPressure').errors.maxlength">
                          {{ 'validation.maxLength' | translate:{'s':'8', 'ctrl': 'blood pressure'} }}
                      </div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'records.vital-sign-obj.pulse-rate' | translate }}</mat-label>
                    <input matInput formControlName="pulseRate">
                    <span matSuffix>bpm</span>
                    <mat-error *ngIf="form.get('vitalSign').get('pulseRate').errors">
                      <div *ngIf="form.get('vitalSign').get('pulseRate').errors.required">
                          {{ 'validation.required' | translate:{'s':'pulse rate'} }}
                      </div>
                      <div *ngIf="form.get('vitalSign').get('pulseRate').errors.maxlength">
                          {{ 'validation.maxLength' | translate:{'s':'8', 'ctrl': 'pulse rate'} }}
                      </div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'records.vital-sign-obj.respiratory-rate' | translate }}</mat-label>
                    <input matInput formControlName="respiratoryRate">
                    <span matSuffix>bpm</span>
                    <mat-error *ngIf="form.get('vitalSign').get('respiratoryRate').errors">
                      <div *ngIf="form.get('vitalSign').get('respiratoryRate').errors.required">
                          {{ 'validation.required' | translate:{'s':'respiratory rate'} }}
                      </div>
                      <div *ngIf="form.get('vitalSign').get('respiratoryRate').errors.maxlength">
                          {{ 'validation.maxLength' | translate:{'s':'6', 'ctrl': 'respiratory rate'} }}
                      </div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <button mat-flat-button color="primary" matStepperNext type="button">{{ 'common.next' | translate }}</button>
            </div>

        </mat-step>
        <mat-step formGroupName="physicalExam" [stepControl]="form.get('physicalExam')">
            <ng-template matStepLabel>{{ 'records.physical-exam' | translate }}</ng-template>
            <div class="form-field-block" style="justify-content: flex-start;">
                <mat-form-field appearance="outline" style="margin-right: 20px;">
                    <mat-label>{{ 'records.physical-exam-obj.height' | translate }}</mat-label>
                    <input matInput formControlName="height">
                    <span matSuffix>cm</span>
                    <mat-error *ngIf="form.get('physicalExam').get('height').errors">
                      <div *ngIf="form.get('physicalExam').get('height').errors.required">
                          {{ 'validation.required' | translate:{'s':'height'} }}
                      </div>
                      <div *ngIf="form.get('physicalExam').get('height').errors.maxlength">
                          {{ 'validation.maxLength' | translate:{'s':'6', 'ctrl': 'height'} }}
                      </div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'records.physical-exam-obj.weight' | translate }}</mat-label>
                    <input matInput formControlName="weight">
                    <span matSuffix>kg</span>
                    <mat-error *ngIf="form.get('physicalExam').get('weight').errors">
                      <div *ngIf="form.get('physicalExam').get('weight').errors.required">
                          {{ 'validation.required' | translate:{'s':'weight'} }}
                      </div>
                      <div *ngIf="form.get('physicalExam').get('weight').errors.maxlength">
                          {{ 'validation.maxLength' | translate:{'s':'6', 'ctrl': 'weight'} }}
                      </div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <button mat-flat-button matStepperPrevious type="button">{{ 'common.back' | translate }}</button>
                <button mat-flat-button color="primary" matStepperNext type="button">{{ 'common.next' | translate }}</button>
            </div>
        </mat-step>
        <mat-step formGroupName="chiefCompliant" [stepControl]="form.get('chiefCompliant')">

            <ng-template matStepLabel>{{ 'records.chief-complain' | translate }}</ng-template>
            <editor formControlName="chiefCompliant" [init]="{plugins: 'link', branding: false}" [apiKey]="'6pnq043thyrdl0xy2pebscsxociv79cmgecrs7erj64buw5o'"></editor>
            <br/>
              <mat-error *ngIf="form.get('chiefCompliant').get('chiefCompliant').errors">
                <div *ngIf="form.get('chiefCompliant').get('chiefCompliant').errors.required">
                    {{ 'validation.required' | translate:{'s':'chief complain'} }}
                </div>
                <div *ngIf="form.get('chiefCompliant').get('chiefCompliant').errors.maxlength">
                    {{ 'validation.maxLength' | translate:{'s':'3000', 'ctrl': 'chief complain'} }}
                </div>
              </mat-error>
            <div>
                <button mat-flat-button matStepperPrevious type="button">{{ 'common.back' | translate }}</button>
                <button mat-flat-button color="primary" matStepperNext type="button">{{ 'common.next' | translate }}</button>
            </div>

        </mat-step>
        <mat-step formGroupName="prescriptions" [stepControl]="form.get('prescriptions')">

            <ng-template matStepLabel>{{ 'records.prescription' | translate }}</ng-template>
            <mat-form-field class="filter-full-width">
                <input type="text" placeholder="Find Drugs" aria-label="Drugs" matInput [formControl]="searchDrugsCtrl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="getDrugs($event)">
                    <mat-option *ngIf="preLoading" class="is-loading"></mat-option>
                    <ng-container *ngIf="!preLoading">
                        <mat-option *ngFor="let option of filteredOptions" [value]="option">
                            <span>{{ option.name }}</span>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>

            <div class="form-field-block" formArrayName="prescriptions" *ngFor="let group of prescriptionArray.controls; let i = index;">
                <div [formGroupName]="i" class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'records.prescription-obj.medicine' | translate }}</mat-label>
                        <input matInput formControlName="medicine">
                        <mat-error *ngIf="getPrescriptionFormGroup(i).controls['medicine'].errors">
                          <div *ngIf="getPrescriptionFormGroup(i).controls['medicine'].errors.required">
                              {{ 'validation.required' | translate:{'s':'medicine'} }}
                          </div>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'records.prescription-obj.preparation' | translate }}</mat-label>
                        <input matInput formControlName="preparation">
                        <mat-error *ngIf="getPrescriptionFormGroup(i).controls['preparation'].errors">
                          <div *ngIf="getPrescriptionFormGroup(i).controls['preparation'].errors.required">
                              {{ 'validation.required' | translate:{'s':'preparation'} }}
                          </div>
                          <div *ngIf="getPrescriptionFormGroup(i).controls['preparation'].errors.maxlength">
                              {{ 'validation.maxLength' | translate:{'s':'150', 'ctrl': 'preparation'} }}
                          </div>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'records.prescription-obj.sig' | translate }}</mat-label>
                        <input matInput formControlName="sig">
                        <mat-error *ngIf="getPrescriptionFormGroup(i).controls['sig'].errors">
                          <div *ngIf="getPrescriptionFormGroup(i).controls['sig'].errors.required">
                              {{ 'validation.required' | translate:{'s':'sig'} }}
                          </div>
                          <div *ngIf="getPrescriptionFormGroup(i).controls['sig'].errors.maxlength">
                              {{ 'validation.maxLength' | translate:{'s':'150', 'ctrl': 'sig'} }}
                          </div>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'records.prescription-obj.quantity' | translate }}</mat-label>
                        <input matInput formControlName="quantity">
                        <mat-error *ngIf="getPrescriptionFormGroup(i).controls['quantity'].errors">
                          <div *ngIf="getPrescriptionFormGroup(i).controls['quantity'].errors.required">
                              {{ 'validation.required' | translate:{'s':'quantity'} }}
                          </div>
                          <div *ngIf="getPrescriptionFormGroup(i).controls['quantity'].errors.maxlength">
                              {{ 'validation.maxLength' | translate:{'s':'3', 'ctrl': 'quantity'} }}
                          </div>
                          <div *ngIf="getPrescriptionFormGroup(i).controls['quantity'].errors.pattern">
                            {{ 'validation.pattern' | translate:{'s': 'quantity'} }}
                          </div>
                        </mat-error>
                    </mat-form-field>
                    <div class="action-btn">
                        <button mat-icon-button type="button" (click)="addPrescription()"><mat-icon>add</mat-icon></button>
                        <button mat-icon-button color="warn" type="button" *ngIf="prescriptionArray.controls.length > 1" (click)="removePrescription(i)"><mat-icon>delete_outline</mat-icon></button>
                    </div>
                </div>
            </div>
            <div>
                <button mat-flat-button matStepperPrevious type="button">{{ 'common.back' | translate }}</button>
                <button mat-flat-button color="primary" matStepperNext type="button">{{ 'common.next' | translate }}</button>
            </div>

        </mat-step>
        <mat-step formGroupName="presentIllness" [stepControl]="form.get('presentIllness')" optional>

            <ng-template matStepLabel>{{ 'records.present-illness' | translate }}</ng-template>
            <editor formControlName="presentIllness" [init]="{plugins: 'link',toolbar: 'undo redo | bold italic | bullist numlist outdent indent', branding: false}" [apiKey]="'6pnq043thyrdl0xy2pebscsxociv79cmgecrs7erj64buw5o'"></editor>
            <br/>
              <mat-error *ngIf="form.get('presentIllness').get('presentIllness').errors">
                <div *ngIf="form.get('presentIllness').get('presentIllness').errors.maxlength">
                    {{ 'validation.maxLength' | translate:{'s':'3000', 'ctrl': 'present illness'} }}
                </div>
              </mat-error>
            <div>
                <button mat-flat-button matStepperPrevious type="button">{{ 'common.back' | translate }}</button>
                <button mat-flat-button color="primary" matStepperNext type="button">{{ 'common.next' | translate }}</button>
            </div>

        </mat-step>
        <mat-step formGroupName="pastMedical" [stepControl]="form.get('pastMedical')" optional>

            <ng-template matStepLabel>{{ 'records.past-medical' | translate }}</ng-template>
            <editor formControlName="pastMedical" [init]="{plugins: 'link',toolbar: 'undo redo | bold italic | bullist numlist outdent indent', branding: false}" [apiKey]="'6pnq043thyrdl0xy2pebscsxociv79cmgecrs7erj64buw5o'"></editor>
            <br/>
              <mat-error *ngIf="form.get('pastMedical').get('pastMedical').errors">
                <div *ngIf="form.get('pastMedical').get('pastMedical').errors.maxlength">
                    {{ 'validation.maxLength' | translate:{'s':'3000', 'ctrl': 'past medical'} }}
                </div>
              </mat-error>
            <div>
                <button mat-flat-button matStepperPrevious type="button">{{ 'common.back' | translate }}</button>
                <button mat-flat-button color="primary" matStepperNext type="button">{{ 'common.next' | translate }}</button>
            </div>

        </mat-step>
        <mat-step formGroupName="familyHistory" [stepControl]="form.get('familyHistory')" optional>

            <ng-template matStepLabel>{{ 'records.family-history' | translate }}</ng-template>
            <editor formControlName="familyHistory" [init]="{plugins: 'link',toolbar: 'undo redo | bold italic | bullist numlist outdent indent', branding: false}" [apiKey]="'6pnq043thyrdl0xy2pebscsxociv79cmgecrs7erj64buw5o'"></editor>
            <br/>
              <mat-error *ngIf="form.get('familyHistory').get('familyHistory').errors">
                <div *ngIf="form.get('familyHistory').get('familyHistory').errors.maxlength">
                    {{ 'validation.maxLength' | translate:{'s':'3000', 'ctrl': 'family history'} }}
                </div>
              </mat-error>
            <div>
                <button mat-flat-button matStepperPrevious type="button">{{ 'common.back' | translate }}</button>
                <button mat-flat-button color="primary" matStepperNext type="button">{{ 'common.next' | translate }}</button>
            </div>

        </mat-step>
        <mat-step formGroupName="socialHistory" [stepControl]="form.get('socialHistory')" optional>

            <ng-template matStepLabel>{{ 'records.social-history' | translate }}</ng-template>
            <editor formControlName="socialHistory" [init]="{plugins: 'link',toolbar: 'undo redo | bold italic | bullist numlist outdent indent', branding: false}" [apiKey]="'6pnq043thyrdl0xy2pebscsxociv79cmgecrs7erj64buw5o'"></editor>
            <br/>
            <mat-error *ngIf="form.get('socialHistory').get('socialHistory').errors">
              <div *ngIf="form.get('socialHistory').get('socialHistory').errors.maxlength">
                  {{ 'validation.maxLength' | translate:{'s':'3000', 'ctrl': 'social history'} }}
              </div>
            </mat-error>
            <div>
                <button mat-flat-button matStepperPrevious type="button">{{ 'common.back' | translate }}</button>
                <button mat-flat-button color="primary" matStepperNext type="button">{{ 'common.next' | translate }}</button>
            </div>

        </mat-step>
        <mat-step formGroupName="assessments" [stepControl]="form.get('assessments')" optional>

            <ng-template matStepLabel>{{ 'records.assessment' | translate }}</ng-template>
            <editor formControlName="assessments" [init]="{plugins: 'link',toolbar: 'undo redo | bold italic | bullist numlist outdent indent', branding: false}" [apiKey]="'6pnq043thyrdl0xy2pebscsxociv79cmgecrs7erj64buw5o'"></editor>
            <br/>
            <mat-error *ngIf="form.get('assessments').get('assessments').errors">
              <div *ngIf="form.get('assessments').get('assessments').errors.maxlength">
                  {{ 'validation.maxLength' | translate:{'s':'3000', 'ctrl': 'assessments'} }}
              </div>
            </mat-error>
            <div>
                <button mat-flat-button matStepperPrevious type="button">{{ 'common.back' | translate }}</button>
                <button mat-flat-button color="primary" matStepperNext type="button">{{ 'common.next' | translate }}</button>
            </div>

        </mat-step>
        <mat-step formGroupName="progressNotes" [stepControl]="form.get('progressNotes')" optional>

            <ng-template matStepLabel>{{ 'records.progress-notes' | translate }}</ng-template>
            <editor formControlName="progressNotes" [init]="{plugins: 'link',toolbar: 'undo redo | bold italic | bullist numlist outdent indent', branding: false}" [apiKey]="'6pnq043thyrdl0xy2pebscsxociv79cmgecrs7erj64buw5o'"></editor>
            <br/>
            <mat-error *ngIf="form.get('progressNotes').get('progressNotes').errors">
              <div *ngIf="form.get('progressNotes').get('progressNotes').errors.maxlength">
                  {{ 'validation.maxLength' | translate:{'s':'3000', 'ctrl': 'progress notes'} }}
              </div>
            </mat-error>
            <div>
                <button mat-flat-button matStepperPrevious type="button">{{ 'common.back' | translate }}</button>
                <button mat-flat-button color="primary" matStepperNext type="button">{{ 'common.next' | translate }}</button>
            </div>

        </mat-step>
        <mat-step>
            <ng-template matStepLabel>{{ 'common.finish' | translate }}</ng-template>
            <p [innerHTML]="'common.finish-note' | translate"></p>
            <div>
                <button mat-flat-button matStepperPrevious type="button">{{ 'common.back' | translate }}</button>
                <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">{{ 'common.submit' | translate }}</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>

</form>
