:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("/assets/images/cellphone-repair.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
