mat-row.detail-row {
    min-height: 0;
}

mat-row mat-cell.mat-cell.cdk-column-action.mat-column-action button {
    visibility: hidden;
}

mat-row:hover mat-cell.mat-cell.cdk-column-action.mat-column-action button {
    visibility: visible;
}

mat-cell.mat-cell.cdk-column-select.mat-column-select {
    max-width: 30px;
}

mat-cell.mat-cell.cdk-column-expandedDetail.mat-column-expandedDetail {
    width: 100% !important;
}

mat-paginator.mat-paginator {
    width: 100%;
}

.mat-column-select {
    overflow: initial;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.hide {
    display: none;
}

.action-button button {
    margin-right: 10px;
    border-radius: 20px !important;
}

.mat-column-action {
    padding-right: 24px;
    justify-content: flex-end;
    display: flex;
}

.mat-column-select {
    max-width: 30px;
}

button#create-new {
    position: fixed;
    right: 1%;
    bottom: 8%;
}

.sub-header {
    min-height: 30px;
    text-transform: uppercase;
    border: none;
}

mat-row {
    border: none;
}

mat-row:hover {
    background: #f5f5f5;
    cursor: pointer;
}

 ::ng-deep .mat-paginator-container {
    justify-content: space-between !important;
}

.selected-item {
    visibility: hidden;
}

.header-row {
    display: none;
}

div#header-list button {
    margin-bottom: 1.25em;
}