<h2 mat-dialog-title>
    {{ dialogTitle | titlecase}}
    <button type="button" mat-button mat-dialog-close><span class="material-icons">
        clear
        </span></button>
</h2>
<mat-dialog-content>
    <!-- *ngIf="!isLoading" -->
    <form [formGroup]="form" class="technician-form" (submit)="onSubmit()">
        <div class="form-field-block">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'basic.firstname' | translate }}</mat-label>
                <input matInput formControlName="firstname" uppercase>
                <mat-error *ngIf="formCtrls.firstname.errors">
                    <div *ngIf="formCtrls.firstname.errors.required">
                        {{ 'validation.required' | translate:{'s':'basic.firstname' | translate} }}
                    </div>
                    <div *ngIf="formCtrls.firstname.errors.maxlength">
                        {{ 'validation.maxLength' | translate:{'s':'30', 'ctrl': 'basic.firstname' | translate} }}
                    </div>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'basic.middlename' | translate }}</mat-label>
                <input matInput formControlName="midlename">
                <mat-error *ngIf="formCtrls.midlename.errors">
                    <div *ngIf="formCtrls.midlename.errors.required">
                        {{ 'validation.required' | translate:{'s':'basic.middlename' | translate} }}
                    </div>
                    <div *ngIf="formCtrls.midlename.errors.maxlength">
                        {{ 'validation.maxLength' | translate:{'s':'30', 'ctrl': 'basic.middlename' | translate} }}
                    </div>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'basic.lastname' | translate }}</mat-label>
                <input matInput formControlName="lastname">
                <mat-error *ngIf="formCtrls.lastname.errors">
                    <div *ngIf="formCtrls.lastname.errors.required">
                        {{ 'validation.required' | translate:{'s':'basic.lastname' | translate} }}
                    </div>
                    <div *ngIf="formCtrls.lastname.errors.maxlength">
                        {{ 'validation.maxLength' | translate:{'s':'30', 'ctrl': 'basic.lastname' | translate} }}
                    </div>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-field-block">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'basic.contact' | translate }}</mat-label>
                <input matInput formControlName="contact">
                <mat-error *ngIf="formCtrls.contact.errors">
                    <div *ngIf="formCtrls.contact.errors.required">
                        {{ 'validation.required' | translate:{'s':'basic.contact' | translate} }}
                    </div>
                    <div *ngIf="formCtrls.contact.errors.maxlength">
                        {{ 'validation.maxLength' | translate:{'s':'11', 'ctrl': 'basic.contact' | translate} }}
                    </div>
                    <div *ngIf="formCtrls.contact.errors.minlength">
                        {{ 'validation.minLength' | translate:{'s':'9', 'ctrl': 'basic.contact' | translate} }}
                    </div>
                    <div *ngIf="formCtrls.contact.errors.pattern">
                        {{ 'validation.pattern' | translate:{'s': 'basic.contact' | translate} }}
                    </div>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'basic.gender' | translate }}</mat-label>
                <mat-select formControlName="gender">
                    <mat-option value="{{ 'basic.gender-option.male' | translate }}">{{ 'basic.gender-option.male' | translate }}</mat-option>
                    <mat-option value="{{ 'basic.gender-option.female' | translate }}">{{ 'basic.gender-option.female' | translate }}</mat-option>
                </mat-select>
                <mat-error *ngIf="formCtrls.gender.errors">
                    <div *ngIf="formCtrls.gender.errors.required">
                        {{ 'validation.required' | translate:{'s':'basic.gender' | translate} }}
                    </div>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'basic.birthdate' | translate }}</mat-label>
                <input matInput readonly [matDatepicker]="picker" formControlName="birthdate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="multi-year" [startAt]="startDate"></mat-datepicker>
                <mat-error *ngIf="formCtrls.birthdate.errors">
                    <div *ngIf="formCtrls.birthdate.errors.required">
                        {{ 'validation.required' | translate:{'s':'basic.birthdate' | translate} }}
                    </div>
                </mat-error>
            </mat-form-field>
        </div>
        <ng-container formArrayName="addresses" *ngIf="addressArray.length > 0">
            <div *ngFor="let address of addressArray.controls; let i = index;" class="addressGroup">
                <ng-container [formGroupName]="i">
                    <div [formGroup]="address">

                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'basic.street-line1' | translate }}</mat-label>
                            <input matInput formControlName="address1">
                            <mat-error *ngIf="getAddresseFormGroup(i).controls['address1'].errors">
                                <div *ngIf="getAddresseFormGroup(i).controls['address1'].errors.required">
                                    {{ 'validation.required' | translate:{'s':'basic.street-line1' | translate} }}
                                </div>
                                <div *ngIf="getAddresseFormGroup(i).controls['address1'].errors.maxlength">
                                    {{ 'validation.maxLength' | translate:{'s':'250', 'ctrl': 'basic.street-line1' | translate} }}
                                </div>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'basic.street-line2' | translate }}</mat-label>
                            <input matInput formControlName="address2">
                            <mat-error *ngIf="getAddresseFormGroup(i).controls['address2'].errors">
                                <div *ngIf="getAddresseFormGroup(i).controls['address2'].errors.required">
                                    {{ 'validation.required' | translate:{'s':'basic.street-line2' | translate} }}
                                </div>
                                <div *ngIf="getAddresseFormGroup(i).controls['address2'].errors.maxlength">
                                    {{ 'validation.maxLength' | translate:{'s':'250', 'ctrl': 'basic.street-line2' | translate} }}
                                </div>
                            </mat-error>
                        </mat-form-field>

                        <div class="form-field-block">
                            <mat-form-field appearance="outline">
                                <mat-label>{{ 'basic.city' | translate }}</mat-label>
                                <input matInput formControlName="city">
                                <mat-error *ngIf="getAddresseFormGroup(i).controls['city'].errors">
                                    <div *ngIf="getAddresseFormGroup(i).controls['city'].errors.required">
                                        {{ 'validation.required' | translate:{'s':'basic.city' | translate} }}
                                    </div>
                                    <div *ngIf="getAddresseFormGroup(i).controls['city'].errors.maxlength">
                                        {{ 'validation.maxLength' | translate:{'s':'50', 'ctrl': 'basic.city' | translate} }}
                                    </div>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>{{ 'basic.province' | translate }}</mat-label>
                                <input matInput formControlName="province">
                                <mat-error *ngIf="getAddresseFormGroup(i).controls['province'].errors">
                                    <div *ngIf="getAddresseFormGroup(i).controls['province'].errors.required">
                                        {{ 'validation.required' | translate:{'s':'basic.province' | translate} }}
                                    </div>
                                    <div *ngIf="getAddresseFormGroup(i).controls['province'].errors.maxlength">
                                        {{ 'validation.maxLength' | translate:{'s':'50', 'ctrl': 'basic.province' | translate} }}
                                    </div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-field-block">
                            <mat-form-field appearance="outline">
                                <mat-label>{{ 'basic.postal-code' | translate }}</mat-label>
                                <input matInput formControlName="postalCode">
                                <mat-error *ngIf="getAddresseFormGroup(i).controls['postalCode'].errors">
                                    <div *ngIf="getAddresseFormGroup(i).controls['postalCode'].errors.required">
                                        {{ 'validation.required' | translate:{'s':'basic.postal-code' | translate} }}
                                    </div>
                                    <div *ngIf="getAddresseFormGroup(i).controls['postalCode'].errors.maxlength">
                                        {{ 'validation.maxLength' | translate:{'s':'6', 'ctrl': 'basic.postal-code' | translate} }}
                                    </div>
                                    <div *ngIf="getAddresseFormGroup(i).controls['postalCode'].errors.pattern">
                                        {{ 'validation.pattern' | translate:{'s': 'basic.postal-code' | translate} }}
                                    </div>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>{{ 'settings.locale-option.country' | translate }}</mat-label>
                                <mat-select formControlName="country">
                                    <mat-option [value]="option.value" *ngFor="let option of countries">{{ option.viewValue }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="action">
                            <div class="form-field-block">
                                <mat-checkbox formControlName="current">{{ 'basic.set-current' | translate }}</mat-checkbox>
                            </div>
                            <div class="form-action">
                                <button mat-icon-button *ngIf="addressArray.controls.length < 2" (click)="addAddress()" type="button"><mat-icon>add</mat-icon></button>
                                <button mat-icon-button color="warn" *ngIf="addressArray.controls.length > 1" (click)="removeAddress(i)" type="button"><mat-icon>delete_outline</mat-icon></button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
        <button type="submit" mat-button cdkFocusInitial>{{buttonLabel}}</button>
    </form>
</mat-dialog-content>