<mat-card class="example-card" (click)="onProfile(personId)">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
        <mat-icon mat-list-icon class="md-48">face</mat-icon>
    </div>
    <mat-card-title>{{fullname}}</mat-card-title>
    <mat-card-subtitle>Created : {{created | date}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl class="recepient-detail">
        <dt>Gender</dt> <dd>: {{gender}}</dd>
        <dt>Birthdate</dt> <dd>: {{birthdate | date}}</dd>
        <dt>Contact</dt> <dd>: {{contact}}</dd>
        <dt>Address</dt> <dd>: {{address}}</dd>
    </dl>
  </mat-card-content>
</mat-card>
<mat-list>
  <mat-list-item *ngFor="let message of messages">
    <mat-icon mat-list-icon class="md-24">face</mat-icon>
    <h4 mat-line>{{message.fullname}} <small> {{message.created | date}} </small></h4>
    <p mat-line> {{message.message}} </p>
  </mat-list-item>
</mat-list>
<app-message-edit [threadId]="threadId"></app-message-edit>
