.mat-card {
  border-radius: 0;
  box-shadow: unset !important;
  border-bottom: 1px solid rgba(0,0,0,.14);
}
mat-icon.md-48 {
  font-size:52px !important;
}
mat-icon.md-24 {
  font-size: 30px !important;
}
.recepient-detail dt {
  float: left;
}
.recepient-detail dd {
  padding-left: 4em;
}

h4.mat-line small {
  position: relative;
}
h4.mat-line small:before {
  content: "*";
}
.mat-list-item-content {
  flex-wrap: wrap !important;
}
div#reply-area {
  height: 570px;
  overflow-y: auto;
}
mat-list {
  min-height: 348px;
}
.mat-card-subtitle {
  margin-bottom: unset;
}

.mat-card-avatar {
  height: unset;
  width: unset;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}
.thread-starter-user-detail {
  padding: 1em 0 0 1em;
}
.mat-list-text.message-list {
  margin-left: 1em;
}
