<mat-card class="example-card" style="min-height: 70px; border-radius: 0;" (click)="onProfile(personId)">
  <div *ngIf="isLoading" class="loading">
      <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <mat-card-header *ngIf="!isLoading">
    <div mat-card-avatar class="example-header-image">
        <div *ngIf="avatar; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <img [src]="avatar" [alt]="fullname" style="width:70px; height:70px; vertical-align: middle;border-radius: 100%;" />
        </ng-template>
        <ng-template #elseBlock>
            <img src="assets/images/blank.png" [alt]="fullname" style="width:70px; height:70px; vertical-align: middle;border-radius: 100%;" />
        </ng-template>
    </div>
    <div class="thread-starter-user-detail">
        <mat-card-title>{{fullname}}</mat-card-title>
        <mat-card-subtitle>Created : {{created}}</mat-card-subtitle>
    </div>

  </mat-card-header>
</mat-card>
<div id="reply-area" style="min-height: 516px;">
  <div *ngIf="isLoading" class="loading">
      <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <div *ngIf="!isLoading">
    <perfect-scrollbar style="max-height: 516px;">
      <mat-list>
        <mat-list-item *ngFor="let message of messages">
          <div *ngIf="message.avatar; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
              <img [src]="message.avatar" [alt]="message.fullname" style="width:40px; height:40px; vertical-align: middle;border-radius: 100%;" />
          </ng-template>
          <ng-template #elseBlock>
              <img src="assets/images/blank.png" [alt]="message.fullname" style="width:40px; height:40px; vertical-align: middle;border-radius: 100%;" />
          </ng-template>
          <div class="mat-list-text message-list">
              <h4 mat-line>{{message.fullname}} <small> {{message.created}} </small></h4>
              <p mat-line> {{message.message}} </p>
          </div>
        </mat-list-item>
      </mat-list>
    </perfect-scrollbar>
    <app-message-edit [threadId]="threadId"></app-message-edit>
  </div>
</div>

