.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.is-loading ::ng-deep .mat-option-text {
  display: flex;
  justify-content: center;
}

form.message-form {
  padding: 1em;
  border-top: 1px solid rgba(0,0,0,.14);
  /*position: fixed;
  bottom: 95px;
  width: 32.3%;*/
}
