<form class="message-form" [formGroup]='form' (submit)="onSend()">

  <h4 display-4>{{ threadId ? 'Reply' : 'New Message'}}</h4>

  <mat-form-field class="example-full-width" *ngIf="!threadId">
    <input type="text" placeholder="Type a name or multiple names" aria-label="Patient" matInput formControlName='userInput' [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let user of filteredUsers" [value]="user">
          <span>{{ user.name }}</span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Write a message" formControlName="message"></textarea>
  </mat-form-field>

  <button mat-stroked-button color="primary">Send</button>
</form>

