<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Hash: {{blockchain?.hash}}</mat-card-title>
    <mat-card-subtitle>Nonce: {{blockchain?.nonce}} <span style="float: right;">{{blockchain?.timestamp | date:'medium'}}</span></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout="row wrap">
    <div fxFlex="50%">
      <h3>Vital Sign</h3>
      <ul>
        <li>
          <span>Temperature</span>
          <label>
            {{blockchain?.transactions.data.vitalSign.temperature}}
            <span matSuffix>°C</span>
          </label>
        </li>
        <li>
          <span>Blood Pressure</span>
          <label>
            {{blockchain?.transactions.data.vitalSign.bloodPressure}}
            <span matSuffix>mmHg</span>
          </label>
        </li>
        <li>
          <span>Pulse Rate</span>
          <label>
            {{blockchain?.transactions.data.vitalSign.pulseRate}}
            <span matSuffix>bpm</span>
          </label>
        </li>
        <li>
          <span>Respiratory Rate</span>
          <label>
            {{blockchain?.transactions.data.vitalSign.respiratoryRate}}
            <span matSuffix>bpm</span>
          </label>
        </li>
      </ul>
    </div>
    <div fxFlex="50%">
      <h3>Physical Exam</h3>
      <ul>
        <li>
          <span>Height</span>
          <label>
            {{blockchain?.transactions.data.physicalExam.height}}
            <span matSuffix>cm</span>
          </label>
        </li>
        <li>
          <span>Weight</span>
          <label>
            {{blockchain?.transactions.data.physicalExam.weight}}
            <span matSuffix>kg</span>
          </label>
        </li>
      </ul>
    </div>
    <div fxFlex="100%">
      <h3>Chief Complaint</h3>
      <div [innerHTML]="blockchain?.transactions.data.chiefCompliant.chiefCompliant ? blockchain?.transactions.data.chiefCompliant.chiefCompliant : '--'"></div>
    </div>
    <div fxFlex="100%">
      <h3>Prescription</h3>
      <table mat-table [dataSource]="dataSource">
        <!-- Medicine Column -->
        <ng-container matColumnDef="medicine">
          <th mat-header-cell *matHeaderCellDef> Medicine </th>
          <td mat-cell *matCellDef="let element"> {{element.medicine}} </td>
        </ng-container>
        <!-- Preparation Column -->
        <ng-container matColumnDef="preparation">
          <th mat-header-cell *matHeaderCellDef> Preparation </th>
          <td mat-cell *matCellDef="let element"> {{element.preparation}} </td>
        </ng-container>
        <!-- Sig Column -->
        <ng-container matColumnDef="sig">
          <th mat-header-cell *matHeaderCellDef> Sig </th>
          <td mat-cell *matCellDef="let element"> {{element.sig}} </td>
        </ng-container>
        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div fxFlex="33.333%">
      <h3>Present Illness</h3>
      <div [innerHTML]="blockchain?.transactions.data.presentIllness.presentIllness ? blockchain?.transactions.data.presentIllness.presentIllness : '--'"></div>
    </div>
    <div fxFlex="33.333%">
      <h3>Past Medical</h3>
      <div [innerHTML]="blockchain?.transactions.data.pastMedical.pastMedical ? blockchain?.transactions.data.pastMedical.pastMedical : '--'"></div>
    </div>
    <div fxFlex="33.333%">
      <h3>Family History</h3>
      <div [innerHTML]="blockchain?.transactions.data.familyHistory.familyHistory ? blockchain?.transactions.data.familyHistory.familyHistory : '--'"></div>
    </div>
    <div fxFlex="33.333%">
      <h3>Social History</h3>
      <div [innerHTML]="blockchain?.transactions.data.socialHistory.socialHistory ? blockchain?.transactions.data.socialHistory.socialHistory : '--'"></div>
    </div>
    <div fxFlex="33.333%">
      <h3>Assessment</h3>
      <div [innerHTML]="blockchain?.transactions.data.assessments.assessments ? blockchain?.transactions.data.assessments.assessments : '--'"></div>
    </div>
    <div fxFlex="33.333%">
      <h3>Progress Notes</h3>
      <div [innerHTML]="blockchain?.transactions.data.progressNotes.progressNotes ? blockchain?.transactions.data.progressNotes.progressNotes : '--'"></div>
    </div>
    <div fxFlex="100%">
      <h3>Files</h3>
    </div>
  </mat-card-content>
</mat-card>
