<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ 'records.hash' | translate }}: {{blockchain?.hash}}</mat-card-title>
    <mat-card-subtitle>{{ 'records.nonce' | translate }}: {{blockchain?.nonce}} <span style="float: right;">{{blockchain?.timestamp | date:'medium'}}</span></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout="row wrap">
    <div fxFlex="50%">
      <h3>{{ 'records.vital-sign' | translate }}</h3>
      <ul>
        <li>
          <span>{{ 'records.vital-sign-obj.temperature' | translate }}</span>
          <label>
            {{blockchain?.transactions.data.vitalSign.temperature}}
            <span matSuffix>°C</span>
          </label>
        </li>
        <li>
          <span>{{ 'records.vital-sign-obj.blood-pressure' | translate }}</span>
          <label>
            {{blockchain?.transactions.data.vitalSign.bloodPressure}}
            <span matSuffix>mmHg</span>
          </label>
        </li>
        <li>
          <span>{{ 'records.vital-sign-obj.pulse-rate' | translate }}</span>
          <label>
            {{blockchain?.transactions.data.vitalSign.pulseRate}}
            <span matSuffix>bpm</span>
          </label>
        </li>
        <li>
          <span>{{ 'records.vital-sign-obj.respiratory-rate' | translate }}</span>
          <label>
            {{blockchain?.transactions.data.vitalSign.respiratoryRate}}
            <span matSuffix>bpm</span>
          </label>
        </li>
      </ul>
    </div>
    <div fxFlex="50%">
      <h3>{{ 'records.physical-exam' | translate }}</h3>
      <ul>
        <li>
          <span>{{ 'records.physical-exam-obj.height' | translate }}</span>
          <label>
            {{blockchain?.transactions.data.physicalExam.height}}
            <span matSuffix>cm</span>
          </label>
        </li>
        <li>
          <span>{{ 'records.physical-exam-obj.weight' | translate }}</span>
          <label>
            {{blockchain?.transactions.data.physicalExam.weight}}
            <span matSuffix>kg</span>
          </label>
        </li>
      </ul>
    </div>
    <div fxFlex="100%">
      <h3>{{ 'records.chief-complain' | translate }}</h3>
      <div [innerHTML]="blockchain?.transactions.data.chiefCompliant.chiefCompliant ? blockchain?.transactions.data.chiefCompliant.chiefCompliant : '--'"></div>
    </div>
    <div fxFlex="100%">
      <h3>{{ 'records.prescription' | translate }}</h3>
      <table mat-table [dataSource]="dataSource">
        <!-- Medicine Column -->
        <ng-container matColumnDef="medicine">
          <th mat-header-cell *matHeaderCellDef> {{ 'records.prescription-obj.medicine' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.medicine}} </td>
        </ng-container>
        <!-- Preparation Column -->
        <ng-container matColumnDef="preparation">
          <th mat-header-cell *matHeaderCellDef> {{ 'records.prescription-obj.preparation' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.preparation}} </td>
        </ng-container>
        <!-- Sig Column -->
        <ng-container matColumnDef="sig">
          <th mat-header-cell *matHeaderCellDef> {{ 'records.prescription-obj.sig' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.sig}} </td>
        </ng-container>
        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> {{ 'records.prescription-obj.quantity' | translate }} </th>
          <td mat-cell *matCellDef="let element"> # {{element.quantity}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div fxFlex="33.333%">
      <h3>{{ 'records.present-illness' | translate }}</h3>
      <div [innerHTML]="blockchain?.transactions.data.presentIllness.presentIllness ? blockchain?.transactions.data.presentIllness.presentIllness : '--'"></div>
    </div>
    <div fxFlex="33.333%">
      <h3>{{ 'records.past-medical' | translate }}</h3>
      <div [innerHTML]="blockchain?.transactions.data.pastMedical.pastMedical ? blockchain?.transactions.data.pastMedical.pastMedical : '--'"></div>
    </div>
    <div fxFlex="33.333%">
      <h3>{{ 'records.family-history' | translate }}</h3>
      <div [innerHTML]="blockchain?.transactions.data.familyHistory.familyHistory ? blockchain?.transactions.data.familyHistory.familyHistory : '--'"></div>
    </div>
    <div fxFlex="33.333%">
      <h3>{{ 'records.social-history' | translate }}</h3>
      <div [innerHTML]="blockchain?.transactions.data.socialHistory.socialHistory ? blockchain?.transactions.data.socialHistory.socialHistory : '--'"></div>
    </div>
    <div fxFlex="33.333%">
      <h3>{{ 'records.assessment' | translate }}</h3>
      <div [innerHTML]="blockchain?.transactions.data.assessments.assessments ? blockchain?.transactions.data.assessments.assessments : '--'"></div>
    </div>
    <div fxFlex="33.333%">
      <h3>{{ 'records.progress-notes' | translate }}</h3>
      <div [innerHTML]="blockchain?.transactions.data.progressNotes.progressNotes ? blockchain?.transactions.data.progressNotes.progressNotes : '--'"></div>
    </div>
    <div fxFlex="100%">
      <h3>{{ 'records.files' | translate }}</h3>
    </div>
  </mat-card-content>
</mat-card>
