mat-dialog-content {
    .normal-form {
        .shop-info {
            display: flex;
            flex-direction: row;
        }
        .shop-logo {
            margin-right: 1em;
            width: 15%;
        }
        .shop-detail {
            flex-grow: 1;
            mat-form-field {
                width: 100%;
            }
        }
        .form-field-block {
            display: flex;
            flex-grow: 1;
            flex-direction: row;
            flex-basis: auto;
            justify-content: space-between;
            mat-form-field {
                width: 100%;
                margin: 0 10px;
            }
        }
        .radio-group {
            display: flex;
            flex-direction: column;
            margin: 15px 0;
            .radio-button {
                margin: 5px;
            }
        }
    }
    .danger-zone {
        padding: 10px;
    }
    &::-webkit-scrollbar {
        height: 4px;
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, .26);
    }
}

// .wrapper {
//     flex-grow: 1;
//     margin: 1em 0 3em;
// }
// mat-form-field {
//     width: 100%;
// }
// mat-form-field.time {
//     width: 48%;
//     flex-direction: row;
// }
// .form-field-block {
//     display: flex;
//     flex-grow: 1;
//     flex-direction: row;
//     flex-basis: auto;
// }
// .mat-form-field-flex .mat-form-field-infix ngx-material-timepicker-toggle button {
//     position: absolute !important;
//     right: 0;
//     top: 0;
// }
// .action-button {
//     position: absolute;
//     right: 0;
//     top: 0;
// }
// mat-form-field.contact {
//     width: 48%;
// }
// .image-preview {
//     position: relative;
//     border: 2px solid transparent;
// }
// .image-preview:hover {
//     border: 2px solid #dcdcdc;
// }
// .image-preview button {
//     position: absolute;
//     right: 0;
//     visibility: hidden;
// }
// .image-preview:hover button {
//     visibility: visible;
// }
// .image-preview img {
//     width: 100%;
// }
// div#general-wrapper {
//     display: flex;
//     width: 60%;
//     justify-content: flex-start;
// }
//-----------
// .radio-group,
// .toggle-group {
//     display: flex;
//     flex-direction: column;
//     margin: 15px 0;
// }
// .radio-button {
//     margin: 5px;
// }
// mat-slide-toggle {
//     margin: 5px;
// }
// .shop-info {
//     display: flex;
//     flex-direction: row;
// }
// .shop-logo {
//     margin-right: 1em;
//     width: 15%;
// }
// .shop-detail {
//     flex-grow: 1;
// }