<h2 mat-dialog-title>{{ 'settings.title' | translate }}</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="form" class="normal-form" (submit)="onSubmit()">
        <h3>{{ 'settings.shop-details' | translate }}</h3>
        <div class="shop-info">
          <div class="shop-logo" *ngIf="setting?._id">
            <app-upload [sourceId]="setting?._id" [imagePreview]="imagePath" [size]="100" [defaultImage]="'/assets/images/clinic-blank.png'" [responseListener]="false"></app-upload>
          </div>
          <div class="shop-detail">
            <mat-form-field>
              <mat-label>{{ 'settings.shopname' | translate }}</mat-label>
              <input matInput type="text" formControlName="shopname">
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'settings.shopowner' | translate }}</mat-label>
              <input matInput type="text" formControlName="shopowner">
            </mat-form-field>
          </div>
        </div>

        <h3>{{ 'settings.language' | translate }}</h3>
        <mat-radio-group formControlName="language" aria-label="Select an language" class="radio-group">
            <mat-radio-button value="en" class="radio-button">{{ 'settings.language-option.en' | translate }}</mat-radio-button>
            <mat-radio-button value="de" class="radio-button">{{ 'settings.language-option.de' | translate }}</mat-radio-button>
            <mat-radio-button value="ar" class="radio-button">{{ 'settings.language-option.ar' | translate }}</mat-radio-button>
        </mat-radio-group>

        <h3>{{ 'settings.notifications' | translate }}</h3>
        <div class="toggle-group">
            <mat-slide-toggle formControlName="appointments" class="toggle">{{ 'settings.new-canceled-appointment' | translate }}</mat-slide-toggle>
            <mat-slide-toggle formControlName="updates" class="toggle">{{ 'settings.update-features' | translate }}</mat-slide-toggle>
        </div>
    </form>
    <div class="danger-zone">
        <p>{{ 'settings.delete-account-note' | translate }}</p>
        <button mat-flat-button type="button" color="warn">{{ 'settings.delete-account' | translate }}</button>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{ 'common.close' | translate }}</button>
    <button mat-button (click)="onSubmit()" cdkFocusInitial>{{ 'common.update' | translate }}</button>
</mat-dialog-actions>
