<div class="primary-header">
  <h1>Appointment List</h1>
</div>
<div class="wrapper">
  <div gdAreas="header header | content side | footer footer" gdGap="10px" gdRows="auto auto auto" gdColumns="auto 350px" gdAreas.lt-md="header | content | side | footer" gdRows.lt-md="auto auto auto auto" gdColumns.lt-md="auto">
    <div class="area header" gdArea="header">
      <div fxLayout='row'>
        <div class="search-div" fxFlex="80" fxFlex.sm="100%" fxFlex.md="90%">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" autocomplete="off">
            </mat-form-field>
        </div>
        <div class="action-button" fxFlex="20" fxFlex.sm="100%" fxFlex.md="20%">
          <button mat-flat-button color="warn" (click)="onDelete()" [disabled]="!isAllSelected()">
            <mat-icon>delete_sweep</mat-icon> Delete
          </button>
          <button mat-flat-button color="primary" (click)="onCreate()">
            <mat-icon>add</mat-icon> Add New
          </button>
        </div>
      </div>
    </div>

    <div class="area content" gdArea="content">
        <!-- table -->
        <mat-table [dataSource]="dataSource" matSort>
          <!-- Image Column -->

            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                  </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
              </mat-cell>
            </ng-container>

          <ng-container matColumnDef="img" cdkColumnDef="userImg">
             <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
             <mat-cell *matCellDef="let row">
                 <div *ngIf="row.avatar; then thenBlock else elseBlock"></div>
                 <ng-template #thenBlock>
                     <img [src]="row.avatar" [alt]="row.firstname" style="width:40px; height:40px; vertical-align: middle;border-radius: 100%;" />
                 </ng-template>
                 <ng-template #elseBlock>
                    <ngx-avatar name="{{row.fullname}}" size="40"></ngx-avatar>
                 </ng-template>
             </mat-cell>
         </ng-container>
         <!-- Fullname Column -->
         <ng-container matColumnDef="fullname">
             <mat-header-cell *matHeaderCellDef> Fullname </mat-header-cell>
             <mat-cell *matCellDef="let row"> {{ row.fullname }} </mat-cell>
         </ng-container>

           <!-- Title Column -->
           <ng-container matColumnDef="title">
               <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
               <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
           </ng-container>

           <!-- Start Column -->
           <ng-container matColumnDef="start">
               <mat-header-cell *matHeaderCellDef> Start </mat-header-cell>
               <mat-cell *matCellDef="let row"> {{ row.start | date }} </mat-cell>
           </ng-container>

           <!-- Status Column -->
           <ng-container matColumnDef="status">
               <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
               <mat-cell *matCellDef="let row">
                   <ng-template [ngIf]="row.status === 0"><span style="color:#ff4081;font-weight: bold;">Pending</span></ng-template>
                   <ng-template [ngIf]="row.status === 1"><span style="color:#3f51b5;font-weight: bold;">Confirmed</span></ng-template>
                   <ng-template [ngIf]="row.status === 2"><span style="color:#f44336;font-weight: bold;">Canceled</span></ng-template>
               </mat-cell>
           </ng-container>

           <ng-container matColumnDef="action">
               <mat-header-cell *matHeaderCellDef style="text-align: right;">
               </mat-header-cell>
               <mat-cell *matCellDef="let row">
                  <button mat-icon-button (click)="onCreate(row.id)" aria-label="Update">
                      <mat-icon>launch</mat-icon>
                  </button>

               </mat-cell>
           </ng-container>
           <ng-container matColumnDef="loading">
               <mat-footer-cell *matFooterCellDef colspan="3">
                   <p class="mat-body">Loading data...</p>
               </mat-footer-cell>
           </ng-container>
           <ng-container matColumnDef="noData">
               <mat-footer-cell *matFooterCellDef colspan="3" id="no-data">
                   <p class="mat-body">No appointment data.</p>
               </mat-footer-cell>
           </ng-container>
           <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
           <mat-row matRipple *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
           <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': dataSource!=null}"></mat-footer-row>
           <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
       </mat-table>
       <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="perPage"></mat-paginator>
    </div>
    <div class="area side" gdArea="side">
      <!--events-->
      <app-events></app-events>
    </div>
    <div class="area footer" gdArea="footer">

    </div>
  </div>
</div>

