<div class="primary-header">
    <h1>Account settings</h1>
  </div>
  <div class="wrapper">
    <div gdAreas="header header | content side | footer footer" gdGap="10px" gdRows="auto auto auto" gdColumns="auto 350px" gdAreas.lt-md="header | content | side | footer" gdRows.lt-md="auto auto auto auto" gdColumns.lt-md="auto">
      <div class="area header" gdArea="header">
        head
      </div>
      <div class="area content" gdArea="content">
          <p>accounts-works</p>
      </div>
      <div class="area side" gdArea="side">
        <!--events-->
        side
      </div>
      <div class="area footer" gdArea="footer">
        footer
      </div>
    </div>
  </div>

