.wrapper {
  flex-grow: 1;
  margin: 1em 2em;
}

mat-list.mat-list.mat-list-base {
  padding: 0;
}
.mat-list-base .mat-list-item span {
  flex: 1;
  max-width: 20%;
}
.mat-list-base .mat-list-item span mat-form-field {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

mat-form-field:not(:first-child) {
  margin-left: 1em;
}

.form-field-block {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-basis: auto;
}

div#patient-picture .image-preview {
  display: inline-flex;
  margin-right: 2em;
}

textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.mat-dialog-title button {
  float: right;
  border: none;
}

.mat-dialog-title {
  border-bottom: 1px solid rgb(169, 169, 169);
  padding: 0 0 1em 0;
}

.addressGroup,
.metaGroup {
  position: relative;
}

.addressGroup .action,
.metaGroup .action {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
}

.addressGroup:hover .action,
.metaGroup:hover .action {
  visibility: visible;
}

.form-field-block.user-type {
  width: 32%;
}

.danger-zone {
  background: #ffe4e2;
  padding: 15px;
  margin-top: 1em;
  border-top: 2px solid #f44336;
}

:host ::ng-deep .mat-list-item-content {
  padding: 0!important;
}
