<div class="primary-header">
    <h1>Record</h1>
</div>
<div class="wrapper">
    <div gdAreas="header header header | side1 content side2 | footer footer footer" gdGap="10px" gdRows="auto auto auto" gdColumns="200px auto 350px" gdAreas.lt-md="header | side1 | content | side2 | footer" gdRows.lt-md="auto auto auto auto" gdColumns.lt-md="auto">
        <div class="area header" gdArea="header">
            <div class="action-button">
                <button class="mat-raised-button mat-accent" *ngIf="isOnQue" (click)="onCancelVisit(patientId)">Cancel Visit</button>
                <button class="mat-raised-button mat-primary" *ngIf="!isOnQue" (click)="onMoveToQue(patientId)">Move to Que</button>
            </div>
        </div>
        <div class="area content" gdArea="content">
            <form [formGroup]="form" class="normal-form" (submit)="onSubmit()">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" class="flex-row" *ngIf="onGetOption('complaint')?.deleted != true">
                <div fxFlex>
                  <!--complaint-->
                  <mat-card class="card" [ngStyle]="{'height': onGetOption('complaint')?.expanded != true ? '20px' : ''}">
                    <mat-card-header>
                      <mat-card-title>
                        Complaint
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="compaintMenu" aria-label="Toggle menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #compaintMenu="matMenu" xPosition="before">
                          <button mat-menu-item
                          (click)="onSetOption('complaint', onGetOption('complaint')?.expanded == true ? false: true, false)">{{ onGetOption('complaint')?.expanded ? 'Collapse' : 'Expand'}}</button>
                          <button mat-menu-item
                          (click)="onSetOption('complaint', onGetOption('complaint')?.expanded, true)"
                          >Remove</button>
                        </mat-menu>
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="card-content" *ngIf="onGetOption('complaint')?.expanded">
                      <editor [init]="{
                        plugins: 'link',
                        toolbar: 'undo redo | bold italic | bullist numlist outdent indent'
                      }"  [apiKey]="'6pnq043thyrdl0xy2pebscsxociv79cmgecrs7erj64buw5o'"></editor>
                    </mat-card-content>
                  </mat-card>
                </div>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" class="flex-row">
                <div fxFlex="2 2 calc(10em + 10px)" *ngIf="onGetOption('present-illness')?.deleted != true">
                  <!--present-illness-->
                  <mat-card class="card" [ngStyle]="{'height': onGetOption('present-illness')?.expanded != true ? '20px' : ''}">
                    <mat-card-header>
                      <mat-card-title>
                        Present Illness
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="presentIllnessMenu" aria-label="Toggle menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #presentIllnessMenu="matMenu" xPosition="before">
                          <button mat-menu-item
                          (click)="onSetOption('present-illness', onGetOption('present-illness')?.expanded == true ? false: true, false)">{{ onGetOption('present-illness')?.expanded ? 'Collapse' : 'Expand'}}</button>
                          <button mat-menu-item
                          (click)="onSetOption('present-illness', onGetOption('present-illness')?.expanded, true)"
                          >Remove</button>
                        </mat-menu>
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="card-content" *ngIf="onGetOption('present-illness')?.expanded">
                      <editor [init]="{
                        plugins: 'link',
                        toolbar: 'undo redo | bold italic | bullist numlist outdent indent'
                      }"  [apiKey]="'6pnq043thyrdl0xy2pebscsxociv79cmgecrs7erj64buw5o'"  *ngIf="onGetOption('present-illness')?.expanded"></editor>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div fxFlex="2 2 calc(10em + 10px)" *ngIf="onGetOption('past-medical')?.deleted != true">
                  <!--past medical-->
                <mat-card class="card" [ngStyle]="{'height': onGetOption('past-medical')?.expanded != true ? '20px' : ''}">
                    <mat-card-header>
                      <mat-card-title>
                        Past Medical
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="pastMedicalMenu" aria-label="Toggle menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #pastMedicalMenu="matMenu" xPosition="before">
                          <button mat-menu-item
                          (click)="onSetOption('past-medical', onGetOption('past-medical')?.expanded == true ? false: true, false)">{{ onGetOption('past-medical')?.expanded ? 'Collapse' : 'Expand'}}</button>
                          <button mat-menu-item
                          (click)="onSetOption('past-medical', onGetOption('past-medical')?.expanded, true)"
                          >Remove</button>
                        </mat-menu>
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="card-content" *ngIf="onGetOption('past-medical')?.expanded">
                      <editor [init]="{
                        plugins: 'link',
                        toolbar: 'undo redo | bold italic | bullist numlist outdent indent'
                      }"  [apiKey]="'6pnq043thyrdl0xy2pebscsxociv79cmgecrs7erj64buw5o'"></editor>
                    </mat-card-content>
                  </mat-card>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" class="flex-row">
                <div fxFlex="2 2 calc(10em + 10px)" *ngIf="onGetOption('family-history')?.deleted != true">
                  <!--family-history-->
                <mat-card class="card" [ngStyle]="{'height': onGetOption('family-history')?.expanded != true ? '20px' : ''}">
                    <mat-card-header>
                      <mat-card-title>
                        Family history
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="familyHistoryMenu" aria-label="Toggle menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #familyHistoryMenu="matMenu" xPosition="before">
                          <button mat-menu-item
                          (click)="onSetOption('family-history', onGetOption('family-history')?.expanded == true ? false: true, false)">{{ onGetOption('family-history')?.expanded ? 'Collapse' : 'Expand'}}</button>
                          <button mat-menu-item
                          (click)="onSetOption('family-history', onGetOption('family-history')?.expanded, true)"
                          >Remove</button>
                        </mat-menu>
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="card-content" *ngIf="onGetOption('family-history')?.expanded">
                      <editor [init]="{
                        plugins: 'link',
                        toolbar: 'undo redo | bold italic | bullist numlist outdent indent'
                      }"  [apiKey]="'6pnq043thyrdl0xy2pebscsxociv79cmgecrs7erj64buw5o'"></editor>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div fxFlex="2 2 calc(10em + 10px)" *ngIf="onGetOption('social-history')?.deleted != true">
                  <!--social-history-->
                <mat-card class="card" [ngStyle]="{'height': onGetOption('social-history')?.expanded != true ? '20px' : ''}">
                    <mat-card-header>
                      <mat-card-title>
                        Social history
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="socialHistoryMenu" aria-label="Toggle menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #socialHistoryMenu="matMenu" xPosition="before">
                          <button mat-menu-item
                          (click)="onSetOption('social-history', onGetOption('social-history')?.expanded == true ? false: true, false)">{{ onGetOption('social-history')?.expanded ? 'Collapse' : 'Expand'}}</button>
                          <button mat-menu-item
                          (click)="onSetOption('social-history', onGetOption('social-history')?.expanded, true)"
                          >Remove</button>
                        </mat-menu>
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="card-content" *ngIf="onGetOption('social-history')?.expanded">
                      <editor [init]="{
                        plugins: 'link',
                        toolbar: 'undo redo | bold italic | bullist numlist outdent indent'
                      }"  [apiKey]="'6pnq043thyrdl0xy2pebscsxociv79cmgecrs7erj64buw5o'"></editor>
                    </mat-card-content>
                  </mat-card>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" class="flex-row" *ngIf="onGetOption('physical-exam')?.deleted != true">
                <div fxFlex>
                  <!--physical exam-->
                <mat-card class="card" [ngStyle]="{'height': onGetOption('physical-exam')?.expanded != true ? '20px' : ''}">
                    <mat-card-header>
                      <mat-card-title>
                        Physical Exam
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="physicalExamMenu" aria-label="Toggle menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #physicalExamMenu="matMenu" xPosition="before">
                          <button mat-menu-item
                          (click)="onSetOption('physical-exam', onGetOption('physical-exam')?.expanded == true ? false: true, false)">{{ onGetOption('physical-exam')?.expanded ? 'Collapse' : 'Expand'}}</button>
                          <button mat-menu-item
                          (click)="onSetOption('physical-exam', onGetOption('physical-exam')?.expanded, true)"
                          >Remove</button>
                        </mat-menu>
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="card-content" *ngIf="onGetOption('physical-exam')?.expanded">
                      <div class="form-field-block">
                        <mat-form-field appearance="outline">
                          <mat-label>Height</mat-label>
                          <input matInput placeholder="Height">
                          <span matSuffix>cm</span>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Weight</mat-label>
                            <input matInput placeholder="Weight">
                            <span matSuffix>kg</span>
                          </mat-form-field>
                    </div>
                    </mat-card-content>
                  </mat-card>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" class="flex-row" *ngIf="onGetOption('vital-sign')?.deleted != true">
                <div fxFlex>
                  <!--vital-signs-->
                <mat-card class="card" [ngStyle]="{'height': onGetOption('vital-sign')?.expanded != true ? '20px' : ''}">
                    <mat-card-header>
                      <mat-card-title>
                        Vital sign
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="vitalSignMenu" aria-label="Toggle menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #vitalSignMenu="matMenu" xPosition="before">
                          <button mat-menu-item
                          (click)="onSetOption('vital-sign', onGetOption('vital-sign')?.expanded == true ? false: true, false)">{{ onGetOption('vital-sign')?.expanded ? 'Collapse' : 'Expand'}}</button>
                          <button mat-menu-item
                          (click)="onSetOption('vital-sign', onGetOption('vital-sign')?.expanded, true)"
                          >Remove</button>
                        </mat-menu>
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="card-content" *ngIf="onGetOption('vital-sign')?.expanded">
                      <div class="form-field-block">
                        <mat-form-field appearance="outline">
                          <mat-label>Temperature</mat-label>
                          <input matInput placeholder="Temperature">
                          <span matSuffix>°C</span>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                          <mat-label>Blood pressure</mat-label>
                          <input matInput placeholder="Blood pressure">
                          <span matSuffix>mmHg</span>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                          <mat-label>Pulse rate</mat-label>
                          <input matInput placeholder="Pulse rate">
                          <span matSuffix>bpm</span>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                          <mat-label>Respiratory rate</mat-label>
                          <input matInput placeholder="Respiratory rate">
                          <span matSuffix>bpm</span>
                        </mat-form-field>
                    </div>
                    </mat-card-content>
                  </mat-card>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" class="flex-row" *ngIf="onGetOption('prescription')?.deleted != true">
                <div fxFlex>
                  <!--prescription-->
                <mat-card class="card" [ngStyle]="{'height': onGetOption('prescription')?.expanded != true ? '20px' : ''}">
                    <mat-card-header>
                      <mat-card-title>
                        Prescriptions
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="prescriptionMenu" aria-label="Toggle menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #prescriptionMenu="matMenu" xPosition="before">
                          <button mat-menu-item
                          (click)="onSetOption('prescription', onGetOption('prescription')?.expanded == true ? false: true, false)">{{ onGetOption('prescription')?.expanded ? 'Collapse' : 'Expand'}}</button>
                          <button mat-menu-item
                          (click)="onSetOption('prescription', onGetOption('prescription')?.expanded, true)"
                          >Remove</button>
                        </mat-menu>
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="card-content" *ngIf="onGetOption('prescription')?.expanded">
                      <div class="form-field-block" *ngFor="let group of prescriptionArray.controls; let i = index;" >
                        <mat-form-field appearance="outline">
                          <mat-label>Medicine</mat-label>
                          <input matInput formControlName="medicine" placeholder="Medicine">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                          <mat-label>Preparation</mat-label>
                          <input matInput formControlName="preparation" placeholder="Preparation">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                          <mat-label>Sig</mat-label>
                          <input matInput formControlName="sig" placeholder="Sig">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                          <mat-label>Quantity</mat-label>
                          <input matInput formControlName="quantity" placeholder="Quantity">
                        </mat-form-field>
                        <mat-checkbox formControlName="maintenableFlg">Maintenable</mat-checkbox>
                        <div class="action-btn">
                          <button mat-icon-button type="button" (click)="addPrescription()"><mat-icon>add</mat-icon></button>
                          <button mat-icon-button color="warn" type="button" *ngIf="prescriptionArray.controls.length > 1" (click)="removePrescription(i)"><mat-icon>delete_outline</mat-icon></button>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" class="flex-row">
                <div fxFlex="2 2 calc(10em + 10px)" *ngIf="onGetOption('assessment')?.deleted != true">
                  <!--assessment-->
                    <mat-card class="card" [ngStyle]="{'height': onGetOption('assessment')?.expanded != true ? '20px' : ''}">
                      <mat-card-header>
                        <mat-card-title>
                          Assessments
                          <button mat-icon-button class="more-button" [matMenuTriggerFor]="assessmentMenu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #assessmentMenu="matMenu" xPosition="before">
                            <button mat-menu-item
                          (click)="onSetOption('assessment', onGetOption('assessment')?.expanded == true ? false: true, false)">{{ onGetOption('assessment')?.expanded ? 'Collapse' : 'Expand'}}</button>
                          <button mat-menu-item
                          (click)="onSetOption('assessment', onGetOption('assessment')?.expanded, true)"
                          >Remove</button>
                          </mat-menu>
                        </mat-card-title>
                      </mat-card-header>
                      <mat-card-content class="card-content" *ngIf="onGetOption('assessment')?.expanded">
                        <editor [init]="{
                          plugins: 'link',
                          toolbar: 'undo redo | bold italic | bullist numlist outdent indent'
                        }"  [apiKey]="'6pnq043thyrdl0xy2pebscsxociv79cmgecrs7erj64buw5o'"></editor>
                      </mat-card-content>
                    </mat-card>
                </div>
                <div fxFlex="2 2 calc(10em + 10px)" *ngIf="onGetOption('progress-notes')?.deleted != true">
                  <!--progress notes-->
                    <mat-card class="card" [ngStyle]="{'height': onGetOption('progress-notes')?.expanded != true ? '20px' : ''}">
                        <mat-card-header>
                          <mat-card-title>
                            Progress Notes
                            <button mat-icon-button class="more-button" [matMenuTriggerFor]="progressNotesMenu" aria-label="Toggle menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #progressNotesMenu="matMenu" xPosition="before">
                              <button mat-menu-item
                              (click)="onSetOption('progress-notes', onGetOption('progress-notes')?.expanded == true ? false: true, false)">{{ onGetOption('progress-notes')?.expanded ? 'Collapse' : 'Expand'}}</button>
                              <button mat-menu-item
                              (click)="onSetOption('progress-notes', onGetOption('progress-notes')?.expanded, true)"
                              >Remove</button>
                            </mat-menu>
                          </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="card-content" *ngIf="onGetOption('progress-notes')?.expanded">
                          <editor [init]="{
                            plugins: 'link',
                            toolbar: 'undo redo | bold italic | bullist numlist outdent indent'
                          }"  [apiKey]="'6pnq043thyrdl0xy2pebscsxociv79cmgecrs7erj64buw5o'"></editor>
                        </mat-card-content>
                      </mat-card>
                </div>
            </div>
          </form>
        </div>
        <div class="area side" gdArea="side1">
            <app-upload [sourceId]="patientId" [imagePreview]="imagePath"></app-upload>
            <h2 class="mat-subheading-2">{{fullname}}<br/>
              <small class="mat-caption">Created: {{ created | date }}</small>
            </h2>
            <mat-list>
                <h3 mat-subheader>Quick Actions</h3>
                <mat-list-item [routerLink]="['/messages']"><i class="material-icons">
                  message
                  </i> &nbsp; Message </mat-list-item>
                <mat-list-item [routerLink]="['/appointments']"><i class="material-icons">
              calendar_today
              </i> &nbsp; Appointment </mat-list-item>
                <!-- <mat-list-item (click)="viewChart(myUserId)"><i class="material-icons">
            remove_red_eye
                  </i> &nbsp; View Chart </mat-list-item> -->
                <mat-list-item (click)="generateQrCode(patientId)"><i class="material-icons">
                  fingerprint
                  </i> &nbsp; Generate QR Code </mat-list-item>
            </mat-list>
        </div>
        <div class="area side" gdArea="side2">
            <!--events-->
            <!-- <app-ads></app-ads> -->
            <mat-list>

              <mat-list-item *ngFor="let record of records" (click)="onSetOption(record.slug, onGetOption(record.slug)?.expanded, false)">

                <div *ngIf="onGetOption(record.slug)?.deleted == true; else elseBlock">
                  <i class="material-icons">
                    launch
                  </i>
                </div>
                <ng-template #elseBlock>
                  <i class="material-icons">
                    done
                  </i>
                </ng-template>

                    {{record.name}}

              </mat-list-item>
            </mat-list>

        </div>
        <div class="area footer" gdArea="footer">
            <!-- footer -->
        </div>
    </div>
</div>
