<div class="primary-header">
    <h1>Record</h1>
</div>
<div class="wrapper">
    <div gdAreas="header header header | side1 content side2 | footer footer footer" gdGap="10px" gdRows="auto auto auto" gdColumns="200px auto 350px" gdAreas.lt-md="header | side1 | content | side2 | footer" gdRows.lt-md="auto auto auto auto" gdColumns.lt-md="auto">
        <div class="area header" gdArea="header">
            <h2 class="mat-title">Record</h2>
        </div>
        <div class="area content" gdArea="content">
            <h2 class="mat-subheading-2">Blockchain Info<br/>
              <small class="mat-caption">Your blockchain private and public key are very usefull in any instance.Use this to recieve/send token also for persmissions.</small>
            </h2>

        </div>
        <div class="area side" gdArea="side1">
            <!-- <app-upload [sourceId]="patientId" [imagePreview]=""></app-upload> -->
        </div>
        <div class="area side" gdArea="side2">
            <!--events-->
            <app-ads></app-ads>
        </div>
        <div class="area footer" gdArea="footer">
            <!-- footer -->
        </div>
    </div>
</div>
