/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* No css on initial setup */

@import '@fullcalendar/core/main.css';
@import '@fullcalendar/daygrid/main.css';
@import '@fullcalendar/timegrid/main.css';
@import '@fullcalendar/list/main.css';
html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loading {
    right: 45%;
    position: absolute;
    left: 45%;
    margin-left: 0;
    top: 45%;
    margin-top: 0;
    z-index: 9;
}

.mat-drawer.mat-drawer-side {
  z-index: 0;
}
