<h2 mat-dialog-title>{{ formTitle | titlecase }}
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</h2>
<mat-dialog-content class="mat-typography" style="min-height: 300px;">
  <form [formGroup]="form" class="normal-form" (submit)="onSubmit()" *ngIf="!formId">
      <h4 subheading-1>Basic Information</h4>
      <mat-form-field>
        <input type="text" placeholder="Type a name or multiple names" aria-label="Patient" matInput formControlName='userInput' [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let user of filteredUsers" [value]="user">
              <span>{{ user.name }}</span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="title" placeholder="Title">
      </mat-form-field>
      <mat-form-field>
        <input matInput readonly [matDatepicker]="startPicker" formControlName="start" [min]="currentDate" placeholder="Date">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker color="primary"></mat-datepicker>
      </mat-form-field>
  </form>
  <ng-container *ngIf="formId">
      <table *ngIf="!isLoading" class="appointment-detail">
          <tr>
            <td colspan="2">Title: {{title}}</td>
          </tr>
          <tr>
            <td>Start: {{start | date}}</td>
            <td>Status:
                <ng-template [ngIf]="status === 0"><span style="color:#ff4081;font-weight: bold;">Pending</span></ng-template>
                <ng-template [ngIf]="status === 1"><span style="color:#3f51b5;font-weight: bold;">Confirmed</span></ng-template>
                <ng-template [ngIf]="status === 2"><span style="color:#f44336;font-weight: bold;">Canceled</span></ng-template>
            </td>
          </tr>
          <tr>
            <td colspan="2">Patient Information</td>
          </tr>
          <tr>
            <td colspan="2">Fullname: {{fullname}}</td>
          </tr>
          <tr>
            <td>Gender: {{gender}}</td>
            <td>Birthdate: {{birthdate | date}}</td>
          </tr>
          <tr>
            <td colspan="2">Contact: {{contact}}</td>
          </tr>
          <tr class="address">
            <td>Address:</td>
            <td>
                <div *ngFor="let adr of address; let i = index;">
                    <ng-container *ngIf="adr.current">
                        <span>Current</span>
                    </ng-container>
                    {{adr.address1}}<br/>
                    <ng-container *ngIf="adr.address2">
                        {{adr.address2}} <br/>
                    </ng-container>
                    {{adr.postalCode}} {{adr.province}}, {{adr.city}}<br/> {{adr.country}}
                </div>
            </td>
          </tr>
        </table>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="!formId">{{formButtontext}}</button>
  <button mat-raised-button color="primary" (click)="onUpdate(formId, 1)" *ngIf="formId">Confirm</button>
  <button mat-raised-button color="warn" (click)="onUpdate(formId, 2)" *ngIf="formId">Cancel</button>
</mat-dialog-actions>
