mat-row.detail-row {
    min-height: 0;
}

mat-row mat-cell.mat-cell.cdk-column-action.mat-column-action button {
    visibility: hidden;
}

mat-row:hover mat-cell.mat-cell.cdk-column-action.mat-column-action button {
    visibility: visible;
}

mat-cell.mat-cell.cdk-column-select.mat-column-select {
    max-width: 30px;
}

mat-cell.mat-cell.cdk-column-expandedDetail.mat-column-expandedDetail {
    width: 100% !important;
}

mat-paginator.mat-paginator {
    width: 100%;
}

.mat-column-select {
  overflow: initial;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.hide {
    display: none;
}

.action-button button {
    margin-right: 10px;
    border-radius: 20px !important;
}

.element-detail {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row;
    flex-grow: 1;
}

.element-detail>.element {
    width: 22%;
}

.element-detail mat-card ::ng-deep .mat-card-header-text {
    /* CSS styles go here */
    margin: 0px; // for example to remove the margin
}

.element-detail>mat-card {
    width: 30%;
}

// .element-detail mat-card:nth-child(2) {
//   width: 10%;
// }

// .element-detail mat-card:first-child {
//   width: 30%;
// }

// .element-detail mat-card:nth-child(3) {
//   width: 30%;
// }

// .element-detail mat-card:last-child {
//   width: 30%;
// }

.detail-row mat-cell {
    padding: unset;
}

.mat-card-header .mat-card-title {
    font-size: 16px;
    font-weight: 400;
}

.mat-card-subtitle {
    margin-bottom: unset;
}

.element-detail mat-card {
    flex: 1 1 auto;
    border-radius: 0;
    box-shadow: none !important;
}

.element-detail mat-card:not(:first-child) {
    border-left: 1px solid #e0e0e0;
}

.mat-column-action {
    padding-right: 24px;
    justify-content: flex-end;
    display: flex;
}

.mat-column-select {
    max-width: 30px;
}

.address {
    display: flex;
    justify-content: space-between;
    div {
        width: 45%;
    }
}

button#create-new {
    position: fixed;
    right: 1%;
    bottom: 8%;
}

.sub-header {
    min-height: 30px;
    text-transform: uppercase;
    border: none;
}

mat-row {
    border: none;
}

mat-row:hover {
    background: #f5f5f5;
    cursor: pointer;
}

::ng-deep .mat-paginator-container {
    justify-content: space-between !important;
}

.selected-item {
    visibility: hidden;
}

.practitioners {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}

.header-row {
  display: none;
}
