<div class="search-div">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" autocomplete="off">
    </mat-form-field>
    <div (click)="onScan()">
        <img src="https://img.icons8.com/material/24/000000/qr-code--v1.png">
    </div>
</div>

<div fxLayout='row' style="margin-bottom: 1em;">
    <div class="action-button" fxFlex="75" fxFlex.sm="100%" fxFlex.md="75%">
        <button mat-stroked-button color="primary" (click)="onPrint()" [disabled]="!isAllSelected()">
      Print
    </button>
        <button mat-stroked-button color="primary" (click)="onExport()" [disabled]="!isAllSelected()">
      Export
    </button>
        <button mat-stroked-button color="warn" (click)="onDelete()" [disabled]="!isAllSelected()">
      Delete
    </button>
    </div>
    <div fxFlex="25" fxFlex.sm="100%" fxFlex.md="25%" style="text-align: right; align-self: center;">
        <label *ngIf="isAllSelected()"><b>{{this.selection.selected.length}}</b> Selected</label>
    </div>
</div>
<mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
    <!-- Item Description Column -->
    <ng-container matColumnDef="patient-counts">
        <mat-header-cell *matHeaderCellDef> Patients ({{length}}) </mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <div *ngIf="column === 'select'">
            <mat-header-cell *matHeaderCellDef>
                <!-- <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"></mat-checkbox> -->
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </mat-cell>
        </div>
        <div *ngIf="column === 'action'; then thenBlockRow else elseBlockRow"></div>
        <ng-template #thenBlockRow>
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <ng-container>
                    <button mat-icon-button (click)="onUpdate(element.id)" aria-label="Edit" matTooltip="Edit" *ngIf="element.isOwned">
                    <mat-icon>create</mat-icon>
                  </button>
                    <button mat-icon-button (click)="onDetail(element.id)" aria-label="Record" matTooltip="Record">
                    <mat-icon>assignment_ind</mat-icon>
                  </button>
                </ng-container>
            </mat-cell>
        </ng-template>
        <ng-template #elseBlockRow>
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{column | titlecase}} </mat-header-cell>
            <div *ngIf="column === 'birthdate'; then thenBlockDate else elseBlockDate"></div>
            <ng-template #thenBlockDate>
                <mat-cell *matCellDef="let element"> {{ element[column] | date }}</mat-cell>
            </ng-template>
            <ng-template [ngIf]="column === 'age'">
                <mat-cell *matCellDef="let element"> {{ element.birthdate | birthday }}</mat-cell>
            </ng-template>
            <ng-template #elseBlockDate>
                <mat-cell *matCellDef="let element"> {{ element[column] | titlecase }}</mat-cell>
            </ng-template>
        </ng-template>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                <mat-card class="address-card">
                    <mat-card-header>
                        <mat-card-title>Address</mat-card-title>
                        <mat-card-subtitle>({{element.address.length}}) address recorded</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="address">
                            <div *ngFor="let address of element.address; let i = index;">
                                <p>
                                    {{address.address1}} <br/>
                                    <ng-container *ngIf="address.address2">
                                        {{address.address2}} <br/>
                                    </ng-container>
                                    {{address.postalCode}} {{address.province}}, {{address.city}}<br/> {{address.country}}
                                </p>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card class="physicians-card">
                    <mat-card-header>
                        <mat-card-title>Physicians</mat-card-title>
                        <mat-card-subtitle>({{element.physicians.length}}) physician connected</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <app-physician *ngFor="let physician of element.physicians" [physician]="physician.userId"></app-physician>
                    </mat-card-content>
                </mat-card>
                <mat-card class="record-card">
                    <mat-card-header>
                        <mat-card-title>Record Chain</mat-card-title>
                        <mat-card-subtitle>(1) record found</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <app-blocks [patientAddress]="element.publicKey"></app-blocks>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-header-row *matHeaderRowDef="['patient-counts']" class="sub-header"></mat-header-row>

    <mat-row matRipple *matRowDef="let element; columns: columnsToDisplay;" (click)="onRowClicked(element)" class="element-row" [class.expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></mat-row>

    <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="8">
            <p class="mat-body">Loading data...</p>
        </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="8">
            <p class="mat-body">No patient data.</p>
        </mat-footer-cell>
    </ng-container>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': dataSource != null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(dataSource != null && length == 0)}"></mat-footer-row>
</mat-table>
<mat-paginator [length]="length" [pageSize]="perPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator>