<div fxLayout="row">
    <div fxFlex="40%" fxFlexAlign="start">
      <mat-form-field>
        <mat-label>{{ 'patients.find-patients' | translate }}</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" autocomplete="off">
        <button mat-icon-button aria-label="" matSuffix matTooltip="Scan QR Code">
          <mat-icon (click)="onScan()">crop_free</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex="40%" fxFlexOffset="20%" fxFlexAlign="end" style="text-align: right;">
      <mat-form-field>
        <mat-label>{{ 'patients.select-label' | translate }}</mat-label>
        <select matNativeControl [(ngModel)]="labelPicked" (ngModelChange)="filterLabel($event)" (selectionChange)="filterLabel($event)">
          <option value="">{{ 'patients.select' | translate }}</option>
          <option *ngFor="let label of labels" [value]="label.id">{{label.label}}</option>
        </select>
      </mat-form-field>
    </div>
</div>

<mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
    <ng-container matColumnDef="view-action">
        <mat-header-cell *matHeaderCellDef>
            <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"></mat-checkbox>
            <button mat-icon-button [matMenuTriggerFor]="matMasterSelect" matTooltip="{{ 'patients.select-action' | translate }}">
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
            <mat-menu #matMasterSelect="matMenu">
                <button mat-menu-item (click)="onToggleSelect('all')">
            <span>{{ 'patients.all' | translate }}</span>
          </button>
                <button mat-menu-item (click)="onToggleSelect('none')">
            <span>{{ 'patients.none' | translate }}</span>
          </button>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="menuLabel" matTooltip="{{ 'labels.manage-labels' | translate }}">
            <mat-icon>label</mat-icon>
          </button>
            <mat-menu #menuLabel="matMenu">
                <button mat-menu-item *ngFor="let label of labels" (click)="onSelectLabel($event, label.id)" class="label-items">
              <mat-icon>label</mat-icon>
              <span>{{label.label}}</span>
              <mat-icon *ngIf="checkLabel(label.id)">check</mat-icon>
            </button>
                <button mat-menu-item (click)="onCreateLabel()" *ngIf="!labelSelected.length">
              <mat-icon>add</mat-icon>
              <span>{{ 'labels.create-labels' | translate }}</span>
            </button>
                <button mat-menu-item (click)="onApplySelectedLabel()" *ngIf="labelSelected.length">
              <span>{{ 'patients.apply' | translate }}</span>
            </button>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="menuAction" aria-label="" matTooltip="{{ 'patients.more-action' | translate }}">
            <mat-icon>more_vert</mat-icon>
          </button>
            <mat-menu #menuAction="matMenu">
                <button mat-menu-item (click)="onPrint()">
              <mat-icon>print</mat-icon>
              <span>{{ 'common.print' | translate }}</span>
            </button>
                <button mat-menu-item (click)="onExport()">
              <mat-icon>cloud_download</mat-icon>
              <span>{{ 'common.export' | translate }}</span>
            </button>
                <button mat-menu-item (click)="onDelete()">
              <mat-icon>delete_outline</mat-icon>
              <span>{{ 'common.delete' | translate }}</span>
            </button>
            </mat-menu>

            <label style="flex: 1 1 auto; text-align: right;"><b>{{ 'patients.num-selected' | translate:{'s':this.selection.selected.length} }}</b></label>
        </mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="patient-counts">
        <mat-header-cell *matHeaderCellDef>{{ 'patients.counts' | translate:{'s':length} }}</mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <div *ngIf="column === 'select'">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="isCheckboxChange(row)"
                [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </mat-cell>
        </div>
        <div *ngIf="column === 'action'; then thenBlockRow else elseBlockRow"></div>
        <ng-template #thenBlockRow>
            <mat-header-cell *matHeaderCellDef>{{ 'patients.action' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <ng-container>
                    <button mat-icon-button (click)="onUpdate(element.id)" matTooltip="{{ 'common.edit' | translate }}" *ngIf="element.isOwned">
                    <mat-icon>create</mat-icon>
                  </button>
                    <button mat-icon-button (click)="onGenerateQr(element.id)" matTooltip="{{ 'common.qr-code' | translate }}" *ngIf="element.isOwned">
                    <mat-icon>crop_free</mat-icon>
                  </button>
                    <button mat-icon-button (click)="onDetail(element)" matTooltip="{{ 'records.title' | translate }}">
                    <mat-icon>assignment_ind</mat-icon>
                  </button>

                </ng-container>
            </mat-cell>
        </ng-template>
        <ng-template #elseBlockRow>
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'basic.'+ column | translate }} </mat-header-cell>
            <div *ngIf="column === 'birthdate'; then thenBlockDate else elseBlockDate"></div>
            <ng-template #thenBlockDate>
                <mat-cell *matCellDef="let element"> {{ element[column] | date }}</mat-cell>
            </ng-template>
            <ng-template [ngIf]="column === 'age'">
                <mat-cell *matCellDef="let element"> {{ element.birthdate | birthday }}</mat-cell>
            </ng-template>
            <ng-template #elseBlockDate>
                <mat-cell *matCellDef="let element"> {{ element[column] | titlecase }}</mat-cell>
            </ng-template>
        </ng-template>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                <mat-card class="address-card">
                    <mat-card-header>
                        <mat-card-title>{{ 'basic.address' | translate }}</mat-card-title>
                        <mat-card-subtitle>{{ 'basic.counts' | translate:{'s':element.address.length} }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="address">
                            <div *ngFor="let address of element.address; let i = index;">
                                <p>
                                    {{address.address1}} <br/>
                                    <ng-container *ngIf="address.address2">
                                        {{address.address2}} <br/>
                                    </ng-container>
                                    {{address.postalCode}} {{address.province}}, {{address.city}}<br/> {{address.country}}
                                </p>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <!-- <mat-card class="record-card">
                  <mat-card-header>
                      <mat-card-title>Labels</mat-card-title>
                      <mat-card-subtitle>({{element.labels.length}}) labels</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <app-items *ngFor="let label of element.labels" [labelId]="label.labelId"></app-items>
                  </mat-card-content>
                </mat-card> -->
                <mat-card class="physicians-card">
                    <mat-card-header>
                        <mat-card-title>{{ 'physicians.title' | translate }}</mat-card-title>
                        <mat-card-subtitle>{{ 'physicians.counts' | translate:{'s':element.physicians.length} }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-list>
                            <app-physician *ngFor="let physician of element.physicians | slice:0:2;" [physician]="physician.userId"></app-physician>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
                <mat-card class="record-card">
                    <mat-card-header>
                        <mat-card-title>{{ 'records.title' | translate }}</mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <app-blocks [patientAddress]="element.publicKey"></app-blocks>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay" [class.header-row]="selection.hasValue()"></mat-header-row>
    <mat-header-row *matHeaderRowDef="['view-action']" [class.header-row]="!selection.hasValue()"></mat-header-row>
    <mat-header-row *matHeaderRowDef="['patient-counts']" class="sub-header"></mat-header-row>

    <mat-row matRipple *matRowDef="let element; columns: columnsToDisplay;" (click)="selection.toggle(element)" class="element-row" [class.expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></mat-row>

    <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="8">
            <p class="mat-body">{{ 'common.loading' | translate:{'s':'patient'} }}</p>
        </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="8">
            <p class="mat-body">{{ 'common.no-data' | translate:{'s':'patient'} }}</p>
        </mat-footer-cell>
    </ng-container>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': dataSource != null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(dataSource != null && length == 0)}"></mat-footer-row>
</mat-table>
<mat-paginator [length]="length" [pageSize]="perPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"></mat-paginator>
