<div *ngIf="isLoading" class="loading">
    <mat-spinner></mat-spinner>
</div>
<div gdAreas="header header | side content | footer footer" gdGap="16px" gdRows="auto auto auto" gdColumns="250px auto" gdAreas.lt-md="header | side | content | footer" gdRows.lt-md="auto auto auto auto" gdColumns.lt-md="auto" *ngIf="!isLoading">
    <div class="area header" gdArea="header">
        <div class="patient-detail">
            <div class="patient-picture">
                <form [formGroup]="profileForm" (submit)="onSavePicture()">
                    <input style="display: none" type="file" (change)="onFileChanged($event)" #filePicker>
                    <div class="image-preview">
                        <button mat-icon-button type="button" color="primary" (click)="filePicker.click()" aria-label="Change Profile Picture">
                      <mat-icon>create</mat-icon>
                  </button>
                        <div *ngIf="avatar; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>
                            <img [src]="avatar" alt="{{firstname + ' ' + midlename + ' ' + lastname}}" />
                        </ng-template>
                        <ng-template #elseBlock>
                            <img src="assets/images/blank.png" alt="{{firstname + ' ' + midlename + ' ' + lastname}}" style="width: 200px;" />
                        </ng-template>
                    </div>
                </form>
                <div *ngIf="isLoadingPic">
                    <mat-progress-bar [color]="color" [mode]="mode" [value]="bufferValue"></mat-progress-bar>
                </div>
            </div>
            <div class="patient-info">
                <div>
                    <div>
                        <div>
                            <h2 class="mat-h2">{{firstname + ' ' + midlename + ' ' + lastname}} </h2>
                        </div>

                        <div class="action-button">
                            <button class="mat-raised-button mat-accent" *ngIf="isOnQue" (click)="onCancelVisit(patientId)">Cancel Visit</button>
                            <button class="mat-raised-button mat-primary" *ngIf="isOnQue" (click)="gotoRecord()">Open Record</button>
                            <button class="mat-raised-button mat-primary" *ngIf="!isOnQue" (click)="moveToQue(patientId)">Move to Que</button>
                        </div>
                    </div>
                    <div>
                        <div *ngFor="let address of addresses; let i = index;" class="address">
                            <address>
                        {{address.address1}} <br/>
                        <ng-container *ngIf="address.address2">
                            {{address.address2}} <br/>
                        </ng-container>
                        {{address.postalCode}} {{address.province}}, {{address.city}} <br/>
                        {{address.country}}
                    </address>
                        </div>
                        <div>
                            <dl>
                                <dt>Contact</dt>
                                <dd>
                                    {{contact}}
                                </dd>
                                <dt>Email</dt>
                                <dd>
                                    <a href="mailto:{{email}}" class="mat-line">{{email}}</a>
                                </dd>
                                <dt>Gender</dt>
                                <dd>
                                    {{gender}}
                                </dd>
                                <dt>Birthdate</dt>
                                <dd>
                                    {{birthdate | date}}
                                </dd>
                            </dl>
                        </div>
                        <div *ngIf="metas.length != 0">
                            <dl>
                                <ng-container *ngFor="let meta of metas; let m = index;">
                                    <dt>{{meta.label}}</dt>
                                    <dd>{{meta.value}}</dd>
                                </ng-container>
                            </dl>
                        </div>
                    </div>
                </div>
                <div>
                    <a mat-stroked-button [routerLink]="['/messages']"><i class="material-icons">
                    message
                </i> &nbsp; Message</a>
                    <a mat-stroked-button [routerLink]="['/appointments']"><i class="material-icons">
                    calendar_today
                </i> &nbsp; Appointment</a>
                    <a mat-stroked-button (click)="downloadChart()"><i class="material-icons">
                    remove_red_eye
                </i> &nbsp; Print Chart</a>
                    <a mat-stroked-button (click)="generateQrCode(patientId)"><i class="material-icons">
                    fingerprint
                </i> &nbsp; Generate QR Code</a>

                </div>
            </div>
        </div>

    </div>
    <div class="area side" gdArea="side">
        <app-record [widget]="'blocks'" [hasPrefix]="true" [prefix]="'cm'" [type]="'height'" [showPrevious]="true" [showDate]="true" [patientId]="patientId"></app-record>
        <br/>
        <app-record [widget]="'blocks'" [hasPrefix]="true" [prefix]="'kg'" [type]="'weight'" [showPrevious]="true" [showDate]="true" [patientId]="patientId"></app-record>
        <br/>
        <app-record [widget]="'blocks'" [hasPrefix]="true" [prefix]="'%'" [type]="'oxygen-saturation'" [showPrevious]="true" [showDate]="true" [patientId]="patientId"></app-record>
        <br/>
        <app-record [widget]="'blocks'" [hasPrefix]="false" [prefix]="" [type]="'pain-score'" [showPrevious]="true" [showDate]="true" [patientId]="patientId"></app-record>
    </div>
    <div class="area content" gdArea="content">
        <div fxLayout='row wrap' fxLayoutGap="10px">
            <div fxFlex="24.2%" fxFlex.xs="100%" fxFlex.sm="47.9%" fxFlex.md="100%" class="fxRecord">
                <app-record [widget]="'blocks'" [hasPrefix]="true" [prefix]="'&#8451;'" [type]="'temperature'" [showPrevious]="true" [showDate]="true" [patientId]="patientId"></app-record>
            </div>
            <div fxFlex="24.2%" fxFlex.xs="100%" fxFlex.sm="47.9%" fxFlex.md="100%" class="fxRecord">
                <app-record [widget]="'blocks'" [hasPrefix]="true" [prefix]="'mmHg'" [type]="'blood-pressure'" [showPrevious]="true" [showDate]="true" [patientId]="patientId"></app-record>
            </div>
            <div fxFlex="24.2%" fxFlex.xs="100%" fxFlex.sm="47.9%" fxFlex.md="100%" class="fxRecord">
                <app-record [widget]="'blocks'" [hasPrefix]="true" [prefix]="'bpm'" [type]="'respiratory-rate'" [showPrevious]="true" [showDate]="true" [patientId]="patientId"></app-record>
            </div>
            <div fxFlex="24.2%" fxFlex.xs="100%" fxFlex.sm="47.9%" fxFlex.md="100%" class="fxRecord">
                <app-record [widget]="'blocks'" [hasPrefix]="true" [prefix]="'bpm'" [type]="'pulse-rate'" [showPrevious]="true" [showDate]="true" [patientId]="patientId"></app-record>
            </div>
            <div fxFlex="49%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="fxRecord hasMinHeight">
                <app-record [widget]="'list'" [hasPrefix]="false" [prefix]="" [type]="'chief-complaint'" [showPrevious]="false" [showDate]="true" [patientId]="patientId"></app-record>
            </div>
            <div fxFlex="49%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="fxRecord hasMinHeight">
                <app-record [widget]="'list'" [hasPrefix]="false" [prefix]="" [type]="'endorsements'" [showPrevious]="false" [showDate]="true" [patientId]="patientId"></app-record>
            </div>
            <div fxFlex="49%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="fxRecord hasMinHeight">
                <app-record [widget]="'list'" [hasPrefix]="false" [prefix]="" [type]="'present-illness-history'" [showPrevious]="false" [showDate]="true" [patientId]="patientId"></app-record>
            </div>
            <div fxFlex="49%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="fxRecord hasMinHeight">
                <app-record [widget]="'list'" [hasPrefix]="false" [prefix]="" [type]="'past-medical-history'" [showPrevious]="false" [showDate]="true" [patientId]="patientId"></app-record>
            </div>
            <div fxFlex="49%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="fxRecord hasMinHeight">
                <app-record [widget]="'list'" [hasPrefix]="false" [prefix]="" [type]="'social-history'" [showPrevious]="false" [showDate]="true" [patientId]="patientId"></app-record>
            </div>
            <div fxFlex="49%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="fxRecord hasMinHeight">
                <app-record [widget]="'list'" [hasPrefix]="false" [prefix]="" [type]="'family-history'" [showPrevious]="false" [showDate]="true" [patientId]="patientId"></app-record>
            </div>
            <div fxFlex="49%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="fxRecord hasMinHeight">
                <app-record [widget]="'list'" [hasPrefix]="false" [prefix]="" [type]="'order'" [showPrevious]="false" [showDate]="true" [patientId]="patientId"></app-record>
            </div>
            <div fxFlex="49%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="fxRecord hasMinHeight">
                <app-record [widget]="'list'" [hasPrefix]="false" [prefix]="" [type]="'progress-notes'" [showPrevious]="false" [showDate]="true" [patientId]="patientId"></app-record>
            </div>
            <div fxFlex="49%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="fxRecord hasMinHeight">
                <app-record [widget]="'table'" [hasPrefix]="false" [prefix]="" [type]="'prescription'" [showPrevious]="false" [showDate]="false" [patientId]="patientId"></app-record>
            </div>
            <div fxFlex="49%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="fxRecord hasMinHeight">
                <app-record [widget]="'grid'" [hasPrefix]="false" [prefix]="" [type]="'assessments'" [showPrevious]="false" [showDate]="false" [patientId]="patientId"></app-record>
            </div>
            <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="fxRecord hasMinHeight">
                <app-record [widget]="'list'" [hasPrefix]="false" [prefix]="" [type]="'immunizations'" [showPrevious]="false" [showDate]="true" [patientId]="patientId"></app-record>
            </div>
            <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" class="fxRecord hasMinHeight">
                <app-record [widget]="'file'" [hasPrefix]="false" [prefix]="" [type]="'test-results'" [showPrevious]="false" [showDate]="false" [patientId]="patientId"></app-record>
            </div>
        </div>
    </div>
    <div class="area footer" gdArea="footer">
        <!-- Footer -->
    </div>
</div>
