<div *ngIf="!userIsAuthenticated">
    <p>Home</p>
</div>
<div *ngIf="userIsAuthenticated">
    <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
        <div fxFlex>
            <app-stat [bgClass]="'danger'" [icon]="'people'" [count]="newPatient" [label]="'New Patient!'" [link]="'patients'"></app-stat>
        </div>
        <div fxFlex>
            <app-stat [bgClass]="'warn'" [icon]="'calendar_today'" [count]="newAppointment" [label]="'New Appointment!'" [link]="'appointments'"></app-stat>
        </div>
        <div fxFlex>
            <app-stat [bgClass]="'success'" [icon]="'message'" [count]="newMessage" [label]="'New Message!'" [link]="'messages'"></app-stat>
        </div>
        <div fxFlex>
            <app-stat [bgClass]="'info'" [icon]="'contact_support'" [count]="canceledVisit" [label]="'Canceled Visit!'" [link]="'visits'"></app-stat>
        </div>
    </div>
    <div fxLayout='row wrap' fxLayout.lt-md="column" fxLayoutGap="20px">
      <div fxFlex="65%" fxFlex.xs="100%"  fxFlex.sm="47.9%" fxFlex.md="100%" class="chart">
          <div class="chart-container">
            <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
            </canvas>
          </div>
      </div>
      <div fxFlex="33%" fxFlex.xs="100%"  fxFlex.sm="47.9%" fxFlex.md="100%" class="que">
          <div class="action-button">
              <button mat-icon-button (click)="onOpen()" aria-label="view">
                  <mat-icon>launch</mat-icon>
              </button>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="more">
                  <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="onClear()">
                      <mat-icon>delete_outline</mat-icon>
                      <span>Clear</span>
                  </button>
              </mat-menu>
          </div>
          <app-que></app-que>
      </div>
    </div>
</div>
