<div *ngIf="!userIsAuthenticated">
    <p>Home</p>
</div>
<div *ngIf="userIsAuthenticated">
    <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
        <div fxFlex>
            <app-stat [bgClass]="'danger'" [icon]="'people'" [count]="newPatient" [label]="'New Patient!'" [link]="'patients'"></app-stat>
        </div>
        <div fxFlex>
            <app-stat [bgClass]="'warn'" [icon]="'calendar_today'" [count]="newAppointment" [label]="'New Appointment!'" [link]="'appointments'"></app-stat>
        </div>
        <div fxFlex>
            <app-stat [bgClass]="'success'" [icon]="'message'" [count]="newMessage" [label]="'New Message!'" [link]="'messages'"></app-stat>
        </div>
        <div fxFlex>
            <app-stat [bgClass]="'info'" [icon]="'contact_support'" [count]="canceledVisit" [label]="'Canceled Visit!'" [link]="'visits'"></app-stat>
        </div>
    </div>
    <mat-grid-list [cols]="breakpoint" rowHeight="350px" [gutterSize]="'10px'">
        <!--<mat-grid-tile [colspan]="1" [rowspan]="1" class="grid-content">
            <div class="grid-inner-content grid-inner-content-list" style="padding: 1em;">
                <h1 class="mat-headline">Stats</h1>
                <div class="chart-container" style="position: relative; height:15vh; width:25vw">
                    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"></canvas>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" class="grid-content">
            <div class="grid-inner-content grid-inner-content-list" style="padding: 1em;">
                <h1 class="mat-headline">Stats</h1>
                <div class="chart-container" style="position: relative; height:15vh; width:25vw">
                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
                </div>
            </div>
        </mat-grid-tile>-->
        <mat-grid-tile [colspan]="2" [rowspan]="2" class="grid-content">
            <div class="grid-inner-content grid-inner-content-list" style="padding: 1em;">
                <h1 class="mat-headline">Stats</h1>
                <div class="chart-container" style="position: relative; height:25vh; width:45vw">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                                </canvas>
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="2" class="grid-content">
            <div class="grid-inner-content grid-inner-content-list" style="padding: 1em;">
                <mat-grid-tile-header>
                    <h3>Queing </h3>
                </mat-grid-tile-header>
                <app-que></app-que>
            </div>
        </mat-grid-tile>

        <!--<mat-grid-tile [colspan]="1" [rowspan]="1" class="grid-content">
            <div class="grid-inner-content grid-inner-content-list" style="padding: 1em;">
                <mat-grid-tile-header>
                    <h3>Update</h3>
                </mat-grid-tile-header>
            </div>
        </mat-grid-tile>-->
    </mat-grid-list>
</div>