<div fxLayout="row" fxLayoutGap="20px">
  <div fxFlex="70%">
    <p *ngIf="isLoading">{{ 'common.loading' | translate:{'s': 'record'} }}</p>
    <ng-container *ngIf="!isLoading">
      <section class="mat-typography" *ngIf="!blockchains?.length">
        <h1 routerLink="../form">{{ 'records.no-record' | translate }}</h1>
    </section>

    <div fxLayout="row wrap" fxLayoutGap="10px" *ngIf="blockchains?.length">
        <mat-card fxFlex="32%" *ngFor="let blockchain of blockchains; let i = index">
            <mat-card-header>
                <mat-card-title>{{ 'records.block' | translate }} {{i + 1}}</mat-card-title>
                <mat-card-subtitle>{{blockchain.timestamp | date:'medium'}} <span style="float: right;"><b>{{ 'records.nonce' | translate }}:</b> {{blockchain.nonce}}</span></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p matLine>{{blockchain.hash}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button
                mat-icon-button
                (click)="onViewRecord(blockchain)"
                matTooltip="{{ 'common.preview' | translate }}"
                [disabled]="!blockchain.hasAccess && blockchain.transactions.fromAddress != this.pubKey">
                  <i class="material-icons">remove_red_eye</i>
                </button>
                <button
                mat-icon-button
                (click)="onViewPrint(blockchain)"
                matTooltip="{{ 'common.print' | translate }}"
                [disabled]="!blockchain.hasAccess && blockchain.transactions.fromAddress != this.pubKey">
                  <i class="material-icons">print</i>
                </button>
                <button
                mat-icon-button
                (click)="onRequest(blockchain._id)"
                matTooltip="Request Permissions"
                *ngIf="blockchain.physicianId === null && blockchain.transactions.fromAddress != this.pubKey">
                  <i class="material-icons">lock</i>
                </button>
                <app-access [physicianId]="blockchain.physicianId"></app-access>
            </mat-card-actions>
        </mat-card>
    </div>
    </ng-container>


  </div>
  <div fxFlex="30%">
    <ng-container *ngIf="!isLoading">
      <button mat-flat-button color="primary" (click)="onRequest()">Request Permissions</button>
      <div class="physicians-list">
        <p>Physicians:</p>
        <mat-list>
          <app-physician *ngFor="let physician of physicians" [physician]="physician.userId"></app-physician>
        </mat-list>
      </div>
      <!-- <div class="permission-list">
        <p>Physicians:</p>
        <mat-list>
          <app-physician *ngFor="let physician of physicians" [physician]="physician.userId"></app-physician>
        </mat-list>
      </div> -->
    </ng-container>

  </div>
</div>


<button mat-fab color="primary" matTooltip="{{ 'common.create' | translate }}" (click)="onCreate()" id="create-new"><mat-icon>add</mat-icon></button>
