
button#create-new {
  position: fixed;
  right: 1%;
  bottom: 8%;
}

section.mat-typography {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

mat-card ::ng-deep .mat-card-header-text {
  /* CSS styles go here */
  margin: 0px; // for example to remove the margin
  width: 100%;
}

mat-card-header ::ng-deep .mat-card-header-text {
  /* CSS styles go here */
  margin: 0px; // for example to remove the margin
}
