<p *ngIf="isLoading">{{ 'common.loading' | translate:{'s': 'record'} }}</p>
<ng-container *ngIf="!(blockchains | async)?.length && !isLoading; else loadBlockchain">
    <section class="mat-typography">
        <h1 routerLink="../form">{{ 'records.no-record' | translate }}</h1>
    </section>
</ng-container>
<ng-template #loadBlockchain>
    <div class="records">
        <mat-card class="block-card" *ngFor="let blockchain of blockchains | async; let i = index">
            <mat-card-header>
                <mat-card-title>{{ 'records.block' | translate }} {{i + 1}}</mat-card-title>
                <mat-card-subtitle>{{blockchain.timestamp | date:'medium'}} <span style="float: right;"><b>{{ 'records.nonce' | translate }}:</b> {{blockchain.nonce}}</span></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p matLine>{{blockchain.hash}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="onViewRecord(blockchain)">{{ 'common.preview' | translate }}</button>
                <button mat-button (click)="onViewPrint(blockchain)">{{ 'common.print' | translate }}</button>
                <button mat-button disabled>{{ 'common.share' | translate }}</button>

            </mat-card-actions>
        </mat-card>
    </div>
</ng-template>

<button mat-fab color="primary" matTooltip="{{ 'common.create' | translate }}" (click)="onCreate()" id="create-new"><mat-icon>add</mat-icon></button>
