<div class="message-list">
  <div *ngIf="isLoading" class="loading">
      <mat-spinner [diameter]="25"></mat-spinner>
  </div>
  <perfect-scrollbar style="max-height: 600px;">
    <mat-list *ngIf="!isLoading">
        <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
        <mat-list-item *ngFor="let thread of threads" [routerLink]="['./', thread.id]" routerLinkActive="active" >
          <mat-icon mat-list-icon class="md-48">face</mat-icon>
          <h4 mat-line>{{thread.fullname}} <small mat-line> {{thread.created }} </small></h4>
          <!-- <a (click)="onDelete(thread.id)">Delete</a> -->
          <p mat-line [ngClass]="{'bold': thread.status==0}"> {{thread.message}} </p>
        </mat-list-item>
        <mat-list-item *ngIf="threads.length === 0">No message available.</mat-list-item>
      </mat-list>
    </perfect-scrollbar>
</div>

