<div class="message-list">
  <div *ngIf="isLoading" class="loading">
      <mat-spinner [diameter]="25"></mat-spinner>
  </div>
  <perfect-scrollbar style="max-height: 600px;">
    <mat-list *ngIf="!isLoading">
        <mat-list-item *ngFor="let thread of threads" [routerLink]="['./', thread.id]" routerLinkActive="active" >
          <div *ngIf="thread.avatar; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
              <img [src]="thread.avatar" [alt]="thread.fullname" style="width:40px; height:40px; vertical-align: middle;border-radius: 100%;" />
          </ng-template>
          <ng-template #elseBlock>
              <img src="assets/images/blank.png" [alt]="thread.fullname" style="width:40px; height:40px; vertical-align: middle;border-radius: 100%;" />
          </ng-template>
          <div class="thread-starter-user">
              <h4 mat-line [title]="thread.fullname">{{thread.fullname | ellipsis:25}} <small mat-line> {{thread.created }} </small></h4>
              <p mat-line [ngClass]="{'bold': thread.status==0}"> {{thread.message}} </p>
          </div>

        </mat-list-item>
        <mat-list-item *ngIf="threads.length === 0">No message available.</mat-list-item>
      </mat-list>
    </perfect-scrollbar>
</div>

