.message-list {
  margin-top: 3em;
}
mat-icon.md-48 {
  font-size: 40px !important;
  width: 40px !important;
  height: 40px !important;
}

mat-list {
  height: 705px;
  overflow-y: auto;
  overflow-x: hidden;
}

small.mat-line {
  float: right;
}

mat-list-item {
  border-left: 3px solid transparent;
  cursor: pointer;
}
mat-list-item.active {
  border-left: 3px solid #3f51b5;
}
