.message-list {
  margin-top: 3em;
}
mat-icon.md-48 {
  font-size: 40px !important;
  width: 40px !important;
  height: 40px !important;
}

mat-list {
  height: 705px;
  overflow-y: overlay;
}

small.mat-line {
  float: right;
}

h4.mat-line {
  cursor: pointer;
}
